<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="{{ .Param "keywords"  }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta content="telephone=no" name="format-detection">
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:image" content="/img/BHTV_landing.jpg" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ .Title }}" />
    <meta property="twitter:description" content="{{ .Description }}" />
    <meta property="twitter:url" content="{{ .Permalink }}" />
    <meta property="twitter:image" content="/img/BHTV_landing.jpg" />
    {{ partial "dns-prefetch.html" . }}
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="search-page">
    {{ partial "header.html" .}}
    <div id="search-results">
        <div id="search-results-header" class="row clearfix">
          <h2 class="search-prefix">{{ .Params.Headline }}</h2>
        </div>
        <div id="search-results-container" class="loadable-container"></div>
      </div>
    {{ partial "footer.html" .}}
    {{ partial "script.html" .}}
</body>
</html>