<% if (products.length) { %>
	<div class="scrollable">
		<div class="scroll-list">
	   <% _.each(products, function(product){ %>
	    <% if (product.id){ %>
	   			<div>
					<a id="product-<%= product.id %>" href="<%= product.linkUrl %>" class="product" data-pid="<%= product.id %>" data-parent="<%= product.entityIdParent %>" target="_blank">
						<div class="ar-content" style="background-image:url(<%= product.imageUrl %>);"></div>
					</a>
					<div id="product-popup-<%= product.id %>" data-pid="<%= product.id %>" data-parent="<%= product.entityIdParent %>" class="product-popup" target="_blank">
						<div class="poster-contain product-img"><div class="ar-content" style="background-image:url(<%= product.imageUrl %>);"></div></div>
						<h2 class="product-title" data-pid="<%= product.id %>" data-parent="<%= product.entityIdParent %>"><a href="<%= product.linkUrl %>" target="_blank"><%= product.title %></a></h2>
						<p class="product-price">$<span class="product-price-holder"><%= product.price %></span></p>
						<button class="call-to-action">View Details</button>
					</div>
				</div>
	    <% } %>
	   <% }); %>
   		</div>
	</div>
<% } %>