/*
    Aspect Ratio
*/
@mixin aspect-ratio($ptg) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: $ptg;
  }
  > .ar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin transition(){
 -moz-transition:    all 0.25s ease;
 -o-transition:      all 0.25s ease;
 -webkit-transition: all 0.25s ease;
 transition:         all 0.25s ease;
}

@mixin center-align($position: relative) {
  position: $position;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}