/**
 * Latest Videos
 */
#latest-videos {
  position: relative;
}

#latest-videos .tvp-slide {
	background-color: #EDEDED;
}

#latest-videos .video a {
	text-decoration: none;
	color: #000;
}

#latest-videos .video {
	margin: 2%;
	cursor: pointer;
}

#latest-videos .video-img-holder {
	position: relative;
	overflow: hidden;
}

#latest-videos .video-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 56.25%;
	height: 0;
	top: -1px;
  border-bottom: 1px solid #fff;
}

#latest-videos .video-img-overlay {
	background-color: rgba(0, 0, 0, 0.35);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

#latest-videos .inactive .video-img-overlay {
	display: none;
}

#latest-videos .touched .video-img-overlay {
	display: block;
}

#latest-videos .hovered .video-img-overlay {
	display: block;
}

#latest-videos .playing .video-img-overlay {
	display: block;
}

#latest-videos .video-duration {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 5px 7px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 2px;
	border: 1px solid #555;
}

#latest-videos .inactive .video-duration {
}

#latest-videos .touched .video-duration {
	display: block;
}

#latest-videos .hovered .video-duration {
	display: none;
}

#latest-videos .playing .video-duration {
	display: none;
}

#latest-videos .video-play-label {
	position: absolute;
	padding: 5px 7px;
	color: #fff;
	font-weight: 700;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	height: 25px;
	font-size: 110%;
}

#latest-videos .inactive .video-play-label {
	display: none;
}

#latest-videos .playing .video-play-label {
	display: none !important;
}

#latest-videos .touched .video-play-label {
	display: block;
}

#latest-videos .hovered .video-play-label {
	display: block;
}

#latest-videos .video-playing-label {
	position: absolute;
	padding: 5px 7px;
	color: #fff;
	font-weight: 700;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	height: 25px;
	font-size: 110%;
}

#latest-videos .inactive .video-playing-label {
	display: none;
}

#latest-videos .hovered .video-playing-label {
	display: none;
}

#latest-videos .touched .video-playing-label {
	display: none;
}

#latest-videos .playing .video-playing-label {
	display: block;
}

#latest-videos .video-title {
	padding: 10px 0;
	height: 55px;
	overflow: hidden;
	line-height: 1.5;
}

.latest-videos-header {
	display: block;
	font-weight: 700;
	padding: 15px 0 0 0;
	text-transform: uppercase;
	position: relative;
	margin-left: 5px;
	text-align: center;
}

.latest-videos-qty {
	background-color: #759F13;
	color: #fff;
	width: 32px;
	height: 22px;
	display: inline-block;
	text-align: center;
	font-size: 53%;
	font-weight: 400;
	border-radius: 2px;
	line-height: 1.9;
	position: relative;
	top: -4px;
	left: 5px;
}

.latest-videos-browse-link {
	position: absolute;
	right: 0;
}

.latest-videos-browse-link > a {
	display: none;
	text-decoration: none;
	font-size: 70%;
	text-transform: none;
	font-weight: 400;
	color: rgb(0, 111, 183);
}

.latest-videos-browse-link > a:hover {
	color: #666;
}