div[class^="tvp-"] {
    box-sizing: border-box;
}

.tvp-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black;
  opacity: 0.5;
}

.tvp-modal {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.tvp-modal-wrapper {
  position: relative;
  width: auto;
  margin: 10px;
}

.tvp-modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.tvp-modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.tvp-modal-title {
  margin: 0;
  line-height: 1.4285;
}
.tvp-title p{
  display: none;
}
.tvp-modal-body {
  position: relative;
}

.tvp-iframe-holder {
  height: 0;
  position: relative;
  transition: height ease-out 0.0001s;
}

/*This is the gallery iframe*/
.tvp-iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*This is the modal iframe*/
.tvp-iframe-modal {
  margin:0;
  border: 0;
  width: 100%;
  height: 0;
  display: block;
}

.tvp-modal-close {
  padding: 0;
  cursor: pointer;
  background: rgb(239, 239, 239);
  border: 0;
  -webkit-appearance: none;
  float: right;
}

/*@media only screen and (min-device-width : 414px) and (orientation: portrait) {
  .tvp-modal {
    width: 390px;
    height: 395px;
  }
}

@media only screen and (min-device-width : 550px) and (orientation: portrait) {
  .tvp-modal {
    width: 520px;
    height: 485px;
  }
}

@media only screen and (min-device-width : 600px) and (orientation: landscape) {
  .tvp-modal {
    width: 520px;
    height: 485px;
  }
}*/