@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .tvp-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin active-state($borderPadding){
  bottom: $borderPadding * -1px;
  border: 1px solid #000;
  cursor: pointer;
  content: " ";
  left: $borderPadding * -1px;
  right: $borderPadding * -1px;
  position: absolute;
  top: $borderPadding * -1px;
}