/*Combo StyleSheet*/

/* Font Family and http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts for Easy Access
font-family:"Q Stencil", 'Bodoni SvtyTwo ITC TT', Didot, serif; font-weight:normal; font-style:normal;
font-family:"Q Regular", 'Bodoni SvtyTwo ITC TT', Didot, serif; font-weight:normal; font-style:normal;
font-family: FFDINWebProLight, 'Palatino Linotype', serif;
font-family: FFDINWebProMedium, Helvetica, sans-serif;
font-family: FFDINWebProCondLight,'Palatino Linotype', serif;
font-family: FFDINWebPro, 'Palatino Linotype', serif;
font-family: 'FFDINWebProLight', 'Palatino Linotype', serif;
font-family: 'FFDINWebProMedium', Helvetica, sans-serif;
font-family: 'FFDINWebProCondLight','Palatino Linotype', serif;
font-family: 'FFDINWebProCondMedium', Helvetica, sans-serif;
font-family: 'FFDINWebPro','Palatino Linotype', serif;
font-family: 'FFSuperGroteskWebMedium', Arial, sans-serif;
font-family: 'FF Super Grotesk Web Regular', Arial, sans-serif;
font-family: 'FFSuperGroteskWebBold', colfax, 'Arial Black' sans-serif;
font-family: 'FFSuperGroteskWebCondensedMediium', 'FFSuperGroteskWebBold', sans-serif;
font-family: 'DINWebPro-CondBold';
font-family: DINWebPro-CondBoldIta;
font-family: DINWebPro-CondMedium;
font-family: DINWebPro-CondMediumIta;
font-family: DINWebPro-Cond;
font-family: DINWebPro-CondIta;
font-family: DINWebPro-CondBlack;
font-family: DINWebPro-CondBlackIta;
font-family: DINWebPro-CondLight;
font-family: DINWebPro-CondLightIta;
*/

@font-face {
	font-family: 'Q Stencil';
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/Q-Stencil.eot'); /* IE9 Compat Modes */
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/Q-Stencil.eot&#iefix') format('embedded-opentype'),
	url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/Q-Stencil.woff') format('woff'),
	url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/Q-Stencil.ttf')  format('truetype'),
	url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/Q-Stencil.svg#8dfb79a238f0618c16db9ec103dfe2a3') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: DINWebPro-CondBold;
	src: url('http://www.reebok.com/dwstatic/aajp_prd/on/demandware.static/-/Sites-Reebok-US-Library/en_US/v1490078241308/voltage-global/css/fonts/DINWebPro-CondBold.woff') format("woff"), url('http://www.reebok.com/dwstatic/aajp_prd/on/demandware.static/-/Sites-Reebok-US-Library/en_US/v1490078241308/voltage-global/css/fonts/DINCompPro-CondBold.ttf') format("truetype");
              

}
@font-face {
	font-family: DINWebPro-CondBoldIta;
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondBoldIta.woff') format("woff"), url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondBoldIta.ttf') format("truetype");
}
@font-face {
	font-family: DINWebPro-CondMedium;
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondMedium.woff') format("woff"), url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondMedium.ttf') format("truetype");
}
@font-face {
	font-family: DINWebPro-CondMediumIta;
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondMediumIta.woff') format("woff"), url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondMediumIta.ttf') format("truetype");
}
@font-face {
	font-family: DINWebPro-Cond;
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-Cond.woff') format("woff"), url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-Cond.woff') format("woff");
}
@font-face {
	font-family: DINWebPro-CondIta;
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondIta.woff') format("woff"),url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondIta.ttf') format("truetype");
}
@font-face {
	font-family: DINWebPro-CondBlack;
	src: url('http://www.reebok.com/dwstatic/aajp_prd/on/demandware.static/-/Sites-Reebok-US-Library/en_US/v1490078241308/voltage-global/css/fonts/DINWebPro-CondBlack.woff') format("woff"),url('http://www.reebok.com/dwstatic/aajp_prd/on/demandware.static/-/Sites-Reebok-US-Library/en_US/v1490078241308/voltage-global/css/fonts/DINWebPro-CondBlack.ttf') format("truetype");
}
@font-face {
	font-family: DINWebPro-CondBlackIta;
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondBlackIta.woff') format("woff"),url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondBlackIta.ttf') format("woff");
}
@font-face {
	font-family: DINWebPro-CondLight;
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondLight.woff') format("woff"), url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondLight.ttf') format("truetype");
}
@font-face {
	font-family: DINWebPro-CondLightIta;
	src: url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondLightIta.woff') format("woff"),url('http://www.reebok.com/on/demandware.static/Sites-Reebok-US-Site/-/en_US/v1490078241308/css/fonts/DINWebPro-CondLightIta.ttf') format("truetype");
}