::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
}

body  {
  margin: 0;
  padding: 10px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* helpers */
.fluid-y {
  height: 0;
  width: 100%;
  position: relative;
}

.bg-default {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.abs-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* image aspect ratios & shapes */
.product-image {
  padding-bottom: 100%;
  background-size: cover;
}

/* implementation */
.player-holder {
  padding-bottom: 56.25%;
}

.tvp-no-products .tvp-player-holder {
  width: 100%;
}

.tvp-no-products .tvp-products-holder {
  display: none;
}

.tvp-player-holder {
  width: 66%;
  float: left;
}

.tvp-clearfix:before,
.tvp-clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

.tvp-products-holder {
  float: right;
  width: 33%;
  margin-left: 1%;
  position: relative;
}

.product-holder {
  position: relative;
}

.product-holder:before {
  display: block;
  content: "";
  padding-top: 112%; 
}

.product {
  display: block;
  border: 1px solid black;
  right: 1px;
  padding: 10px 45px;
}