.tvp-video-play {
  border-radius: {item_play_button_border_radius};
  border: {item_play_button_border};
  background-color: {item_play_button_background};
  width: {item_play_button_width};
  height: {item_play_button_height};
}
.tvp-video:hover .tvp-video-play {
  background-color: {.item_play_button_background_hover};
}
.tvp-video-play > polygon {
  fill: {item_play_button_polygon_background};
}
.tvp-video:hover .tvp-video-play > polygon {
  fill: {item_play_button_polygon_background_hover};
}
.tvp-sidebar-load {
    border-radius: {load_button_border_radius};
	margin: {load_button_margin};
	padding: {load_button_padding};
	font-size: {load_button_font_size};
	width: {load_button_width};
	height: {load_button_height};
	background-color: {load_button_background_color};
	border: {load_button_border};
	color: {load_button_text_color};
	text-transform: {load_button_text_transform};
}
.tvp-sidebar-load:hover{
  background-color: {load_button_background_color_hover};
}
.tvp-sidebar-load:active {
  box-shadow: {load_button_box_shadow_active};
}
.tvp-video-title {
  height: {item_title_height};
  font-size: {item_title_font_size};
  color: {item_title_color};
  margin: {item_title_margin};
  line-height: {item_title_line_height};
}
.tvp-sidebar-title {
  color:{widget_title_color};
  margin:{widget_title_margin};
  padding: {widget_title_padding};
  font-weight: normal;{widget_title_font_weight};
  font-size: {widget_title_font_size};
}