body {
  margin: 0;
  padding: 0;
}

.slick-slide {
  height: auto !important;
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: black;
  width: 20px;
  height: 20px;
  z-index: 9999;
  color: transparent;
  border: 0;
}

.slick-arrow.slick-prev {
  left: 10px;
}

.slick-arrow.slick-next {
  right: 10px;
}

.tvp-player {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.tvp-player.inline {
  position: absolute;
  top:0;
  left:0;
  padding: 0;
}

#tvp-player-el {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.tvp-play {
  background-color: #fff;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: none;
  opacity: 0.95;
  cursor: pointer;
  border-radius: 1px;
  border: 2px solid #e57211;
}

.tvp-play > polygon {
  pointer-events: none;
}

.tvp-products {
  padding: 0 10px;
}

.tvp-products-title {
  margin: 10px 0;
  padding-left: 10px;
}

.tvp-product {
  display: block;
  overflow: hidden;
  width: 245px;
  margin: 0 auto;
}

.tvp-product-image {
  display: block;
  width: 80px;
  height: 80px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tvp-product-data {
  float: left;
  width: 60%;
  margin-left: 5%;
}

.tvp-product-data > p {
  height: 29px;
  overflow: hidden;
  margin: 0;
  font-size: 12px;
}

.tvp-product-data > h2 {
  margin: 5px 0;
  font-size: 16px;
}

.tvp-product-data > button {
  margin: 0;
  border: 0;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
}