.tvpplayer {
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  position: relative;
}

#tvp-player-target {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }

#tvpplayer-play {
  display: none;
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #db5726;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999999;
  cursor: pointer; }
  #tvpplayer-play:after {

    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 29px solid white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
