* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tvp-clearfix:before, 
.tvp-clearfix:after {
    display: table;
    content: " ";
    clear: both;
}

.tvp-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

.tvp-modal {
    display: block;
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

#tvp-player-el {
  position: absolute;
  width: 80%;
  height: 85%; }


.tvp-lb-header {
    padding: 0 7px 0px 20px;
    position: relative;
    background-color: #FFF;
    height: 40px;
    border-radius: 7px;
}

.tvp-related-products {
    display: block;
    float: right;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    line-height: 38px;
    color: #1F1D26;
    margin-right: -4px;
}

.tvp-lb-title {
    margin: 0;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #333333;
    text-align: left;
}

#tvp-products {
    width: 17.2%;
    position: relative;
    float: right;
    height: 335px;
}

.tvp-product-img {
  margin:10px auto;
  display: block;
  width:50%;
  cursor:pointer;
}

.tvp-product-title {
    margin: 15px 0;
    height: 38px;
    font-family: Dosis;
    font-size: 16px;
    line-height: 20px;
    color: #1F1D26;
}

.tvp-price {
    font-family: Dosis;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #00DBC0;
    margin: 0 0 20px 0;
}

.tvp-call-to-action {
    display: block;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 33px;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: 208px;
    padding: 5px;
    background-color: #1F1D26;
    position: absolute;
    text-decoration: none;
    bottom: 10px;
}

.tvp-pop-up {
    display: none;
    width: 250px;
    height: 345px;
    position: relative;
    float: right;
    padding: 20px;
    bottom: 10px;
    border-radius: 4px;
    z-index: 9999;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.25);
    border: 1px solid #D0D0D0;
}

.tvp-pop-up img {
    display: block;
    width: 208px;
    height: 155px;
}

.tvp-pop-up-before {
  display: none;
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 17px 0 17px 17px;
  border-color: transparent transparent transparent #D0D0D0;
  position: absolute;
  top: 25px;
  right: 115px;
  margin-top: -5px;
  z-index: 99999;
}
.tvp-pop-up-after {
  display: none;
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 17px 0 17px 17px;
  border-color: transparent transparent transparent #FFFFFF;
  position: absolute;
  top: 24px;
  right: 117px;
  margin-top: -4px;
  z-index: 99999;
}