{{ range $i, $def := (getJSON (printf "themes/tvpage/defaults/%s.json" .Type)).option }}
{{ $.Scratch.SetInMap "settings" .code .value }}
{{ end }}
{{ range $i, $param := .Params }}
{{ $.Scratch.SetInMap "settings" $i . }}
{{ end }}
{{ range $i, $opt := (where (.Param "tvpembed-83094487") "for" "player") }}
{{ $.Scratch.SetInMap "settings" .code .value }}
{{ end }}

<style>{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div id="tvpembed-83094487">
  <div class="tvpplayer">
  	<div id="tvpplayer-target"></div>
  </div>
</div>
<div id="tvpembed-1">
  <div class="tvpplayer">
    <div id="tvpplayer-target"></div>
  </div>
</div>

<script type="text/javascript" src="http://d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-1.8.3-min.js"></script>
<script type="text/javascript">

var video = {{ index $.Site.Data.videos "x83094487" }};

var playerSettings = {
  divId: "tvpplayer-target",
  controls: {
    active: true,
    seekBar: { progressColor: '#273691' },
    floater: { removeControls: ['tvplogo', 'hd'], transcript: false }
  },
  poster: true,
  techOrder: 'html5,flash',
  analytics: { tvpa: false },
  apiBaseUrl: '//app.tvpage.com',
  swf: "//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-1.8.3-flash.swf"
};

var extractAsset = function(video) {
  if (video && video.asset) {
    var asset = video.asset;
    asset.analyticsObj = { vd: video.id, li: video.loginId, pg: video.parentId ? video.parentId : 0 };
    if (!asset.sources) asset.sources = [{ file: asset.videoId }];
    asset.type = asset.type || 'youtube';
    return asset;
  }
};

var ready = function(p) {
  player = TVPage.instances[p.options.globalRunId];
  player.on('tvp:media:ready', function(){
    player.resize(640, 380);
    player.loadVideo(extractAsset(video));
  });
};

ready( new TVPage.player(playerSettings) );

</script>