html {
  margin: 0;
  height: 100%;
}

body  {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

footer {
  position: relative;
  padding: 0 2px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tvp-clearfix:before, 
.tvp-clearfix:after {
    display: table;
    content: " ";
    clear: both;
}

.tvp-video {
    cursor: pointer;
    padding: 0 2px;
    width: 50%;
    float: left;
    margin: 0 auto;
}

.tvp-video-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    pointer-events: none;
}

.tvp-video-image:before {
	 display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}

.tvp-video-play {
  background-color: #fff;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
}

.tvp-exchange .tvp-video-play {
  background-color: #e57211;
}

.tvp-video-play > polygon {
  pointer-events: none;
  fill: black;
}

.tvp-exchange .tvp-video-play > polygon {
  fill: white;
}

.tvp-video-title {
  height: 30px;
  overflow: hidden;
  font-size: 12px;
  color: #333333;
}

.tvp-play {
  background-color: #fff;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0.95;
  cursor: pointer;
  border-radius: 1px;
  border: 2px solid #e57211;
}

.tvp-play > polygon {
  pointer-events: none;
}

.tvp-play-button-outer {
    position: absolute;
    margin: 25% auto;
    background-color: #00DBC0;
    cursor: pointer;
    border-radius: 80px;
    width: 37px;
    height: 37px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.tvp-play-button {
    margin: 0px 11px;
    top: 8px;
    position: relative;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #FFFFFF;
    opacity: .75; 
}

.tvp-video:hover .tvp-play-button-outer{
   -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tvp-logo{
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 130px;
  position: absolute;
  margin: 0 auto;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  bottom: 0;
}

.tvp-logo > img {
  display: block;
  width: 100%;
}

.tvp-load-more {
  padding: 0 2px;
  height: 33px;
  line-height: 33px;
  font-family: Dosis;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #1F1D26;
  border: 1px solid #DFDFDF;
  display: block;
  float: left;
  width: 90px;
}

.tvp-load-more:active {
  background-color: #666666;
  box-shadow: 1px 1px #666;
  transform: translateY(2px);
}

.tvp-load-more:focus {
  outline:none;
}

.tvp-load-more:hover{
  background-color: #00DBC0;
}
