/*player overrides*/
.tvplayer-overlay-thumbnail{
  z-index: 100 !important;
}

.tvplayer-overlay{
  z-index: 1000 !important;
}

.player-holder {
  padding-bottom: 56.25%;
}

.skeleton .player-holder {
  background-color: #efefef;
}

.product-image {
  padding-bottom: 100%;
  background-size: cover;
}

.product {
  border: 1px solid; 
}