.modal-close {
  position: relative;
}

.modal-close > svg {
  width: 26px;
  fill: #000000;
}

.skeleton .player-holder {
  background-color: #efefef;
}

.skeleton .product-title:not(.ready) {
  background-color: #efefef;
}

.skeleton .product-title:not(.ready):before {
  content: "...";
  color: transparent;
}

.skeleton .product-price:not(.ready) {
  background-color: #efefef;
}

.skeleton .product-price:not(.ready):before {
  content: "..................................";
  color: transparent;
}

.product-image {
  padding-bottom: 100%;
  background-size: cover;
}

.product {
  border: 1px solid; 
}

.product-title{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-brand {
  opacity: 0.8;
}

.product-price {
  font-weight: 600;
}

.player-holder {
  padding-bottom: 56.25%;
}