<div id="desktop-channels" class="row">
        <div class="clearfix">
            <div class="desktop-channel" data-id="3827193">
                <a href="/Photography/3827193--">
                    <div class="desktop-channel-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/channels/Photography.jpg)"></div>
                    <div class="desktop-thumbnail-overlay"></div>
                    <div class="desktop-channel-meta">
                        <p class="desktop-channel-title">Photography</p>
                    </div>
                </a>
            </div>
            <div class="desktop-channel" data-id="3831424">
                <a href="/Video/3831424--">
                    <div class="desktop-channel-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/channels/Video.jpg)"></div>
                    <div class="desktop-thumbnail-overlay"></div>
                    <div class="desktop-channel-meta">
                        <p class="desktop-channel-title">Video</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix">
            <div class="desktop-channel" data-id="3831421">
                <a href="/Pro-Audio/3831421--">
                    <div class="desktop-channel-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/channels/Pro-Audio.jpg)"></div>
                    <div class="desktop-thumbnail-overlay"></div>
                    <div class="desktop-channel-meta">
                        <p class="desktop-channel-title">Pro Audio</p>
                    </div>
                </a>
            </div>
            <div class="desktop-channel" data-id="3831416">
                <a href="/Computers/3831416--">
                    <div class="desktop-channel-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/channels/Computers.jpg)"></div>
                    <div class="desktop-thumbnail-overlay"></div>
                    <div class="desktop-channel-meta">
                        <p class="desktop-channel-title">Computers</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix">
            <div class="desktop-channel" data-id="3831417">
                <a href="/Home-Entertainment/3831417--">
                    <div class="desktop-channel-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/channels/Home-Entertainment.jpg)"></div>
                    <div class="desktop-thumbnail-overlay"></div>
                    <div class="desktop-channel-meta">
                        <p class="desktop-channel-title">Home Entertainment</p>
                    </div>
                </a>
            </div>
            <div class="desktop-channel" data-id="3831418">
                <a href="/Mobile/3831418--">
                    <div class="desktop-channel-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/channels/Mobile.jpg)"></div>
                    <div class="desktop-thumbnail-overlay"></div>
                    <div class="desktop-channel-meta">
                        <p class="desktop-channel-title">Mobile</p>
                    </div>
                </a>
            </div>
        </div>
    </div>