{{ $pageSize := 9 }}
{{ if gt (len ($.Scratch.Get "channelVideos")) 0 }}
    {{ range $index, $video := first $pageSize ($.Scratch.Get "channelVideos") }}
        {{ if and (modBool $index 3) }}
            <div class="row clearfix playback-row">
        {{ end }}
        {{ $isThird := and (modBool (add $index 1) 3) ($index | ne 0) }}   
        <div id="video-{{ .id }}" class="video inactive" data-id="{{ .id }}" data-title="{{ .title }}" data-url="{{ .url }}">
            <a href="{{ .url }}" title="{{ .titleTextEncoded }}">
                <div class="video-img-holder">
                    <div class="video-img" style="background-image:url({{ .asset.thumbnailUrl }});"></div>
                    <div class="video-img-overlay"></div>
                    <p class="video-duration">{{ .asset.prettyDuration }}</p>
                    <p class="video-play-label">PLAY VIDEO</p>
                    <p class="video-playing-label">NOW PLAYING</p>
                </div>
                <p class="video-title">{{ .title }}</p>
            </a>
        </div>
        {{ if or ($isThird) ($index | eq ( sub $pageSize 1)) }}
          </div>
        {{ end }}
    {{ end }}
{{ end }}