<footer>
    <div class="footer1">
        <p>© 2000-2016 B & H Foto & Electronics Corp. 420 9th Ave, New York, NY 10001.</p>
        <div class="footer-links">
            <a href="https://www.bhphotovideo.com/find/HelpCenter/PrivacySecurity.jsp" target="_blank">Privacy & Security</a>
            <a href="https://www.bhphotovideo.com/find/HelpCenter/UserAgreement.jsp" target="_blank">User Agreement & Disclaimer</a>
            <a href="https://www.bhphotovideo.com/find/HelpCenter/UserAgreement.jsp#exportPolicy" target="_blank">Export Policy</a>
            <a href="https://www.bhphotovideo.com/find/HelpCenter/PrivacySecurity.jsp#cali" target="_blank">California Privacy Rights</a>
            <a href="https://www.bhphotovideo.com/c/browse/SiteMap/ci/13296/N/4294590034" target="_blank">Site Map</a>
        </div>
    </div>
</footer>