@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    > img{ //SEO Fix
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);      
    }
  }
}