<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sidebar Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>

<!-- placeholder -->
<div id="tvpwidget-sidebar-1"></div>
<!-- placeholder -->

<!-- code snippet -->
<script type="text/javascript">
  window.__TVPage__ = window.__TVPage__ || {};
  __TVPage__.config = __TVPage__.config || {};
  __TVPage__.config['tvpwidget-sidebar-1'] = {
    loginId: '1758799',
    channel: {
      id: '66133904'
    }
  };
  
  (function(d) {
    var s = d.createElement('script');
    s.src = '//localhost:1313/sidebar/lib.js';
    d.body.appendChild(s);
  })(document);
</script>
<!-- code snippet -->

</body>
</html>