{{- partial "settings.html" . -}}
<style>{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css-base.css" .Type ) .)) | safeCSS }}</style>
<div id="tvp-videos" class="container">
  <div class="row">
  {{ range $i, $p := first ($.Scratch.Get "settings").itemsperpage (index $.Site.Data.channelVideos (printf "x%s_page_1" ($.Scratch.Get "settings").channelid) "data") }}
    {{ $.Scratch.SetInMap "videos" .id (index $.Site.Data.videos (printf "x%s" .id )) }}
    <div id="{{ .id }}" class="col-xs-12 col-sm-6 col-md-6 tvp-video">
      <div class="tvp-img">
        <div style="background-image:url({{ .asset.thumbnailUrl }})"></div>
      </div>
      <p>{{.title}}</p>
    </div>
    {{ if eq (mod (add $i 1) 2) 0 }}<div class="col-xs-12"></div>{{ end }}
  {{ end }}
  </div>  
</div>
{{ with $.Scratch.Get "settings"}}
<div id="settings" data-settings='{{ . | jsonify }}'></div>
{{ end }}