{{- range $i, $def := (getJSON (printf "themes/tvpage/defaults/%s.json" .Type)).option -}}
{{- $.Scratch.SetInMap "settings" .code .value -}}
{{- end -}}
{{- range $i, $param := .Params -}}
{{- $.Scratch.SetInMap "settings" $i . -}}
{{- end -}}

<style id="tvp-css-lib" type="text/css">{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css-modal.html" .Type ) .)) | safeCSS }}</style>
<div id='{{ ($.Scratch.Get "settings").name }}' class="tvp-modal">
  <div class="tvp-player">
    <div class="tvp-close-btn"></div>
    <div id="tvp-player-el"></div>
    <div id="tvpplayer-play"></div>
  </div>
  <div class="tvp-products"></div>
</div>

<script id="videoTemplate" type="text/template">
  <div id="tvp-video-{id}" class="tvp-video">
    <div class="tvp-video-image" style="background-image:url({asset.thumbnailUrl})">
      <div class="tvp-video-button"></div>
    </div>
    <div class="tvp-video-title">{title}</div>
  </div>
</script>
<script src="//a.tvpage.com/tvpa.min.js"></script>
<script src="//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-{{ ($.Scratch.Get "settings").version }}-min.js"></script>
<script src="/{{.Type}}/vendor/jquery.js"></script>
<script src="/{{.Type}}/vendor/iscroll.js"></script>
<script type="text/javascript">(function(doc,parentGlobal){
	var settings = {{ $.Scratch.Get "settings" }};
	{{ with .Param "loginid" }}
		settings.loginid = {{ . }}
	{{ end }}
  var $closeBtn = $(doc).find($('.tvp-close-btn'));
  $closeBtn.click(function(){
    $(doc).find('tvp-modal').remove();
  });
}(document,parent));</script>