{{- range $i, $def := (getJSON (printf "themes/tvpage/defaults/%s.json" .Type)).option -}}
{{- $.Scratch.SetInMap "settings" .code .value -}}
{{- end -}}
{{- range $i, $param := .Params -}}
{{- $.Scratch.SetInMap "settings" $i . -}}
{{- end -}}

<style id="tvp-css-lib" type="text/css">{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div id='{{ ($.Scratch.Get "settings").name }}' class="tvp-clearfix" style="height:100%">
	<div class="cz-line-heading"><div class="cz-line-heading-inner">Recommended Videos</div></div>
	<div class="tvp-container">
	{{ range $i, $p := first ($.Scratch.Get "settings").itemsperpage (index $.Site.Data.channelVideos (printf "x%s_page_1" ($.Scratch.Get "settings").channelid) "data") }}
	{{ $.Scratch.SetInMap "videos" .id (index $.Site.Data.videos (printf "x%s" .id )) }}
	<div id="tvp-video-{{ .id }}" class="tvp-video">
		<div class="tvp-video-image" style="background-image:url('{{ .asset.thumbnailUrl }}')">
			<div class="tvp-play-button-outer">
		  		<div class="tvp-play-button"></div>
			</div>
		</div>
		<div class="tvp-video-title">
			{{ .title }}
		</div>
	</div>
	{{ if eq (mod (add $i 1) 2) 0 }}<div class="tvp-clearfix"></div>{{ end }}
	{{ end }}
	</div>
	<a class="tvp-logo" href="//www.tvpage.com" target="_blank"></a>
	<button id="tvp-view-more-button"><span class="tvp-view-more">VIEW MORE</span></button>
</div>

<script id="videoTemplate" type="text/template">
  <div id="tvp-video-{id}" class="tvp-video">
    <div class="tvp-video-image" style="background-image:url({asset.thumbnailUrl})">
      <div class="tvp-play-button-outer">
        <div class="tvp-play-button"></div>
	  </div>
    </div>
    <div class="tvp-video-title">{title}</div>
  </div>
</script>
<script src="/{{.Type}}/vendor/jquery.js"></script>
<script type="text/javascript">(function(doc,parentGlobal){
	var settings = {{ $.Scratch.Get "settings" }};
	{{ with .Param "loginid" }}
		settings.loginid = {{ . }}
	{{ end }}

	var lastPageReached = false,
		currentPage = 0,
        currentPageVideos = {{ $.Scratch.Get "videos" }},
		apiBaseUrl = "//api.tvpage.com/v1",
		isFetching = false,
		currentPageVideosArray = $.map(currentPageVideos, function(value, index) {
       return [value];
     }),

  rowerize = function(data, per) {
    if (data && $.isArray(data)) {
      var raw = data.slice(0),
        rows = [];
      while (raw.length) rows.push(raw.splice(0, per || 2));
      return rows;
    }
  },
  tmpl = function(template, data) {
    if (template && 'object' == typeof data) {
      return template.replace(/\{([\w\.]*)\}/g, function(str, key) {
        var keys = key.split("."),
          v = data[keys.shift()];
        for (var i = 0, l = keys.length; i < l; i++) v = v[keys[i]];
        return (typeof v !== "undefined" && v !== null) ? v : "";
      });
    }
  };

var $el = $('#' + settings.name),
  $btn = $el.find('#tvp-view-more-button'),
  $overLay = $el.find('.tvp-modal-overlay');

//View more videos functionality. On static data method, we will only get the first page of the channel,
//On user demand, we shall pull the following pages & loop.
$btn.click(function(e) {
  if (isFetching) return console.log('we are fetching');
  isFetching = true;

  if (lastPageReached) {
    currentPage = 0;
    lastPageReached = false;
  } else {
    currentPage++;
  }

  $.ajax({
    url: apiBaseUrl + '/channels/' + settings.channelid + '/videos',
    dataType: 'jsonp',
    data: {
      p: currentPage,
      n: settings.itemsperpage,
      'X-login-id': settings.loginid
    }
  }).done(function(res) {
    isFetching = false;

    //If videos then new page of that was fectehced, rowerize in order to build
    //the expected gallery.
    if (res && res.length) {

      currentPageVideos = res;
      var rows = rowerize(res, 2),
        rowsC = rows.length;

      //For each row
      var pageFrag = doc.createDocumentFragment();
      while (rowsC > 0) {
        var row = rows[rowsC - 1],
          rowEl = doc.createElement('div');

        //Render the whole row.
        $(rowEl).addClass('tvp-clearfix');
        for (var i = 0; i < row.length; i++) {
          rowEl.innerHTML += tmpl($('#videoTemplate').html(), row[i]);
        }
        pageFrag.appendChild(rowEl);

        if (res.length < settings.itemsperpage) {
          lastPageReached = true;
        }

        rowsC--;
      }

      $el.find('.tvp-container').eq(0).html(pageFrag);
    }

    //Todo check whats the best solution here.
    else {
      lastPageReached = true;
    }

  });
});

//when user clicks the video thumbnails, we shall identify the requested video, baken iframe & append it
//To parent document.
$el.on('click', '.tvp-video', function(e) {
  e.preventDefault();

  //the selected video id.
  var id = $(this).attr('id').split('-').pop();
  for (var i = 0; i < currentPageVideosArray.length; i++) {
    if (currentPage == 0) {
      if (currentPageVideosArray[i].id == id) {
        currentVideo = currentPageVideosArray[i].asset;
        currentVideoTitle = currentPageVideosArray[i].title;
      }
    } else {
      if (currentPageVideos[i].id == id) {
        currentVideo = currentPageVideos[i].asset;
        currentVideoTitle = currentPageVideos[i].title;
      }
    }
  }

  //Create them modal.
  //Pass the videos to the modal.
  var $ifr = $('<iframe/>').attr('src', 'http://localhost:1313/tvpwidget/sidebar-1-modal/');
  $ifr.addClass('tvp-modal');
  $ifr.on('load', function() {
    this.contentWindow.postMessage({
      channelPage: currentPage,
      channelVideos: currentVideo,
      videoId: id,
      videoTitle: currentVideoTitle
    }, 'http://localhost:1313');
  });
  $ifr.attr('style', 'border-radius:4px;display:block;width:738px;max-width:100%;height:394px;max-height:100%;position:fixed;z-index:100;left:50%;border:none;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;box-shadow:0 0 60px 10px rgba(0,0,0,.9)');
  var $overlay = $('<div/>').addClass('tvp-modal-overlay')
      $closeBtn = $('<div/>').addClass('tvp-close-btn');
  $closeBtn.append($ifr).appendTo(parentGlobal.document.body);
  $overlay.append($ifr).appendTo(parentGlobal.document.body);
  $overlay.attr('style', 'position:fixed;top:0;left:0;width:100%;height:100%;z-index:50;background:rgba(0,0,0,.6)');
  $ifr.contents().find('.tvp-lb-title').html('helo');
});

}(document, parent));
</script>