<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Solo Demo - Main B</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h4>Use Case: 1</h4>
<div id="tvpwidget-sidebar-1"></div>
  <script type="text/javascript">
  window.__TVPage__ = window.__TVPage__ || {};
  __TVPage__.config = __TVPage__.config || {};
  __TVPage__.config['tvpwidget-sidebar-1'] = {
    loginId: '1758799',
    channel: {
      id: '66133904'
    }
  };
  
  (function(d) {
    var s = d.createElement('script');
    s.src = '/sidebar/lib.js';
    d.body.appendChild(s);
  })(document);
</script>
</body>
</html>