body {
  margin: 0;
  padding: 0;
}

.tvp-player {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.tvp-player.inline {
  position: absolute;
  top:0;
  left:0;
  padding: 0;
}

#tvp-player-el {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.tvp-play {
  background-color: #fff;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0.95;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
}

.tvp-play > polygon {
  pointer-events: none;
  fill: #273691;
}

.tvp-overlay {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  position: absolute;
}

.tvp-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  opacity: .6; 
}