div[class^="tvp-"] {
  box-sizing: border-box;
}
.tvp-iframe-holder {
  position: relative;
}

/*This is the gallery iframe*/
.tvp-iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}