'<div class="tvp-content">' +
   '<div class="tvp-row-titles">' +
      '<div class="tvp-row-player-title">' +
         '<h1 id="videoTitle"></h1>' +
      '</div>' +
      '<div class="tvp-row-featured-title">' +
         '<h2 id="featuredTitle">{{- ($.Scratch.Get "settings").product_header_title_text -}}</h2>' +
      '</div>' +
      '<div class="clear"></div>' +
   '</div>' +
   '<div class="tvp-player-product-section">' +
      '<div class="tvp-content">' +
         '<div class="tvp-player" id="tvpPlayerView">' +
            '<div class="tvp-content">' +
               '<div id="tvp-player"></div>' +
               '<div id="tvp-controls" class="tvp-not-active"> ' +
                  '<span class="tvp-icon tvp-icon-play"></span> <span class="tvp-icon tvp-icon-play anim"></span>' +
               '</div>' +
            '</div>' +
         '</div>' +
         '<div class="tvp-mobile-product-title">' +
            '<h2>{{- ($.Scratch.Get "settings").product_header_title_text_mobile -}}<div class="tvp-slideUp"><span class="tvp-minus"></span></div></h2>' +
         '</div>' +
         '<div class="tvp-products-scroller" id="tvpProductsView">'+
            '<div class="tvp-content"></div>' +
         '</div>' +
      '</div>' +
   '</div>' +
   '<div class="tvp-videos-container">' +
      '<div class="tvp-videos-container-arrows tvp-videos-arrow-next">' +   
      '</div>' +
      '<div class="tvp-videos-container-arrows tvp-videos-arrow-prev">' +
      '</div>' +
      '<div class="tvp-videos-scroller" id="tvpVideoScroller">' +
      '</div>' +
   '</div>' +
'</div>'