.slick-arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: black;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.slick-dots{
  margin:0;
}

.dots-centered .slick-dots{
  text-align: center;
}

.slick-arrow:after{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  color: white;
}

.slick-arrow.slick-disabled{
opacity: 0.6 !important;
}

.slick-arrow:focus,
.carousel-dot:focus{
  outline: none;
}

.slick-prev{
  left: 0px;
}

.slick-prev:after{
  content:'keyboard_arrow_left';
}

.slick-next{
  right: 0;
}

.slick-next:after{
  content:'keyboard_arrow_right';
}