body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
	font-size: 14px;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
  color: #000;
  background: #ededed;
}

::selection {
  color: #000;
  background: #ededed;
}

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    background-color: rgb(246, 246, 246); 
}
 
::-webkit-scrollbar-thumb {
	background-color: rgb(221, 221, 221);    
}


h2 {
	font-size: 155%;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline-block {
	display: inline-block;
}

.relative {
	position: relative;
}

.breadcrumb-link {
	color: #1A5889;
	text-decoration: none;
	text-transform: capitalize;
}

.breadcrumb-link:hover {
	color: black;
}

.html5-play-button {
  background: url('//do0631budpzeh.cloudfront.net/assets/img/profilePlayOverlay.png') no-repeat 50% 50%;
  display:none;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.tvp-seek-bar {
	height: 12px !important;
}

.tvp-progress-background {
	height: 12px !important;
}

.tvp-progress-bar {
	height: 12px !important;
	background-color: #759F13 !important;
}

.tvp-controlbar-floater {
	margin-bottom: 3px;
	border-radius: 0 !important;
}

.row {
	max-width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.arrows-row {
	display: none;
	position: absolute;
  width: 100%;
  height: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.clearfix:after {
	content: "";
  display: table;
  clear: both;
}

.channel-slider-holder {
	padding-top: 12px;
	background-color: #ffffff;
	position: relative;
}

.channel-slider-header {
	font-weight: 700;
	padding: 0 0 15px 0;
	text-transform: uppercase;
	position: relative;
	display: none;
	margin-left: 5px;
}

.channel-button {
	-webkit-tap-highlight-color: rgba(255,0,0,0.5);
	text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding: 17px 15px 14px 15px;
  background-color: #EDEDED;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
}

.channel-button.touched {
	background-color: #759F13;
	box-shadow: 0 0 0 1px transparent inset, 13px 6px 20px -1px rgba(38, 38, 38, 0.18) inset;
	border-top: 1px solid #777777;
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
	color: #FFF;
}

.channel-button-content {
  margin: 0 auto;
  font-size: 110%;
}

.channel-button-title {
	float: left;
}

.channel-button-videos-qty {
	background-color: #759F13;
  color: #fff;
  padding: 0 4px;
  height: 20px;
  display: inline-block;
  font-size: 70%;
  font-weight: 400;
  line-height: 1.9;
  left: 1px;
  position: relative;
  top: -2px;
}

.touched .channel-button-videos-qty {
	background-color: #FFFFFF;
  color: #759F13;
}


.channel-slider-qty {
	background-color: #759F13;
	color: #fff;
	height: 21px;
	display: inline-block;
	padding: 0 4px;
	text-align: center;
	font-size: 53%;
	font-weight: 400;
	line-height: 1.9;
	position: relative;
	top: -4px;
	left: 5px;
}

.channel-slider-browse-link {
	position: absolute;
	right: 0;
}

.channel-slider-browse-link > a {
	text-decoration: none;
	font-size: 70%;
	text-transform: none;
	font-weight: 400;
	color: #1A5889;
}

.channel-slider-browse-link > a:hover {
	color: #666;
}

/*this may conflict with .slick-slider because of positioning of CSS*/
.channel-slider-row {
	display: none;
}

.channel-slider-row .video {
	cursor: pointer;
  margin: 2%;
}

.channel-slider-row .video > a {
	text-decoration: none;
}

.channel-slider-row .video:last-child {
  margin-right: 0;
}

.channel-slider-row .video-img-holder {
	position: relative;
	overflow: hidden;
}

.channel-slider-row .video-img {
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 56.25%;
	background-position: 50% 50%;
	height: 0;
	position: relative;
	top: -1px;
  border-bottom: 1px solid #fff;
}

.channel-slider-row .video-img-overlay {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.channel-slider-row .inactive .video-img-overlay {
	display: none;
}

.channel-slider-row .touched .video-img-overlay {
	display: block;
}

.channel-slider-row .hovered .video-img-overlay {
	display: block;
}

.channel-slider-row .video-duration {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 5px 7px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 2px;
	border: 1px solid #555;
}

.channel-slider-row .video-play-label {
	position: absolute;
	padding: 5px 7px;
	color: #fff;
	font-weight: 700;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	height: 25px;
	font-size: 110%;
}

.channel-slider-row .inactive .video-play-label {
	display: none;
}

.channel-slider-row .touched .video-play-label {
	display: block;
}

.channel-slider-row .hovered .video-play-label {
	display: block;
}

.channel-slider-row .video-title {
	padding: 10px 0;
	line-height: 1.5;
	color: #000;
}

/**
 * LOAD MORE
 */
.load-more-row {
  position: relative;
  border-top: 1px solid #E2E2E2;
  margin-top: 40px;
}

.load-more {
  width: 190px;
  height: 36px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.playback-page .load-more {
	display: none;
}

.load-more > p {
    text-align: center;
    border-radius: 2px;
    position: absolute;
    left: 12px;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 33px;
    font-size: 100%;
    cursor: pointer;
    font-weight: bold;
    color: #7f7f7f;
    text-transform: uppercase;
    background-color: #E2E2E2;
}

.load-more > p:hover {
	background-color: #7f7f7f;
	color: #E2E2E2;
}

.video-img-overlay {
  background: url('//do0631budpzeh.cloudfront.net/assets/img/play_button.png') no-repeat 50% 35%;
}


/**
 * Brands Slider
 */
.brand-logo {
	opacity: 0.75;
	filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxmaWx0ZXIgaWQ9J2dyYXlzY2FsZSc+PGZlQ29sb3JNYXRyaXggdHlwZT0nbWF0cml4JyB2YWx1ZXM9JzAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAgMCAwIDEgMCcvPjwvZmlsdGVyPjwvc3ZnPg==#grayscale);
	filter: gray;
	-webkit-filter: grayscale(100%);
	-webkit-transition: all .6s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: block;
  margin: 0 0 0 10px;
  cursor: pointer;
}

.brand-logo:hover {
	opacity: 1;
	filter: grayscale(0%);
  filter: none;
  -webkit-filter: grayscale(0%);
}

.brand-logo-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 50.25%;
	height: 0;
}

/**
 * Details & Transcripts
 */

 .tabs{
  border-bottom: 2px solid #EDEDED;
 }

 .tab {
	height: 50px;
	position: relative;
	color: #000;
      float: left;
      width: 85%;
 }

 .tab > p {
	height: 18px;
      line-height: 7px;
	font-size: 20px;
      font-weight: bold;
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-transform: uppercase;
 }


 .tab-content {
 	overflow-x: hidden;
 	overflow-y: hidden;
	height: 83px;
	line-height: 1.25;
	margin-top: 12px;
 }

 .tab-content h2{
   font-size: 18px;
 }

.transcript-text{
  font-size: 18px;
  padding: 5px 0;
}
 .scrollable {
 	overflow-y: auto;
 	height: auto;
 	max-height: 185px;
 }

 .video-date {
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 3px;
 }

 .video-duration {
 	margin-bottom: 5px;
	margin-top: 3px;	
 }

 .video-duration > strong {
 	font-weight: 700;
 }

 .video-description,
 .video-transcript {
 	position: relative;
 	width: 100%;
 	height: auto;
 }

.show-more {
	border-top: 2px solid #EDEDED;
	margin-top: 3px;
 }

 #show-more-content {
	background-color: transparent;
	border: 0;
	margin: 3px auto 0 auto;
	display: block;
	cursor: pointer;
	color: #464646;
 }

#show-more-content:hover {
	color: black;
}

 #show-more-content:focus {
	outline: none;
 }

 .tab-contents {
 	margin-bottom: 10px;	
 }

 #in-time-products {
 	position: relative;
 	font-size: 10px;
 }

 .in-time-product {
 	padding: 8px 0;
	display: block; 	
 	-webkit-transition: top .3s ease-in-out;
	transition: top .3s ease-in-out;
 	top: -100px;
	color: white;
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.8);
 }

 .in-time-unit {
	display: inline-block;
	margin-right: 5px;
 }

 .in-time-title {
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: -8px;
	height: 20px;
 }

 .in-time-cta {
	background-color: #1a5888;
	font-weight: bold;
	padding: 8px 30px;
	border-radius: 30px;
 }

/**
* Channel Filters
*/
.filters {
	display: none;
	margin-bottom: 5px;
}

.filters > a {
	background-color: #ededed;
	border: 0;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	font-weight: 700;
	width: 100%;
	margin-bottom: 5px;
	text-transform: capitalize;
	text-decoration: none;
	color: black;
}

.filters > a.active {
	background-color: #759F13;
	color: white;
}

#show-filters {
	border: 0;
	background-color: #ededed;
	padding: 5px 10px;
	font-weight: 700;
}

#show-filters:focus {
	outline: none;
}

#show-filters.touched {
	background-color: #759F13;
	color: white;
}

#show-filters.active {
	background-color: #759F13;
	color: white;
}

.channel-title-holder {
	margin-bottom: 10px;
}

.channel-search-form {
	width: 100%;
}

.channel-search-form > input[type="text"]:focus,
.channel-search-form > button:focus {
	outline: none;
}

.channel-search-form > input[type="text"] {
	margin: 0;
	padding: 0 0 0 10px;
	height: 30px;
	width: 100%;
}

.channel-search-form > button {
	display: none;
	border: 0;
	background-color: #759F13;
	color: white;	
	height: 30px;
	padding: 0 10px;
	cursor: pointer;
}

.channel-spinner-gif,
.no-results-notice {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom:0;
	margin: auto;
}

.no-results-notice {
	height: 60px;
	bottom: auto;
	top: 30px;
	text-align: center;
}

.no-results-notice > h2 {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.spinner-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: white;
}

.channel-search-no-results {
	height: 150px;
}

.channel-poster-desktop{
  position: relative;
  display: none;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.channel-poster-mobile{
  position: relative;
  display: block;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  }

.channel-details-text{
  position: absolute;
  top: 40px;
  color: #fff;
}

.channel-title{
  font-size: 35px;
  padding: 5px 0;
}

.ad-banner-holder{
  display: none;
}

.ad-banner{
  display: none;
  height: 150px;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 30px;
  background-size: 100% 100%;
}

.ad-banner-mobile{
  display: none;
  height: 50px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-size: 100% 100%;
}

.ad-logo-img-desktop{
  display: none;
  height: 100px;
  background-repeat: no-repeat;
  margin-top: 20px;
  background-size: 100% 100%;
}

.ad-logo-img-mobile{
  display: block;
  height: 50px;
  background-repeat: no-repeat;
  margin: 10px 0;
  background-size: 100% 100%;
}

.presented-holder{
  display: none;
  position: relative;
  top: -60px;
  cursor: pointer;
}

.presented-ad{
  display: block;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

.presented-text{
  text-align: right;
  font-size: 12px;
  font-family: open sans;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.presented-img{
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.channel-poster-holder{
  position: relative;
}

@media (min-width: 600px) {
  .ad-banner-mobile{
    height: 105px;
  }
   .ad-logo-img-mobile{
    height: 105px;
  }
}

@media(min-width: 768px){
  .channel-poster-desktop{
    display: block;
  }
   .channel-poster-mobile{
    display: none;
  }
  .channel-details-text{
    top: 115px;
  }
  .ad-banner{
    display: none;
  }
  .ad-banner-mobile{
    display: none;
  }
  .ad-logo-img-desktop{
    display: block;
  }
  .ad-logo-img-mobile{
    display: none;
  }
}

@media (min-width: 960px) {
  .ad-logo-img-desktop{
    height: 140px;
  }
}

@media (min-width: 1170px){
  .ad-logo-img-desktop{
    height: 180px;
  }
}