.filter-wrapper{
  background-color: #759F13;
  height: 108px;
  position: relative;
  padding-top: 5px;
}

#video-filters{
  height: 100%;
  padding-top: 14px;
}
#video-filters span{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  float: left;
  padding-top: 8px;
}
#video-filters .filter{  
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}
#video-filters .filter:after{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #666;
  pointer-events: none;
}
#video-filters .filter.disabled:after{
  border-top: 9px solid #dddddd;
}
#video-filters select{
  border: 0px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 5px 0px 5px 38px;
  color: #929292;
  background-color: white;
  text-transform: capitalize;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAiCAYAAAC0nUK+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVZJREFUeNpiYKAhYAQRaWlp/UDKACp2d9asWSlQcQkgVQHE+uQYzgKlQQY7QNmCSPIcUDl7cgxnomWwwFw+G4h3QtmvkOTfA/EsIN7BMKIALLX4ASkpqNhbYGpZDRXnBVKOSHJkhXkGENtC2ZeBeDWULQTEmUBsQ4nhnEDMA2VzofkMWY4sw5+BMg+U/RhJ/g8QP0WSG2GpRQ4prH8CU8t9qDgrkJJEiweSw7wOiE2g7JtAHA5li6LJkWW4Mo6Sjw2IVcgtFelScBUCsQCU/QVJ/gUQFyDJkR6h////R6ksGBkZU6DiFFUWDFBD9v9HgAtI4gpAfOA/mYCJ5ukcaEkUkJKDVRbAYJkHFecHUt5IciMp+wO9j1JZAINlNVScosoCZvg25MoCaLgVVFweSM0YrSyGXmpBqSyAEXofKk5RZQEzfA5yZQE0PBwqDkqCTSOvsgAIMAC9lbAdh9wQBQAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 7px 4px;
}
#video-filters select.inactive{
  opacity: 0.4;
  pointer-events: none;
}
#video-filters select::-ms-expand{
  display: none;
}

.filter-close {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTkzMzMzIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
  background-color: white;
  background-size: cover;
  background-position: center;
  border: none;
  padding: 0;
  right: 5px;
  z-index: 9999;
  display: none;
}

#video-filters .reset-filter{
  color: #FFF;
  text-decoration: underline;
  text-align: right;
  opacity: 0;
  font-size: 80%;
  height: 28px;
  float: right;
  width: 40px;
  border: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  .filter-wrapper{
    height: 37px;
    padding-top: 0;
  }
  #video-filters{
    padding-top: 0;
  }
  #video-filters span{
    width: 119px;
  }
  #video-filters .filter{
    margin: 5px 0;
    width: 284px;
    margin-right: 40px;
    float: left;
  }

  #video-filters .reset-filter{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    display: block;
    float: left;
    color: #FFF;
    text-decoration: underline;
    cursor: pointer;
    font-size: 100%;
    width: 50px;
  }  
}