.TVPagePlayer-holder {
  overflow: hidden;
  background-color: #000000;
  margin: 0;
}

.TVPagePlayer-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

#TVPagePlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-playing-header {
  position: relative;
}

.player-product-background{
  background-color: #EDEDED;
}

#player-product-holder{
  position: relative;
  top: 15px;
}

.related-products{
  display: none;
}

#video-playing-prefix {
  text-align: center;
  padding: 15px 0 5px 0;
  font-weight: 700;
  font-size: 125%;
}

#video-playing-title {
  font-weight: 400;
  display: block;
  color: black;
  font-size: 85%;
  overflow: hidden;
  text-align: center;
  padding: 0 0 15px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#video-playing-share {
  display: none;
  float: right;
  margin-top: 15px;
}

.video-playing-share > span {
  position: relative;
  top: -5px;
  letter-spacing: 1px;
  color: #555555;
}

.share-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  opacity: 0.82;
  position: relative;
  top: 2px;
}

.share-icon:hover {
  opacity: 1;
}

.share-icon.facebook {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIzIDIyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMyAyMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjN0Q3RDdEIiBkPSJNMTYsNy42aC0zLjF2LTJjMC0wLjgsMC41LTAuOSwwLjktMC45YzAuNCwwLDIuMiwwLDIuMiwwVjEuM2wtMywwYy0zLjMsMC00LjEsMi41LTQuMSw0LjF2Mi4ySDdWMTFoMS45DQoJYzAsNC40LDAsOS43LDAsOS43aDRjMCwwLDAtNS4zLDAtOS43aDIuN0wxNiw3LjZ6Ii8+DQo8L3N2Zz4=);
  background-repeat: no-repeat;
}

.share-icon.twitter {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIzIDIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMyAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjN0Q3RDdEIiBkPSJNMjIuNSwzLjNjLTAuOCwwLjQtMS43LDAuNi0yLjYsMC43YzAuOS0wLjUsMS42LTEuNCwyLTIuNUMyMSwyLDIwLjEsMi40LDE5LDIuNmMtMC44LTAuOS0yLTEuNC0zLjMtMS40DQoJYy0yLjUsMC00LjUsMi00LjUsNC40YzAsMC4zLDAsMC43LDAuMSwxQzcuNiw2LjUsNC4zLDQuNywyLDJDMS42LDIuNywxLjQsMy40LDEuNCw0LjNjMCwxLjUsMC44LDIuOSwyLDMuN2MtMC43LDAtMS40LTAuMi0yLTAuNg0KCWMwLDAsMCwwLDAsMC4xYzAsMi4yLDEuNiwzLjksMy42LDQuNEM0LjYsMTEuOSw0LjIsMTIsMy44LDEyYy0wLjMsMC0wLjYsMC0wLjgtMC4xYzAuNiwxLjgsMi4yLDMsNC4yLDMuMWMtMS41LDEuMi0zLjUsMS45LTUuNiwxLjkNCgljLTAuNCwwLTAuNywwLTEuMS0wLjFjMiwxLjMsNC40LDIsNi45LDJjOC4zLDAsMTIuOC02LjgsMTIuOC0xMi42YzAtMC4yLDAtMC40LDAtMC42QzIxLjEsNSwyMS45LDQuMiwyMi41LDMuM3oiLz4NCjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.mobile-products-holder {
	overflow: hidden;
	margin: 15px 0 25px 0;
}

.mobile-products-wrapper {
	display: inline-block;
}

.mobile-products {
	width: 9000px;
  height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.mobile-product {
	display: block;
	float: left;
	width: 90px;
	height: 90px;
	border: 1px solid #ddd;
	margin: 5px;
	padding: 5px;
  position: relative;
}

.mobile-product:first-child {
  margin-left: 0;
}

.mobile-product-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
}

.touched .mobile-product-overlay {
  display: block;
}

.mobile-product:last-child {
	margin-right: 0;
}

.mobile-product-img {
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
}

#player-products {
	margin-bottom: 5px;
}

.desktop-products-holder {
      display: none;
      float: right;
      width: 15.65%;
      position: relative;
      margin-right: 20px;
      margin-bottom: 30px;
}

.desktop-products-scroller-holder {
	overflow: hidden;
	height: 311px;
}

.desktop-products {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.desktop-product {
	display: block;
	float: left;
	width: 93px;
  	height: 93px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 5px;
}

.desktop-product:last-child {
	margin-bottom: 0;
}

.desktop-product-img {
	background-repeat: no-repeat;
	background-size: contain;
	height: 93px;
}

.product-pop-up {
	display: none;
	background-color: #fff;
	border: 1px solid #DDDDDD;
	position: absolute;
	z-index: 9999;
	width: 255px;
	top: 0;
	right: 125px;
	padding: 17px;
	-webkit-box-shadow: 0 8px 30px -5px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 8px 30px -5px rgba(50, 50, 50, 0.25);
  box-shadow: 0 8px 30px -5px rgba(50, 50, 50, 0.25);
}

.product-pop-up > a {
	text-decoration: none;
  display: block;
}

.product-pop-up:before {
	content: " ";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #DDDDDD;
  position: absolute;
  top: 20px;
  right: -13px;
  margin-left: auto;
  margin-right: auto;
}

.product-pop-up:after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid white;
  position: absolute;
  top: 20px;
  right: -12px;
  margin-left: auto;
  margin-right: auto;
}

.product-pop-up-title {
	display: block;
  color: #1A5889;
  font-weight: 700;
  text-align: center;
}

.product-pop-up-title:hover {
	color: #123E60;
}

.product-pop-up-img-holder {
	display: block;
  margin-top: 10px;
  width: 75%;
  margin: 15px auto 0 auto;
}

.product-pop-up-img {
	background-repeat: no-repeat;
  background-size: contain;
  padding-top: 100%;
  height: 0;
}

.product-pop-up-button {
	display: block;
  padding: 13px;
  background-color: #1a5888;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-top: 15px;
  border-radius: 60px;
}

.product-pop-up-button:hover {
  background-color: #134267;
}

.breadcrumbs {
  padding: 18px 0 3px 0;
  color: #1A5889;
  display: none;
}

.separator {
  padding: 0 2px 0 3px;
}

.home-link {
  text-decoration: none;
  color: #1A5889;
}

.home-link:hover {
  text-decoration: none;
  color: #000;
}


/* CHANNEL BANNERS */

.channel-banner {
  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.channel-banner-a {
  display: inline-block;
  width: 100%;
  height: 100%;
}