.tvp-carousel-title {
    padding: {{ ($.Scratch.Get "settings").title_padding }};
    color: {{ ($.Scratch.Get "settings").title_color }};
    font-size: {{ ($.Scratch.Get "settings").title_font_size }};
}

.tvp-video {
    padding: {{ ($.Scratch.Get "settings").item_padding }};
}

.tvp-video-play {
    background-color: {{ ($.Scratch.Get "settings").item_play_button_background_color }};
    width: {{ ($.Scratch.Get "settings").item_play_button_width }};
    height: {{ ($.Scratch.Get "settings").item_play_button_height }};
    border: {{ ($.Scratch.Get "settings").item_play_button_border }};
    border-radius: {{ ($.Scratch.Get "settings").item_play_button_border_radius }};
}

.tvp-video-play > polygon {
    fill: {{ ($.Scratch.Get "settings").item_play_button_icon_color }};
}

.tvp-video-title {
    font-size: {{ ($.Scratch.Get "settings").item_title_font_size }};
    color: {{ ($.Scratch.Get "settings").item_title_font_color }};
    margin: {{ ($.Scratch.Get "settings").item_title_margin }};
}

.tvp-video-image-overlay {
    background: {{ ($.Scratch.Get "settings").item_image_overlay_color }};
}

.tvp-video:hover .tvp-video-play {
    background-color: {{ ($.Scratch.Get "settings").item_play_button_hover_color }};
}

.tvp-video:hover .tvp-video-play > polygon {
    fill: {{ ($.Scratch.Get "settings").item_play_button_icon_hover_color }};
}

.tvp-carousel-arrow {
    top: {{ ($.Scratch.Get "settings").arrow_top }};
    width: {{ ($.Scratch.Get "settings").arrow_width }};
    height: {{ ($.Scratch.Get "settings").arrow_height }};
    border: {{ ($.Scratch.Get "settings").arrow_border }};
}

.tvp-carousel-arrow.prev {
    left: {{ ($.Scratch.Get "settings").arrow_prev_left }};
}

.tvp-carousel-arrow.next {
    right: {{ ($.Scratch.Get "settings").arrow_next_right }};
}

.tvp-carousel-arrow > svg {
    background: {{ ($.Scratch.Get "settings").arrow_background_color }};
    fill: {{ ($.Scratch.Get "settings").arrow_icon_color }};
}

.tvp-products-carousel-arrow {
    top: {{ ($.Scratch.Get "settings").arrow_products_top }};
    width: {{ ($.Scratch.Get "settings").arrow_products_width }};
    height: {{ ($.Scratch.Get "settings").arrow_products_height }};
    border: {{ ($.Scratch.Get "settings").arrow_products_border }};
}

.tvp-products-carousel-arrow.prev {
    left: {{ ($.Scratch.Get "settings").arrow_products_prev_left }};
}

.tvp-products-carousel-arrow.next {
    right: {{ ($.Scratch.Get "settings").arrow_products_next_right }};
}

.tvp-products-carousel-arrow > svg {
    background: {{ ($.Scratch.Get "settings").arrow_products_background_color }};
    fill: {{ ($.Scratch.Get "settings").arrow_products_icon_color }};
}

.tvp-overlay-cover {
    opacity: {{ ($.Scratch.Get "settings").overlay_opacity }};
    background-image: linear-gradient(to bottom right,{{ ($.Scratch.Get "settings").overlay_color }},{{ ($.Scratch.Get "settings").overlay_color }});
}

.tvp-play {
    width: {{ ($.Scratch.Get "settings").play_button_width }};
    height: {{ ($.Scratch.Get "settings").play_button_height }};
    background-color: {{ ($.Scratch.Get "settings").play_button_background_color }};
    border: {{ ($.Scratch.Get "settings").play_button_border }};
    border-radius: {{ ($.Scratch.Get "settings").play_button_border_radius }};
}

.tvp-play > polygon {
    fill: {{ ($.Scratch.Get "settings").play_button_icon_color }};
}

.tvp-products {
    background: {{ ($.Scratch.Get "settings").products_background }};
}

.tvp-product {
    border: {{ ($.Scratch.Get "settings").product_border }};
}

.tvp-product-price {
    color: {{ ($.Scratch.Get "settings").product_price_font_color }};
    font-size: {{ ($.Scratch.Get "settings").product_price_font_size }};
}

.tvp-product-title {
    color: {{ ($.Scratch.Get "settings").product_title_font_color }};
    font-size: {{ ($.Scratch.Get "settings").product_title_font_size }};
}

.tvp-product-cta {
    background: {{ ($.Scratch.Get "settings").product_cta_background }};
    border: {{ ($.Scratch.Get "settings").product_cta_border }};
    color: {{ ($.Scratch.Get "settings").product_cta_font_color }};
    text-transform: {{ ($.Scratch.Get "settings").product_cta_text_transform }};
    font-size: {{ ($.Scratch.Get "settings").product_cta_font_size }};
    padding: {{ ($.Scratch.Get "settings").product_cta_padding }};
}

.tvp-product-cta:hover {
    background: {{ ($.Scratch.Get "settings").product_cta_background_hover }};
}