'<div data-id="{id}" class="carousel-item clickable">' +
  
  '<div class="product-holder">' +
    '<a class="abs-center product{className}" href="{linkUrl}" data-id="{id}">' +
      '<div class="w-50 mx-auto mb-3">' +
        '<div class="product-image bg-default fluid-y" style="background-image:url({imageUrl});"></div>' +
      '</div>' +
      '<p class="product-title mb-1 ready">{title}</p>' +
      '<p class="product-price mb-1 ready">{price}</p>' +
      '<button type="button" class="btn-sm w-100">{actionText}</button>' +
    '</a>'+
  '</div>'+

'</div>'