/*@font-face {
  font-family: 'FuturaStd';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bold_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bold_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bold_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bold_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bold_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bold_bbb.svg#FuturaStdBold') format('svg');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStd';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_boldoblique_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_boldoblique_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_boldoblique_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_boldoblique_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_boldoblique_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_boldoblique_bbb.svg#FuturaStdBoldOblique') format('svg');
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: 'FuturaStd';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extrabold_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extrabold_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extrabold_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extrabold_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extrabold_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extrabold_bbb.svg#FuturaStdExtraBold') format('svg');
  font-weight: bolder;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStd';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extraboldoblique_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extraboldoblique_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extraboldoblique_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extraboldoblique_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extraboldoblique_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_extraboldoblique_bbb.svg#FuturaStdExtraBoldOblique') format('svg');
  font-weight: bolder;
  font-style: italic
}

@font-face {
  font-family: 'FuturaStd';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.eot?#iefix') format('embedded-opentype'),
  url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.woff') format('woff'),
  url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.ttf') format('truetype'),
  url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.otf') format('opentype'),
  url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.svg#FuturaStdLight') format('svg');
  font-weight: lighter;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStdLight';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_light_bbb.svg#FuturaStdLight') format('svg');
  font-weight: lighter;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStd';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_lightoblique_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_lightoblique_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_lightoblique_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_lightoblique_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_lightoblique_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_lightoblique_bbb.svg#FuturaStdLightOblique') format('svg');
  font-weight: lighter;
  font-style: italic
}

@font-face {
  font-family: 'FuturaStdBook';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_book_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_book_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_book_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_book_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_book_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_book_bbb.svg#FuturaStdBook') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStdBook';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bookoblique_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bookoblique_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bookoblique_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bookoblique_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bookoblique_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_bookoblique_bbb.svg#FuturaStdBookOblique') format('svg');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'FuturaStdCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensed_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensed_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensed_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensed_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensed_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensed_bbb.svg#FuturaStdMediumCondensed') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStdCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedbold_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedbold_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedbold_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedbold_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedbold_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedbold_bbb.svg#FuturaStdBoldCondensed') format('svg');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStdCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedboldobl_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedboldobl_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedboldobl_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedboldobl_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedboldobl_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedboldobl_bbb.svg#FuturaStdBoldCondensedOblique') format('svg');
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: 'FuturaStdCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedextrabd_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedextrabd_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedextrabd_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedextrabd_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedextrabd_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedextrabd_bbb.svg#FuturaStdExtraBoldCondensed') format('svg');
  font-weight: bolder;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStdCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlight_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlight_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlight_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlight_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlight_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlight_bbb.svg#FuturaStdLightCondensed') format('svg');
  font-weight: lighter;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStdCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlightobl_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlightobl_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlightobl_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlightobl_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlightobl_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedlightobl_bbb.svg#FuturaStdLtCnOb') format('svg');
  font-weight: lighter;
  font-style: italic
}

@font-face {
  font-family: 'FuturaStdCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedoblique_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedoblique_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedoblique_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedoblique_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedoblique_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condensedoblique_bbb.svg#FuturaStdMdCnOb') format('svg');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'FuturaStdCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condextraboldobl_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condextraboldobl_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condextraboldobl_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condextraboldobl_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condextraboldobl_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_condextraboldobl_bbb.svg#FuturaStdXBdCnOb') format('svg');
  font-weight: bolder;
  font-style: italic
}

@font-face {
  font-family: 'FuturaStdHeavy';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_heavy_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_heavy_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_heavy_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_heavy_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_heavy_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_heavy_bbb.svg#FuturaStdHeavy') format('svg');
  font-weight: normal;
  font-style: normal
}*/

@font-face {
  font-family: 'FuturaStdHeavy';
  src: url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_heavy_bbb.eot');
  src: url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_heavy_bbb.eot?#iefix') format('embedded-opentype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_heavy_bbb.woff') format('woff'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_heavy_bbb.ttf') format('truetype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_heavy_bbb.otf') format('opentype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_heavy_bbb.svg#FuturaStdHeavy') format('svg');
}

@font-face {
  font-family: 'FuturaStdLight';
  src: url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_light_bbb.eot');
  src: url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_light_bbb.eot?#iefix') format('embedded-opentype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_light_bbb.woff') format('woff'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_light_bbb.ttf') format('truetype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_light_bbb.otf') format('opentype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_light_bbb.svg#FuturaStdLight') format('svg');
}

@font-face {
  font-family: 'FuturaStdMedium';
  src: url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_medium_bbb.eot');
  src: url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_medium_bbb.eot?#iefix') format('embedded-opentype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_medium_bbb.woff') format('woff'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_medium_bbb.ttf') format('truetype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_medium_bbb.otf') format('opentype'),
  url('//s3-us-west-2.amazonaws.com/tvpage-a.tvpage.com/live/tvsite/1758166/fonts/futurastd_medium_bbb.svg#FuturaStdMedium') format('svg');
}

/*
@font-face {
  font-family: 'FuturaStdMedium';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_medium_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_medium_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_medium_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_medium_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_medium_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_medium_bbb.svg#FuturaStdMedium') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'FuturaStdMedium';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_mediumoblique_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_mediumoblique_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_mediumoblique_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_mediumoblique_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_mediumoblique_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/futura_std/futurastd_mediumoblique_bbb.svg#FuturaStdMediumOblique') format('svg');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICAT.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICAT.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICAT.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICAT.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICAT.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICAT.svg#AmericanTypewriter') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTB.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTB.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTB.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTB.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTB.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTB#AmericanTypewriter-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'AmericanTypewriterLight';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTL.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTL.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTL.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTL.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTL.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTL.svg#AmericanTypewriter-Light') format('svg');
  font-weight: lighter;
  font-style: normal
}

@font-face {
  font-family: 'AmericanTypewriterCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTC.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTC.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTC.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTC.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTC.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERICTC.svg#AmericanTypewriter-Condensed') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'AmericanTypewriterCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCB.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCB.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCB.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCB.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCB.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCB.svg#AmericanTypewriter-CondensedBold') format('svg');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'AmericanTypewriterCondensed';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCL.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCL.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCL.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCL.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCL.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/american_typewriter/AMERITCL.svg#AmericanTypewriter-CondensedLight') format('svg');
  font-weight: lighter;
  font-style: normal
}

@font-face {
  font-family: 'ITCLubalinGraphStdDemi';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demi_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demi_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demi_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demi_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demi_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demi_bbb.svg#ITCLubalinGraphStdDemi') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'ITCLubalinGraphStdDemi';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demioblique_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demioblique_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demioblique_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demioblique_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demioblique_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_demioblique_bbb.svg#ITCLubalinGraphStdDemiOblique') format('svg');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'ITCLubalinGraphStdBook';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_book_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_book_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_book_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_book_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_book_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_book_bbb.svg#ITCLubalinGraphStdBook') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'ITCLubalinGraphStdBook';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_bookoblique_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_bookoblique_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_bookoblique_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_bookoblique_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_bookoblique_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_lubalin_graph_std/lubalingraphstd_bookoblique_bbb.svg#ITCLubalinGraphStdBookOblique') format('svg');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'ITCNewBaskervilleSmallCaps';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_sc_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_sc_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_sc_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_sc_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_sc_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_sc_bbb.svg#ITCNewBaskervilleRegular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'ITCNewBaskervilleSmallCaps';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_boldsc_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_boldsc_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_boldsc_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_boldsc_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_boldsc_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_boldsc_bbb.svg#ITCNewBaskervilleBold') format('svg');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'ITCNewBaskervilleRoman';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_roman_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_roman_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_roman_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_roman_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_roman_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_roman_bbb.svg#ITCNewBaskervilleRoman') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'ITCNewBaskervilleRoman';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_italic_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_italic_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_italic_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_italic_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_italic_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_italic_bbb.svg#ITCNewBaskervilleItalic') format('svg');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'ITCNewBaskervilleRoman';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bold_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bold_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bold_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bold_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bold_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bold_bbb.svg#ITCNewBaskervilleBold') format('svg');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'ITCNewBaskervilleRoman';
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bolditalic_bbb.eot');
  src: url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bolditalic_bbb.eot?#iefix') format('embedded-opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bolditalic_bbb.woff') format('woff'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bolditalic_bbb.ttf') format('truetype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bolditalic_bbb.otf') format('opentype'), url('//www.bedbathandbeyond.com/_assets/global/fonts/itc_new_baskerville/newbaskerville_bolditalic_bbb.svg#ITCNewBaskervilleBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic
}*/
