/* SCROLLERS
----------------------------------------------- */
.scroll-area {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

#scroller-wrapper.x-scroll {
  width: 100%;
  overflow: hidden;
}

.x-scroll #scroller {
  width: 9000px;
  height: 100%;
}

.x-scroll #scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline-block;
}

.x-scroll #scroller li {
  display: inline-block;
  float: left;
  height: 100%;
  padding: 1px 10px 1px 0;
}

.x-scroll #scroller li:last-child {
  padding-right: 0;
}

#scroller-wrapper.y-scroll {
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  height: 368px;
}

.y-scroll #scroller {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.y-scroll #scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  padding-right: 15px;
}

.y-scroll #scroller li {
  margin-bottom: 19px;
  border: 0;
  padding: 0;
}

.y-scroll #scroller li:last-child {
  margin-bottom: 0;
}

