<div id="{{ name }}"></div>
<script>
(function(d, s) {
  function extend(a, b){
      for(var key in b)
          if(b.hasOwnProperty(key))
              a[key] = b[key];
      return a;
  }

  __TVPage__ = window.__TVPage__ || {};
  __TVPage__.config = __TVPage__.config || {};
  __TVPage__.config["{{ name }}"] = extend(__TVPage__.config["{{ name }}"] || {}, {
    targetEl : "{{ name }}",
    loginid: "{{ channel.loginId }}",
    channel: {{ channel.config }},
    api_base_url: "{{ env.apiBaseUrl }}"
  });
  
  console.log(__TVPage__.config["{{ name }}"]);
  
  var js = d.createElement(s),
  fjs = d.getElementsByTagName(s)[0];
  js.src = '{{ baseUrl }}/tvpwidget/{{ name }}/index.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script'));
</script>
