<div id="{{ name }}"></div>
<script>
(function(d, s) {
  __TVPage__ = window.__TVPage__ || {};
  __TVPage__.config = __TVPage__.config || {};
  __TVPage__.config["{{ name }}"] = {
    targetEl : "{{ name }}",
    loginid: "{{ channel.loginId }}",
    channel: {{ channel.config }}
  };
  
  var js = d.createElement(s),
  fjs = d.getElementsByTagName(s)[0];
  js.src = '{{ baseUrl }}/tvpwidget/{{ name }}/index.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script'));
</script>