<link rel="apple-touch-icon" sizes="180x180" href="{{$.Site.BaseURL}}/{{.Type}}/images/favicons/{{- ($.Scratch.Get "settings").favicon -}}-apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{$.Site.BaseURL}}/{{.Type}}/images/favicons/{{- ($.Scratch.Get "settings").favicon -}}-favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{$.Site.BaseURL}}/{{.Type}}/images/favicons/{{- ($.Scratch.Get "settings").favicon -}}-favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{$.Site.BaseURL}}/{{.Type}}/images/favicons/{{- ($.Scratch.Get "settings").favicon -}}-manifest.json">
<link rel="mask-icon" href="{{$.Site.BaseURL}}/{{.Type}}/images/favicons/{{- ($.Scratch.Get "settings").favicon -}}-safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">