{{ $baseUrl := .Site.BaseURL }}
<div class="col-sm-4 col-md-4">
	<a href='{{ $baseUrl }}/{{ .url }}' class="latest-video">
	
		<div class="latest-video-thumbnail">		
		  <div class="content">
	      	<img {{with .asset.thumbnailUrl}} src="{{ . }}"{{else}} src='/{{ .Type }}{{ .Param "thumbdefault" }}'{{end}}
	      			alt="">
	      		<div class="latest-video-hover">	      			
					<div class="play-icon"></div>
				</div>
	      </div>
		</div>
		<p class="latest-video-title">
			{{- .title -}}
		</p>
	</a>
</div>