{{ $channel := printf "x%s" .Params.channelid }}
{{ $channel := index $.Site.Data.channels $channel }}
{{ $.Scratch.Add "channel" $channel }}
{{ $channel}}

<!DOCTYPE html>

<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{.Title}}</title>
  <meta name="description" content="Watch exciting new videos and see the latest trends in Cooking, Home Decor, Seasonal Favorites and Wedding Gift Ideas">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="https://www.bedbathandbeyond.tv/Cooking/Featured/Himalayan-Salt-Block/6410335-6412817-65934729">
  <meta property="og:url" content="https://www.bedbathandbeyond.tv/Cooking/Featured/Himalayan-Salt-Block/6410335-6412817-65934729">
  <meta name="twitter:url" content="https://www.bedbathandbeyond.tv/Cooking/Featured/Himalayan-Salt-Block/6410335-6412817-65934729">
  <meta name="title" content="{{ .Title }}">
  <meta name="description" content="The Himalayan Salt Block is not only a great way to add seasoning to your food, it is an ingenious way to cook and serve your food too.">
  <link rel="stylesheet" href="/file/index.min.css">
  <link rel="icon" type="image/x-icon" href="http://do0631budpzeh.cloudfront.net/live/tvsite/1758166/www.bedbathandbeyond.tv/2d20131fee92825a3cca38c25e4c9247/img/favicon.ico">

  <style media="screen">
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .live-search-results #results li a .img {
      top: -10px;
    }
    .live-search-results #results li a strong {
      margin-top: -20px;
    }
  }
  </style>
  <script type="text/javascript">
    if ( typeof TVSite == 'undefined' ) {
      TVSite = {};
    }
  </script>

      <script type="text/javascript">
        if ( typeof TVSite == 'undefined' ) {
          TVSite = {};
        }

        TVSite.config = {};
      </script>

</head>
<body class="playback-page" style="background-color: {{ $.Site.Data.themes.tvpage1.settings.backgroundColor }};">

<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="/file/fTmIQU3LxvB.html" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="/file/fTmIQU3LxvB(1).html" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=398160870284280";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="channel-image-background cooking">
  <div id="site-header">
  <div class="container-fluid site-header-wrapper rel">
    <div class="branding-wrapper">
      <div id="branding">
                                          <a href="/"><img src="/file/logo.png"></a>
      </div>
    </div>
        <div id="search">
		<input id="search-input" type="text" placeholder="Search Videos...">
		<button id="search-button" type="submit"></button>
		<div class="live-search-results">
			<div id="live-search-scroller" class="scroller-wrapper">
				<div class="scrollable">
					<ul id="results" class="results hidden"></ul>
				</div>
			</div>
		</div>
		<div class="notice loading-notice hidden">
			<img class="loading" src="/file/spinner.gif" alt="Searching">
		</div>
    </div>
  </div>
  <div class="sub-header">
  	<div class="sub-header-wrapper container-fluid">

		<div id="channels-menu-mobile-button" class="channels-menu-mobile-button">
			<button id="channels-menu-button-inside" class="button">
				Browse Channels
			</button>

		</div>
</div>

</div>
  <div class="container-fluid mid-section">
    <div id="breadcrumbs" class="breadcrumbs">
	<div class="inline" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
		<a href="/" itemprop="url">
		  <span itemprop="title">Home</span>
		</a>
	</div>
						<span class="breadcrumbs-spacer on">&gt;</span>
			<div id="breadcrumb-1" data-channel-id="6410335" class="inline" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a class="link on" href="/Cooking/6410335--" itemprop="url">
										<span itemprop="title">Cooking</span>
									</a>
			</div>
			</div>
    <div id="video-playing-title-holder" class="clearfix">
      <p class="video-playing-prefix">NOW PLAYING:</p>
      <p id="video-playing-title" class="video-playing-title">...</p>
    </div>
        <div class="pull-right">
      <div class="social-media-share">
        <span class="share-text">share:</span>
      </div>
      <div class="relatedText">Related Products</div>
    </div>
  </div>
  <div id="player-wrapper" class="player-wrapper">
    <div class="player-products container-fluid">
      <div id="player">
        <div class="player-holder">
          <div id="TVPagePlayer"></div>
          <div id="html5MobilePlayBtn" class="html5-play-button">P</div>
        </div>
        <div id="player-products-overlay">
          <div class="row">
            <div class="product-overlay-name row-item"></div>
            <div class="product-overlay-price row-item"></div>
            <div class="product-overlay-cta row-item"></div>
          </div>
        </div>
      </div>
  </div>
</div>

{{ partial "tvpage1/channelVideos.html" . }}

<div id="site-footer">
      <div class="site-footer-wrapper">
            <div class="footer-text">{{.Site.Params.copyrighthtml | safeHTML }}
                  <span class="footer-pipe-1"> | </span>
            </div>
            <div class="footer-links footer-links-1">
                   <a href="http://www.tvpage.com/privacy" target="_blank">Privacy Policy - Your Privacy Rights</a> |
                   <a href="http://www.tvpage.com/terms" target="_blank">Terms of Use</a>
                   <span class="footer-pipe-2"> | </span>
            </div>
            <div class="footer-links footer-links-2">
                   <a href="http://www.bedbathandbeyond.com/" target="_blank">bedbathandbeyond.com</a> |
                   Powered by <a href="http://www.tvpage.com/" target="_blank">TVPage</a>
            </div>
      </div>
</div>
<script src="/file/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="//do0631budpzeh.cloudfront.net/live/tvsite/1758166/www.bedbathandbeyond.tv/2d20131fee92825a3cca38c25e4c9247/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="/file/iscroll-min.js"></script>
<script>window.IScroll || document.write('<script src="//do0631budpzeh.cloudfront.net/live/tvsite/1758166/www.bedbathandbeyond.tv/2d20131fee92825a3cca38c25e4c9247/js/vendor/iscroll-5.1.1.min.js"><\/script>')</script>
<script src="/file/modernizr.min.js"></script>
<script>window.Modernizr || document.write('<script src="//do0631budpzeh.cloudfront.net/live/tvsite/1758166/www.bedbathandbeyond.tv/2d20131fee92825a3cca38c25e4c9247/js/vendor/modernizr-2.8.3.min.js"><\/script>')</script>
<script src="/file/jquery.tvp-touch.js"></script>
<script src="/file/jquery.throttle-debounce.min.js"></script>
<script src="/file/jquery.lazyload.min.js"></script>
<script src="/file/main.min.jsXX"></script>

</div></div></div></body></html>
