.filter-wrapper{
  background-color: #759F13;
  height: 108px;
  position: relative;
  padding-top: 5px;
}

#video-filters{
  height: 100%;
  padding-top: 14px;
}
#video-filters span{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  float: left;
  padding-top: 8px;
}
#video-filters .filter{  
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

#video-filters .filter:after{
  position: absolute; 
  right: 15px;
  width: 5px;
  height: 5px;
  border-left: solid 2px #929292;
  border-top: solid 2px #929292;
  transform: rotate(-135deg) skewX(-5deg) skewY(-5deg);
  -webkit-transform: rotate(-135deg) skewX(-5deg) skewY(-5deg);
  -moz-transform: rotate(-135deg) skewX(-5deg) skewY(-5deg);
  -o-transform: rotate(-135deg) skewX(-5deg) skewY(-5deg);
  -ms-transform: rotate(-135deg) skewX(-5deg) skewY(-5deg);
  content: '';
  margin: -20px 0;
  pointer-events: none;
}
#video-filters .filter.disabled:after{
  border-top: 9px solid #dddddd;
}
#video-filters select{
  border: 0px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 8px;
  color: #929292;
  background-color: white;
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-position: 7px 4px;
}
#video-filters select.inactive{
  opacity: 0.4;
  pointer-events: none;
}
#video-filters select::-ms-expand{
  display: none;
}

.filter-close {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTkzMzMzIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
  background-color: white;
  background-size: cover;
  background-position: center;
  border: none;
  padding: 0;
  right: 5px;
  z-index: 9999;
  display: none;
}

#video-filters .reset-filter{
  color: #FFF;
  text-decoration: underline;
  text-align: right;
  opacity: 0;
  font-size: 80%;
  height: 28px;
  float: right;
  width: 40px;
  border: 0;
  background-color: transparent;
}

#video-filters legend {
      top: -10px;
      position: relative;
      color: #FFF;
      font-weight: bold;
  }

@media (min-width: 768px) {
  .filter-wrapper{
    height: 40px;
    padding-top: 2px;
  }
  #video-filters{
    padding-top: 0;
  }

  #video-filters legend {
      top: 20px;
      left: -60px;
      position: relative;
      color: #FFF;
      font-weight: bold;
  }

  #video-filters span{
    width: 119px;
  }
  #video-filters .filter{
    margin: 5px -5px;
    width: 220px;
    margin-right: 10px;
    float: left;
    left: 65px;
    top: -3px;
  }

    #video-filters .filter:first-child{
    top: -17px;
  }

  #video-filters .reset-filter{
    top: 10%;
    left: 55px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    display: block;
    float: left;
    color: #FFF;
    text-decoration: underline;
    cursor: pointer;
    font-size: 100%;
    width: 50px;
  }  
  .video-filters .filter:after{
     top:12px;
  }
}