/**
 * Mobile Header
 */
#mobile-header {
	background-color: #EDEDED;
	position: relative;
	height: 40px;
}

.logo-mobile {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 78px;
	height: 33px;
}

.logo-mobile-img {
	width: 78px;
	height: 31px;
}

#mobile-channels-menu-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0 auto 0;
	left: 0;
	width: 45px;
	cursor: pointer;
}

.mobile-channels-menu-button.touched {
	background-color: #759F13;
	border-bottom: 1px solid #EDEDED;
}

.mobile-channels-menu-button.active {
	background-color: #759F13;
	border-bottom: 1px solid #EDEDED;
}

.menu-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0 auto 0;
	left: 15px;
	width: 24px;
	height: 18px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAiCAYAAAC0nUK+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVZJREFUeNpiYKAhYAQRaWlp/UDKACp2d9asWSlQcQkgVQHE+uQYzgKlQQY7QNmCSPIcUDl7cgxnomWwwFw+G4h3QtmvkOTfA/EsIN7BMKIALLX4ASkpqNhbYGpZDRXnBVKOSHJkhXkGENtC2ZeBeDWULQTEmUBsQ4nhnEDMA2VzofkMWY4sw5+BMg+U/RhJ/g8QP0WSG2GpRQ4prH8CU8t9qDgrkJJEiweSw7wOiE2g7JtAHA5li6LJkWW4Mo6Sjw2IVcgtFelScBUCsQCU/QVJ/gUQFyDJkR6h////R6ksGBkZU6DiFFUWDFBD9v9HgAtI4gpAfOA/mYCJ5ukcaEkUkJKDVRbAYJkHFecHUt5IciMp+wO9j1JZAINlNVScosoCZvg25MoCaLgVVFweSM0YrSyGXmpBqSyAEXofKk5RZQEzfA5yZQE0PBwqDkqCTSOvsgAIMAC9lbAdh9wQBQAAAABJRU5ErkJggg==');
	background-size: cover;
}

.touched .menu-icon {
	background-position: 0 17px;
}

.active .menu-icon {
	background-position: 0 17px;
}

.mobile-search {
	background-color: #666;
	display: none;
}

.mobile-search-input {
	-webkit-appearance: none;
	width: 100%;
	height: 35px;
	margin: 5px 0;
	padding-left: 10px;
	border-radius: 1px;
	border: 0;
	color: #bebebe;
}

.mobile-search-input:focus {
	outline: none;
}

.mobile-search-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0 auto 0;
	right: 0;
	width: 45px;
	cursor: pointer;
}

.mobile-search-button.touched {
	background-color: #666;
	border-bottom: 1px solid #EDEDED;
}

.mobile-search-button.active {
	background-color: #666;
	border-bottom: 1px solid #EDEDED;
}

.search-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0 auto 0;
	right: 15px;
	width: 23px;
	height: 23px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAsCAYAAABhVUjwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA41JREFUeNrElUtIVGEUx+eONirZw7KosIdhFimEDT1MJaVFULaIWlQbo4UULaJVCyWpaBMtoqUtalNWUKQWBIEFPcx0MMpKS8t8YWRpZqaWTr9DZ+Iy3rlzhyk68OO7j/P9v9c55zNcFlZcXDyVZoWyCOJgFDrhJTSWl5f7XTZmWIjOp9kL2Sq8GDwwpsIv4BZUId7rSBjRHJpTkAUJILP6At8gEaZrn6/wDPYj3mQrjGgKzQ0V/QmvoAIew4gOJAPvgkyYgCtQgvi7YOEYFZUBDmsnN1RKB7gDLXTs8nq9Hbq/MtBqkC1bINvEv3s+n2/cLByrrcxkp4q+hyLEhsyOvMsM+wQmkqcDZMB28Onq/phb23yYq89lwaLBpv8P6KvMvDDYJyC8BpL0UK66HBji92madO+XsYo5VsJy2lOglw7fXc6tTdt4mGkl/ENPOYGRYyMQntDWr0wSboUhPeW1ThR1Ahn6OgyfrIQf6Q95P0gnjwPtDbAEZOvewqCVcDXU6fMOFY+zma0k0TlNdYnvi5zN+KQEIcClwHzWBBHBNEjmezuB329ePt8KeDyr2Wdouvv43oivZUpL2ByCE/q9X9O6Frp1dl7d10xTXylOjZq5tcw8ZHWTLLxuShin1gDHpPJJSY0J/styOllWlYaS1OJppt8SUvWadfMg1fRPIiodeuj/2ggTUh7tnKSxLlVsQOoG/yQpLsBWLakBa5EtNVxRGOIraY5aiN91u6KzZjiuN8qI6XtaTDSqnIef/ezTHJAiJJdFD5TGRDljEZc8kKrYrmdwG25a7rHf7w97SxuGEdktjajjWxrxXkfLQjQHHsKw/7dNQD90wYC+iw3CA8h0IpoCDTAOo/AUjsBGWAf5UALPVVz8LkGqnagBZeosdg2yYTa41ccNybqqRvXrg9PgCSWca5pJOySGWV0iNKl/G+wO5VgKH9SxyOF55Km/nMfFUE6VMKaHkuA0hk2rfAL2tzQh9G9uaUb+v7e0TiCyWzpk+ERwSwdGnwEVehAjcBjibGabBS3q3wxbQjkKBSoq1gonYWnw8mGTZuiEKe73iYZlEdIwi/qWJqpsC1EgWSKxeiiU8mB34ulwBrqDOsvy62Ab1NiIhw0pDyyH9eCFWaaiFA+X4WuQuBzm5qiuJQRWhhCviVbYbRL/bhLuiPYuDdTyhXAePsIb2GO4/oJpJKyCXA3T6l8CDAAYuEx29Y9ppwAAAABJRU5ErkJggg==');
	background-size: cover;
}

.touched .search-icon {
	background-position: 0 23px;
}

.active .search-icon {
	background-position: 0 23px;
}

.mobile-channels-menu {
	display: none;
	background-color: #759F13;
}

.mobile-channels-menu-item {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #759F13;
	border-bottom: 1px solid #EDEDED;
	color: #fff;
	padding: 12px 10px;
}

/**
 * Desktop Header
 */
#desktop-main-header {
	display: none;
	background-color: #EDEDED;
	padding: 20px 0;
}

.logo-desktop {
	display: inline-block;
	float: left;
	margin-top: -2px;
}

.logo-desktop-img {
	width: 115px;
}

.desktop-search-form {
	position: relative;
	float: left;
	width: 440px;
	margin-left: 2%;
}

.desktop-search-input {
	-webkit-appearance: none;
	border-radius: 0;
	width: 100%;
	height: 45px;
	border: 1px solid #bebebe;
	padding-left: 20px;
	color: #bebebe;
}

.desktop-search-input.active {
	font-style: normal;
	color: #a2a2a2;
}

.desktop-search-input:focus {
	outline: none;
}

.desktop-search-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 42px;
	border: 0;
	padding: 0;
	background: transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAIAAAC0Ujn1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhRJREFUeNrsVkurQVEUtjkkA5JHSRmQCVIyEKfM/GwxoJCplEcmojyK5JHn/W5L+7rHuWdvLnd012h12vvba3/r+9Y+7HK5mN4TZtPb4o3Qiu5XsDQej4fD4XQ63e12+GK3271ebygUCgQCktDsnuvFYtFsNpfLpe4Gt9udTqddLtfD0Ci2Xq+fTqcrX2azw+FAsl6v+UqLxZLJZITlf4NGveVymXCBGIvFgsGgonySdjgcwE+73d5ut3RkPp/3eDxS0EiKxSLx4PP5stms1WrVrN7v97VaDQ2gswuFAh0sUAioIFzs0cVF2Gy2XC7ndDqRbzabfr8vJT7clxLwoIt7lZSipFIpygeDgRQ0XRMkgl/j/kCFVDh6i9rF0KRfsGFAHw/ewNVq9WI3csbO57MYGn6jO0JnQmgs440VQ4NBkiDv50+BSqkxjDEDW35BYz5QAl9AvwbQvV6PFvj9fildw7iYD0jgN/jieDzqbkC9rVaL8mg0KjtUMXcwH2h/qVSazWYaHjqdTqVS4a0bjUaPjSeUzDdDv9AZ9IC+4bx7osLhMHeQeKjO5/NGo2HgBUl0pvs2gmjMB/iYi4z0gL5FIpFut0sKMUZnxs8uaoffwA/0C52RHjB1q9WqEJ0996LrokMwyWTyt0aHkFRVxVi//aiZsc+/6Pfo8Xj8BYTcMgOxTiaTRCKhcRD7/3v6M+gPAQYAon8yVMdn7GUAAAAASUVORK5CYII=');
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: 8px 10px;
	cursor: pointer;
	opacity: 0.7;
}

.desktop-search-button:hover {
	opacity: 1;
}

.desktop-search-button:focus {
	outline: none;
}

.bh-home-logo {
	float: right;
	width: 111px;
	height: 40px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAZCAIAAADMuvsyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABphJREFUeNrEVmmMHEcVflVdfc197HgPdr32ejfZYDZ4HQIBBFGEQoIQtvIjwiJSIiR+8CdCFuEHKCYiiEMEEAoK4kdARggE2FYkW5FiQQwOliUsrw/MYnxm4529jzl6pqe7uquKV7PYs5E88I+URq2eOt733vfe+6qJUgrei0HhPRps8x//5o24UqVs0yTyoRTLpJwdowBkY+r2ix58aTEolykz9YKIWTrtjt2zsdS8ekU2GsTQ1mQcOcPDVk/pzkGymepLn9kz/8Yx18pr63dQlKQJy9m2tfTEnuEXvrkZFcetF79z+YXnXSuH7yGvlh78+K4zpzaWzj7wkcq5M46VQ1stXtn5g5cGv/bc3SO2FDgADjE0oESniKI6G7Ihgovnr188x0+dGz1+hNDOKQMoHnEJwwBwryk6ubMF3bCm2v4z0+pKte04aXxaCaCEKBbX5wQEDAo0mweSUUFc+dPR2h8O5/bt6/hqmBl8OglkwuR1107eWXItNwZmOUklwQjXrHY6ugArggYsjFGoOForPvNFc/tw7TdH4pm3DScJlmkEoC7NqH0QL98kVonl0qZpunhEEswAA+maHYOOaQpQptSpMTUS6QpMFFJHcJ0IpcJq6cBX6I57rWxybv+zppsmhJhA+OpaNP8yP3MUDNP+5HOgcgwoEoRsMmKrli/nZxVlRMQkCHCGaIOEttnuCiwAWugdpgvt0MTaL35r3z+x/uvDsZnDKdHwOBTz208a9StkYo6Fv2Jre1vlL4eQi6U2qxKl+PKNxv0PIxCRUnEpEj0gsVIUx1WiugKHSiGXSrR32H23vvcTgDpAxkyWOPdoimz90cHCM8PR2cdo+oeGOKnye6S7xYfAEilNGKGKR6LR2Gg5aqUJM9oNCQFGpbpTHSsS4vGIaiOEciASsKldyZWIlJlNqmJf5A+IBnez3/KXJp2JPxu9v6uAn2sRahLdmJgNlv8PfxLbXPuDwKE23j3iCBT+DNyBRkRkD48ZxZx37iJEdYsV1pfX4cAjk+NDavDrfm3VID8H7yz3SfETTPyTBuvSoEzEQQiLWnSAuNBnmI6SGpG389gdWFHMMYaJotGC8uRLP+5/8snm9PT5Rz9fXSg7ydzEQbj8jdWBA/vzD0FrqhBd+HTxsx9K3rPt0v44wipQvp3NFHfvRZoRuz71D16vU4XqsEE17arVQucYuCZcV1lyeAgnkzt3ilSyCRxnUPPMXq92+rjwfBRSiCvJ3acqf7GWFmLUm4ZcZeMju04c2fXmock3D7OxobpaCTXfBCOW8N+o1jvCdmcRyP/rxVfSEycW3zixfu26Cb31pjz9lPjAt/Oq8dXWWxFly9D/s8rxuaGnXlm5Wpg9EaPhSHSsc6lCHZmuqfB/UA267i10Tnde8drrh/jroQmoZAMxljmYF05fXX5i9HNXnlexLelHrYG+G78/OP3LajaFWo1Oq1h17GOPYaysHWgbuHvEgdf0dBXWb29xKDiaQ6hG4PvAk8AmX/2p0fd4x9d4dmYRClAx9bbYrzc7d13d87BsoIbvaJYHYVdgNjLo3Bq2zP53XX9SIl+Z/uz4wx/+4LP7U73FzUec+7ZnBwZT7qB2gi/aE2MdAZ4YtfiyZffpbXyB9RTerZKb2ss7f7E1s2RkbI2o2i2IjSElZdTd0uOO3otXblReUFKR2xIYedXW8jq1Gd4EKhZGwkn192/c4/7iQtwMiaXrV9aD9APvd7YO3T3ilZdfLR87xqItMgJqA3MlploEqEEgvECEXhBpbWyrkVZnhLeSKSebFXjRNwk1DMFD4a/gKtZpItHDEpbgkqB+JlbHv/9d5+kv3B24PDVrjb0z+LF3atPaNtaJ4QAVMPdX5kvmEtX7Ke4WVMyBuroO/Xmy+Dcr5iQ/FO/4UswXQURw66hpleTQQ2J1ei49IrUW2nD5EBSvV4rdctxK6JMtC7Y9DVENZk5Cowojj8L8rAx8US3TXEaVdkOyB2gCeB1qV9TbNwS3aX5QBhRS90FhFOavSuXK9+2FxIMSb2cW4WUJfz8MjSbt3k4ZfvaPkJrCbyyB3z/+CokDuHZJNZbA08ITV18znNcgMyKQf1QnEZGVFSRG1spw4S3DJiqzVTbWVNAwbk5JM4u1QIQPhq3KCkazftfiqly77i2tG4YZtQg2pOkq/AriTdCOa+EDvGTjEKJWW2BQHBgkslK3bESwuPRqC7OuqAmhR7QcKN3IEk0lec/4Nre45e7A/8/xbwEGAJ3KPngpGI3IAAAAAElFTkSuQmCC');
	background-position: 9px 6px;
	background-repeat: no-repeat;
	background-color: #fff;
	padding-left: 55px;
	padding-top: 12px;
	border-radius: 10px;
	border: 1px solid #DDDDDD;
	text-decoration: none;
	color: #759F13;
	margin-top: 3px;
}

.bh-home-logo:hover {
	color: #666;
}

.desktop-search-results-holder {
	display: none;
	position: absolute;
	z-index: 999999;
	top: 44px;
	bottom: 48px;
	left: 0;
	width: 100%;
	height: 490px;
	background: #F1F1F1;
	overflow: hidden;
	border: 1px solid #C8C8C8;
}

.desktop-search-results {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.desktop-search-results ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

.desktop-search-results li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}

.desktop-search-results li:hover {
	background-color: #EDEDED;
}

.desktop-search-results-item {
	text-decoration: none;
	position: relative;
	display: block;
}

.desktop-search-results-item:hover {
	background-color: #EDEDED;
}

.desktop-search-results-item-img-holder {
	float: left;
	width: 30%;
}

.desktop-search-results-item-img {
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 56.25%;
	height: 0;
}

.desktop-search-results-item-text {
	float: right;
	width: 280px;
}

.desktop-search-results-item-title {
	font-weight: 700;
	color: rgb(0, 111, 183);
	margin-top: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.desktop-search-results-item-description {
	font-weight: 400;
	font-size: 12px;
	color: #666;
	height: 45px;
	overflow: hidden;
	margin-top: 5px;
	line-height: 1.3;
}

.spinner {
	display: none;
	position: absolute;
	width: 100%;
	height: 50px;
	z-index: 999;
	background-color: #fff;
	border: 1px solid #C8C8C8;
}

.spinner-gif {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 28px;
	height: 28px;
}

.end-of-results {
	text-align: center;
	color: #759F13;
	background-color: #FFFFFF;
	height: 50px;
	line-height: 3.9;
	font-size: 95%;
}

.null-results {
	display: none;
	text-align: center;
	color: #759F13;
	position: absolute;
	width: 100%;
	height: 50px;
	line-height: 3.9;
	font-size: 95%;
	z-index: 999;
	background-color: #fff;
	border: 1px solid #C8C8C8;
}


/**
 * Top Header (Desktop & Tablet Only)
 */
#desktop-top-header {
	display: none;
	padding: 8px 0 9px 0;
	background-color: #EDEDED;
	border-bottom: 1px solid #C8C8C8;
	color: #999;
}

.more-sites-menu-holder {
	float: left;
	position: relative;
	margin-top: 2px;
}

.more-sites-menu {
	display: none;
	position: absolute;
	top: 25px;
	left: -13px;
	width: 263px;
	background-color: #FFF;
	z-index: 99;
	border: 1px solid #ddd;
	border-radius: 2px;
	-webkit-box-shadow: 0 8px 30px -5px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0 8px 30px -5px rgba(50, 50, 50, 0.25);
  box-shadow:         0 8px 30px -5px rgba(50, 50, 50, 0.25);
}

.more-sites-menu.active {
	display: block;
}

.more-sites-menu:before {
	content: " ";
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid #DDDDDD;
	position: absolute;
	top: -13px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.more-sites-menu:after {
	content: " ";
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid white;
	position: absolute;
	top: -11px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.more-sites-button {
	cursor: pointer;
}

.more-sites-button:before {
	content: " ";
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #999;
	position: absolute;
	right: -22px;
	bottom: 2px;
	cursor: pointer;
}

.more-sites-button:hover:before {
	border-top: 8px solid #666;
}

.more-sites-menu-item {
	display: block;
	text-decoration: none;
	color: #999;
	padding: 13px;
}

.more-sites-menu-item:hover {
	color: #666;
}

.slogan {
	float: left;
	display: none;
	margin: 2px 0 0 14%;
	color: #759F13;
}

.slogan > strong {
	font-weight: 700;
	padding-right: 17px;
}

.phone-number {
	float: right;
	margin: 3px 2.5% 0 0;
}

.live-chat {
	float: right;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAWCAIAAACzNgCbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARFJREFUeNpifPv2LQMNAOMQN/f8+fO7du369esX8UawsbG5ubkZGhoiC7KgKdq5c+fv37/5+fmJN/fjx49AXQTMBRrKzs6el5dHvLldXV0/f/5EE2RioA0YNXfUXHqYi54vgJni7LlzwKSOqZSTk9PZ2VlLSwvIXrFixaNHjyDiQPXGRkZoipnLy8uR+YKCgr9//fr79y+auv///589e+74ieM/f/yQlZW9du3art17ZGVlgFKKCgqenp6ioqJklmcXL14ElgOHDh+2sbZmZWV9//59TU0NBwcHUeGAB+jr6yspKQEdu2XL1itXr/r6eJMQvvgBLy9vZGQkMIiBDv/06RPVzEV2+JYtW4ZRPQQQYAAvlXL5iDfEqwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
	background-position: -4px 0px;
	background-size: 25px 18px;
	padding-left: 25px;
	padding-top: 3px;
	cursor: pointer;
}

.live-chat:hover {
	color: #666;
}


/**
 * Desktop bottom Header
 */
#desktop-bottom-header {
	background-color: #759F13;
	display: none;
}

.desktop-channels-menu-holder {
	float: left;
	width: 235px;
	background-color: #fff;
	position: relative;
}

.desktop-channels-menu-button {
	padding: 8px 0 8px 40px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAiCAYAAAC0nUK+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVZJREFUeNpiYKAhYAQRaWlp/UDKACp2d9asWSlQcQkgVQHE+uQYzgKlQQY7QNmCSPIcUDl7cgxnomWwwFw+G4h3QtmvkOTfA/EsIN7BMKIALLX4ASkpqNhbYGpZDRXnBVKOSHJkhXkGENtC2ZeBeDWULQTEmUBsQ4nhnEDMA2VzofkMWY4sw5+BMg+U/RhJ/g8QP0WSG2GpRQ4prH8CU8t9qDgrkJJEiweSw7wOiE2g7JtAHA5li6LJkWW4Mo6Sjw2IVcgtFelScBUCsQCU/QVJ/gUQFyDJkR6h////R6ksGBkZU6DiFFUWDFBD9v9HgAtI4gpAfOA/mYCJ5ukcaEkUkJKDVRbAYJkHFecHUt5IciMp+wO9j1JZAINlNVScosoCZvg25MoCaLgVVFweSM0YrSyGXmpBqSyAEXofKk5RZQEzfA5yZQE0PBwqDkqCTSOvsgAIMAC9lbAdh9wQBQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
	background-position: 10px 6px;
	cursor: pointer;
}

.desktop-channels-menu-button:before {
	content: " ";
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #666;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}

.desktop-channels-menu-button:hover:before {
	border-top: 8px solid #000;
}

.desktop-channels-menu-button.active:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #666;
	border-top: 0;
	bottom: 11px;
}

.desktop-channels-menu-button > span {
	border-left: 1px solid #ddd;
	padding-left: 7px;
}

.desktop-channels-menu {
	display: none;
	position: absolute;
	top: 31px;
	background-color: #fff;
	width: 235px;
	border: 1px solid #ddd;
	border-radius: 1px;
	color: #666;
	z-index: 999999;
}

.desktop-channels-menu-item {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #759F13;
    color: #fff;
    float: left;
    width: 16.66%;
    text-align: center;
    border-right: 1px solid white;
    padding: 7px 0;
    font-size: 90%;
}

.desktop-channels-menu-item:first-child {
	border-left: 1px solid white;
}

.desktop-channels-menu-item:hover {
	text-decoration: underline;
}

.channel-slider-header-link {
  color: #000000;
  text-decoration: none;
}