.tvp-overlay-cover {
    opacity: {{ ($.Scratch.Get "settings").overlay_opacity }};
    background-color: {{ ($.Scratch.Get "settings").overlay_color }};
}

.tvp-play {
    width: {{ ($.Scratch.Get "settings").play_button_width }};
    height: {{ ($.Scratch.Get "settings").play_button_height }};
    background-color: {{ ($.Scratch.Get "settings").play_button_background_color }};
    border: {{ ($.Scratch.Get "settings").play_button_border }};
    border-radius: {{ ($.Scratch.Get "settings").play_button_border_radius }};
}

.tvp-play > polygon {
    fill: {{ ($.Scratch.Get "settings").play_button_icon_color }};
}