'<div id="tvp-modal-overlay-{{ ($.Scratch.Get "settings").name }}" class="tvp-modal-overlay tvp-hidden"></div>' +
'<div id="tvp-modal-{{ ($.Scratch.Get "settings").name }}" class="tvp-modal tvp-hidden">' +
    '<div class="tvp-modal-wrapper {{ if ($.Scratch.Get "settings").video_modal_center }}centered{{end}}">' +
        '<div class="tvp-modal-content">' +
            '<div id="tvp-modal-header-{{ ($.Scratch.Get "settings").name }}" class="tvp-modal-header">' +
            '<div id="tvp-modal-close-{{ ($.Scratch.Get "settings").name }}" class="tvp-modal-close">' +
                '<svg class="tvp-modal-close-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
                    '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>' +
                    '<path d="M0 0h24v24H0z"></path>' +
                '</svg>' +
                '</div>' +
                '<h4 id="tvp-modal-title-{{ ($.Scratch.Get "settings").name }}" class="tvp-modal-title"></h4>' +
            '</div>' +
            '<div class="tvp-modal-body">' +
                '<div id="tvp-modal-iframe-holder-{{ ($.Scratch.Get "settings").name }}" class="tvp-modal-iframe-holder"></div>' +
            '</div>' +
        '</div>' +
    '</div>' +
'</div>'