'<div class="col p-2 bordered" style="width:210px;">' +
  '<a href="{linkUrl}" data-id="{id}" class="d-block">' +
    '<div class="skeleton-bg w-50 mx-auto mt-2 mb-1">' +
      '<div class="product-image bg-default fluid-y" style="background-image:url({imageUrl});"></div>' +
    '</div>' +
    '<p class="product-pop-over-title mb-1 ready">{title}</p>' +
    '<p class="product-pop-over-price mb-1 ready">{price}</p>' +
    '<button type="button" class="btn-primary clickable btn-lg w-100">{actionText}</button>' +
  '</a>' +
'</div>' +
'<div class="pop-over-patch"></div>'