'<div class="product-carousel-item">' +

  '<a class="product d-block" href="{linkUrl}" class="product-item" data-id="{id}">' +
    '<div class="row mb-2">' +
      '<div class="col-4 col-sm-5">' +
        '<div class="product-image bg-default fluid-y" style="background-image:url({imageUrl});"></div>' +
      '</div>' +
  
      '<div class="col-8 col-sm-7">' +
        '<p class="product-title mb-2 ready">{title}</p>' +
        '<button type="button" class="btn-sm">{actionText}</button>' +
      '</div>' +
    '</div>' +
  '</a>' +

'</div>'