'<div data-id="{id}" class="carousel-item clickable">' +
    
    '<div class="video{className} mx-2 video-item">' +
    '<div class="video-image bg-default" style="background-image:url({asset.thumbnailUrl})">' +
      '<div class="video-image-icon video-item-image-icon abs-center">' +
        '<i class="material-icons abs-center">play_arrow</i>' +
      '</div>' +
      '<div class="image-overlay abs-center video-item-image-overlay"></div>' +
    '</div>' +
    '<p class="video-title mt-2 mb-0 ready">{title}</p>' +
  '</div>' +

'</div>'