/*player overrides*/
.tvplayer-overlay-thumbnail{
  z-index: 100 !important;
}

.tvplayer-overlay{
  z-index: 1000 !important;
}

.player-holder {
  padding-bottom: 56.25%;
}

.skeleton .player-holder {
  background-color: black;
}

.product-image {
  padding-bottom: 100%;
  background-size: cover;
}

.pop-over {
  position: absolute;
  top: 0;
  left: -220px;
  z-index: 10000;
  background: white;
  visibility: hidden;
  opacity: 0;
}

.pop-over.active {
  visibility: visible;
  opacity: 1;
}

.pop-over-pointer {
  width: 15px; 
  height: 25px; 
  position: absolute;
  left: -10px;
  background-color: transparent;
  z-index: 10100;
  visibility: hidden;
  opacity: 0;
}

.pop-over-pointer.active {
  visibility: visible;
  opacity: 1;
}

.pop-over-pointer:before {
  content: " ";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #000;
  position: absolute;
  top: 1px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
}

.pop-over-pointer:after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid;
  border-left-color: white;
  position: absolute;
  top: 1px;
  margin-left: auto;
  margin-right: auto;
  left: -1px;
}

.pop-over-patch {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
  right: -28px;
  background: transparent !important; 
}

.product {
  border: 1px solid; 
}

.product:hover .image-overlay{
  opacity: 1;
}