::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
}

body  {
  margin: 0;
  padding: 10px;
  height: 100%;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.tvp-no-products .tvp-player-holder {
  width: 100%;
}

.tvp-no-products .tvp-products-holder {
  display: none;
}

.tvp-player {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.tvp-player-holder {
  width: 80%;
  float: left;
}

.tvp-clearfix:before,
.tvp-clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

#tvp-player-el {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.tvp-products {
  height: inherit;
  overflow: auto;
}

.tvp-products-holder {
  float: right;
  width: 20%;
  height: 0;
  position: relative;
}

.tvp-products-holder.no-overflow {
  height: auto !important;
}

.tvp-product {
  display: block;
  position: relative;
}

.tvp-product-image-overlay {
  -webkit-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.tvp-product:hover .tvp-product-image-overlay {
  display: block;
}

.tvp-product:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.tvp-products-title {
  margin: 10px 0;
}

.tvp-product-title {
  margin: 10px 0;
}

.tvp-product-price {
  margin: 0 0 10px 0;
}

.tvp-product-rating {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
}

.tvp-product-rating > li {
  display: inline-block;
}

.tvp-reviews {
  position: relative;
}

.tvp-product-cta {
  width: 100%;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
  padding: 0;
}

.tvp-arrow-indicator {
  display: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 10;
}

.tvp-arrow-indicator.active {
  display: block;
}

.tvp-arrow-indicator:before {
  content: " ";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 0;
  left: 1px;
  margin-left: auto;
  margin-right: auto;
}

.tvp-arrow-indicator:after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 13px solid white;
  position: absolute;
  top: 0;
  left: 0px;
}

.tvp-product:last-child {
  margin-bottom: 0;
}

.tvp-product-popup {
  display: none;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 97%;
}

.tvp-product-popup.active {
  display: block;
}

.tvp-product-image {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tvp-product-popup-image {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
}

@media screen and (max-width: 768px) {
  .tvp-product-popup{
    display: none!important;
  }
  .tvp-arrow-indicator {
    display: none!important;
  }
}