/*player overrides*/
.tvplayer-overlay-thumbnail{
  z-index: 100 !important;
}

.tvplayer-overlay{
  z-index: 1000 !important;
}

.player-holder {
  padding-bottom: 56.25%;
}

.skeleton .player-holder {
  background-color: #efefef;
}

.product-image {
  padding-bottom: 100%;
  background-size: cover;
}

.pop-over {
  position: absolute;
  top: 0;
  right: 120.5%;
  z-index: 10000;
  background: white;
  opacity: 0;
  visibility: hidden;
}

.pop-over.active {
  opacity: 1;
  visibility: visible;
}

.pop-over-pointer {
  width: 15px; 
  height: 25px; 
  position: absolute;
  left: -17px;
  background-color: transparent;
  z-index: 11000;
}

.pop-over-pointer:before {
  content: " ";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #000;
  position: absolute;
  top: 0;
  right: -2px;
  margin-left: auto;
  margin-right: auto;
}

.pop-over-pointer:after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid white;
  position: absolute;
  top: 0;
  right: -1px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  border: 1px solid; 
}