@media(max-width: $screen-xs-max){
	.header-bg{
		display: none;
	}
	nav.menu-bar{
		border : none;
		margin-bottom: 3px;
		background-color: #2C6373;
		.container{
			background-color: #2C6373;
		}
		&:before{
			content: none;
			display: none;
		}
		&:after{
			display: none;
			content: none;
		}
		ul.nav{
			display: none;
		}
		.mobile-menu{
			&-nav-btn, &-search-btn{
				background-repeat: no-repeat;
				height: 24px;
				width: 24px;
				content: " ";
				margin: 17px 0;	
			}
			&-nav-btn{
				background-image: url(data:image/svg+xml;base64,CjxzdmcgZmlsbD0iI0ZGRkZGRiIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+CiAgICA8cGF0aCBkPSJNMyAxOGgxOHYtMkgzdjJ6bTAtNWgxOHYtMkgzdjJ6bTAtN3YyaDE4VjZIM3oiLz4KPC9zdmc+);
			}
			&-search-btn{
				background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyMTYgODMycTAtMTg1LTEzMS41LTMxNi41dC0zMTYuNS0xMzEuNS0zMTYuNSAxMzEuNS0xMzEuNSAzMTYuNSAxMzEuNSAzMTYuNSAzMTYuNSAxMzEuNSAzMTYuNS0xMzEuNSAxMzEuNS0zMTYuNXptNTEyIDgzMnEwIDUyLTM4IDkwdC05MCAzOHEtNTQgMC05MC0zOGwtMzQzLTM0MnEtMTc5IDEyNC0zOTkgMTI0LTE0MyAwLTI3My41LTU1LjV0LTIyNS0xNTAtMTUwLTIyNS01NS41LTI3My41IDU1LjUtMjczLjUgMTUwLTIyNSAyMjUtMTUwIDI3My41LTU1LjUgMjczLjUgNTUuNSAyMjUgMTUwIDE1MCAyMjUgNTUuNSAyNzMuNXEwIDIyMC0xMjQgMzk5bDM0MyAzNDNxMzcgMzcgMzcgOTB6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
			}
			&-logo{
				display: block;
			}
		}
	}
	.mobile-menu-logo{
		width: 61px;
		height: 46px;
		display: block;
		margin: 6px auto;
	}
	.breadcrumb-navigation{
		display: none;
	}
	.featured-channel {	
		padding: 0 3px 3px;
		margin: 0;	
		&:last-child{
			padding-bottom: 15px;
		}
		&-container{
			line-height: 34px;
			height: 34px;
		}
		&-title {
			font-size: 18px;
			line-height: 22px;
			height: auto;
			padding-top: 6px;
		}
	}
	.mobile-menu-modal{
		.modal-dialog{
			margin-top: 0;
			margin-left: 0;
			margin-right: 0;
		}
		.modal-content{
			border-radius: 0;
			background-color: #2C6373;
			padding-bottom: 218px;
		}
		.modal-header{
			padding-top: 0;
			padding-bottom: 0;
			border: 0;
			margin-bottom: 39px;
			.close{
				background-repeat: no-repeat;
				height: 24px;
				width: 24px;
				content: " ";
				background-image: url(data:image/svg+xml;base64,CjxzdmcgZmlsbD0iI0ZGRkZGRiIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyeiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);
				opacity: 1;
				margin-top: 17px;
			}
		}		
		.modal-body{
			padding-right: 30px;
			padding-left: 30px;
			.nav{
				li > a{
					color: #fff;
					font-size: 18px;
					text-transform: uppercase;	
					line-height: 22px;
					font-weight: 600;
					text-align: left;
					border-bottom: 1px solid #fff;
					padding: 15px 0;
					margin: 0;
					&.main{
						border-bottom: 1px solid rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
	}
	.section{
		&-header{			
			border: 0;
			text-align: center;
			font-size: 34px;
			margin-bottom: 15px;
			line-height: 43px;
			padding: 0;
			&:after{
				display: none;
			}
		}
	}
	.latest-video{
		&-title{
			padding: 0;
			max-height: 40px;
			height: auto;
			margin: 10px 0 15px;
		}
	}
	.slider{		
		padding: 0;
		margin-bottom: 15px;
		.slick-slide{
			padding: 0 15px;
		}
	}
}