@media(max-width: $screen-xs){
	footer{
		& .copyright {
			font-size: 16px;
			padding: 0;			
		}
	}
	nav.menu-bar{
		.mobile-menu{
			& .row .col-xs-2{
				padding-left: 0;
				padding-right: 0;
			}
			
		}
	}
	.breadcrumb-navigation{
		display: none;
	}
	.main-content.mobile{
		margin-top: 3px;
	}
	.featured-channel {	
		padding: 0 3px 3px;
		margin: 0;	
		&:first-child{
			padding-top: 3px;
		}
		&:last-child{
			padding-bottom: 15px;
		}
		
	}
	.latest-video{
		&-title{
			padding: 0;
			max-height: 40px;
			height: auto;
			margin: 10px 0 15px;
		}
	}
	.channel-page-banner{
		height: 145px;
		&-desktop{
			display: none;
		}
		&-mobile{
			display: block;
		}
	}
	.video-details-header{
		text-align: left;
		font-size: 16px;
		line-height: 20px;
		.social-share{
			display: none;
		}
	}
	.video-title-mobile{
		.caret{
			position: absolute;
			margin: auto 0;			
			right: 2px;
			top: 0;
			bottom: 0;
		}
		.carret-container{
			padding: 10px;
		    position: absolute;
		    /* width: 0; */
		    /* height: 0; */
		    display: inline-block;
		    content: " ";
		    vertical-align: middle;
		    right: 3px;
		    top: 0;
		    bottom: 0;
		}

	}
	.tvp-mobile-search-results{
		& ul{
			list-style: none;
			padding: 0;
			li{
				padding-top: 5px;
				border-bottom: 1px solid rgba(255,255,255,0.5);				
				font-size: 18px;
			}
		}
		.item{
			padding: 0;
		}
				
	}
	.latest-video-container{
			height: auto;
	}
}
@media (max-width: $screen-md-min) and (orientation:landscape){
	.latest-video-container{
			height: auto;
	}
	.mobile-menu .row .col-xs-2{
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 750px){
	.latest-video-container{
			height: auto;
	}
	nav.menu-bar .mobile-menu .row .col-xs-2{
		padding-left: 0;
		padding-right: 0;
		& .navbar-toggle{
			margin-right: 0px;
		}
	}
}