.TVPagePlayer-holder {
  overflow: hidden;
  background-color: #000000;
  margin: 0;
}
.TVPagePlayer-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  #TVPagePlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .html5-play-button {
    background: url('//do0631budpzeh.cloudfront.net/assets/img/profilePlayOverlay.png') no-repeat 50% 50%;
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
  }
}

