




/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.channel-slider-row {
    display: none;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 50px;
    margin-top: -45px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev
{
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDMwIDc1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMCA3NSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjOTk5OTk5IiBzdHJva2U9IiM5OTk5OTkiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTIuOSwzOC43Yy0wLjEsMC0wLjEsMC0wLjEtMC4xYy0wLjEtMC4yLTAuMy0wLjQtMC4zLTAuNg0KCWMtMC4xLTAuMi0wLjEtMC40LTAuMS0wLjZjMC4xLTAuMywwLjEtMC41LDAuMi0wLjdsMC4xLTAuMmwwLjEtMC4xTDI1LjgsM2MwLjQtMC42LDEuMS0wLjYsMS41LDBjMC4zLDAuNiwwLjMsMS42LDAsMi4yTDUsMzcuNg0KCUwyNy4zLDcwYzAuMywwLjYsMC4zLDEuNSwwLDIuMWMtMC4yLDAuMy0wLjYsMC40LTAuOCwwLjRjLTAuMiwwLTAuNS0wLjEtMC43LTAuNEwyLjksMzguN3oiLz4NCjwvc3ZnPg0K);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slick-next
{
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDMwIDc1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMCA3NSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjOTk5OTk5IiBzdHJva2U9IiM5OTk5OTkiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTI3LjEsMzYuM2MwLjEsMCwwLjEsMCwwLjEsMC4xYzAuMSwwLjIsMC4zLDAuNCwwLjMsMC42DQoJYzAuMSwwLjIsMC4xLDAuNCwwLjEsMC42Yy0wLjEsMC4zLTAuMSwwLjUtMC4yLDAuN2wtMC4xLDAuMmwtMC4xLDAuMUw0LjIsNzJjLTAuNCwwLjYtMS4xLDAuNi0xLjUsMGMtMC4zLTAuNi0wLjMtMS42LDAtMi4yDQoJTDI1LDM3LjRMMi43LDVjLTAuMy0wLjYtMC4zLTEuNSwwLTIuMWMwLjItMC4zLDAuNi0wLjQsMC44LTAuNGMwLjIsMCwwLjUsMC4xLDAuNywwLjRMMjcuMSwzNi4zeiIvPg0KPC9zdmc+);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#latest-videos .slick-prev {
    left: -25px;
}

#latest-videos .slick-next {
    right: -25px;
}

.channel-slider-row .slick-prev {
    left: 5px;
}

.channel-slider-row .slick-next {
    right: 5px;
}

#brands .slick-prev {
    left: -35px;
    top: 62px;
}

#brands .slick-next {
    top: 62px;
    right: -35px;
}