@import "variables";
@import "bootstrap";
@import "flex";
@import "slick";
/////////////////////////////
//// CAPTIVATE
/////////////////////////////

header a {
	text-transform: uppercase;
}

.thumb {
	display: block;
	background-size: cover;
	padding-top: 56.23%;
	background-position: center;
	background-repeat: no-repeat;
}

.logo {
	display: block;
	margin: 0 auto;
	max-width: 240px;
	float: none;
	width: 100%;
}

.page-banner {
	height: 210px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    color: white;
}
.brand-header{
	display: flex;
	flex-wrap: wrap;
	padding: 13px 0 13px 0;
	&-search{
		
		& input[type=text]{
			width: 250px;
			line-height: 30px;
			padding: 10px;
			border-radius: 25px; 
		}
		
	}
	&-logo{

	}
	&-menu-top{
		&-options{
			list-style-type: none;
			& > li{
				display: inline;
				padding : 15px;
				font-size: 26px;
				font-weight: bold;
				& a {
					color: white;
					display: inline;
					&::hover{
						text-decoration : none;
					}
				}
			}
		}
	}
}
nav.menu-bar{
	background-color : #1F1D26;
	border-top : 1.7px dashed white;
	border-bottom: 1.7px dashed white;
	& .container{
		background-color : #1F1D26;

	}
	& .nav-justified li a {
		color: white;
		font-weight: 600;
		font-size: 22px;
		line-height: 26px;
		&::hover{
			background-color : #1F1D26 ;

		}
	}
}
.breadcrumb li{
	font-size: 16px;
	line-height: 20px;
	& a{
		color: #1F1D26;	
		width: 37px;
		height: 20px;
		font-family: Dosis;
		line-height: 20px;
		color: #1F1D26;
	}
	
}
.channel-row{
	margin-bottom: 15px;
}
.slider{
	margin-bottom: 15px;
}
.latest-row{
	margin-bottom: 15px;
}
footer{
	display: flex;
	line-height: 65px;
	background-color: #1F1D26;
	& .copyright {
		font-family: Dosis;
		font-size: 20px;
		text-align: center;
		color: #FFFFFF;
	}
}
.latest-videos{
	width: 100%;
	height: 41px;
	font-family: Dosis;
	font-size: 32px;
	font-weight: 600;
	line-height: 41px;
	letter-spacing: 1px;
	color: #1F1D26;
	margin-bottom: 20px;
	border-bottom : 1.7px dashed black;
}
.brands-carousel{
	width: 100%;
	height: 41px;
	font-family: Dosis;
	font-size: 32px;
	font-weight: 600;
	line-height: 41px;
	letter-spacing: 1px;
	color: #1F1D26;
	margin-bottom: 20px;
	border-bottom : 1.7px dashed black;
}
.channel-copy{
	top: -8rem;
	position: relative;
	opacity: 0.9;
	background-color: #00DBC0;
	line-height: 36px;
	font-family: Dosis;
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
	padding: 5px 12px 5px 12px;
}