'<div id="skeleton" class="skeleton">' +
  
  '<div class="row justify-content-start">' +
    '<div class="col">' +
      '<h3 id="widget-title" class="widget-title"></h3>' +
    '</div>' +
  '</div>' +

  '<div class="row mt-2">' +
    '<div class="col-md-9">'+
      '<div class="player-holder fluid-y">'+
        '<div id="player-el"></div>' +
      '</div>' +
    '</div>' +
    '<div id="products" class="col-md-3 mt-3 m0-md pl-0">' +
      '<div>' +
        '<div class="skeleton-bg w-65 mx-auto my-3">' +
          '<div class="product-image bg-default fluid-y"></div>' +
        '</div>' +
        '<p class="product-title">{title}</p>' +
        '<p class="product-price">{price}</p>' +
      '</div>' +
    '</div>' +
  '</div>' +

  '<div class="row mt-2 videos-skel-delete">' +
    {{ range (seq 4) }}
    '<div class="col-3">' +
      '<div class="video-image fluid-y skeleton-bg mb-2"></div>' +
      '<p class="video-title"></p>' +
    '</div>' +
    {{ end }}
  '</div>' +

  '<div id="videos" class="mt-3 col-x-pull"></div>' +
  
'</div>'