#desktop-channels{
  margin-top: 15px;
}
.desktop-channel-meta {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 9999;
}
.desktop-channel {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 15px;
}
.desktop-channel-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 48%;
  z-index: 99;
}
.hovered .desktop-channel-img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.desktop-channel-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
.desktop-thumbnail-overlay{
  background-color: rgba(0,0,0,0.1);
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.desktop-channel-qty-videos{
  text-align: center;
  margin-top: 5px;
  color: #fff;
}
@media (min-width: 768px) {
  .desktop-channel {
    width: 49.5%;
    float: left;
    margin-bottom: 1%;
  }
  .desktop-channel:first-child {
    margin-right: 1%;
  }
  #desktop-channels{
    margin-top: 1%;
  }
}