#search-results {
	margin-bottom: 100px;
}

#search-results-header {
	padding-top: 15px;
	padding-bottom: 15px;
}

.search-prefix {
	text-align: center;
	font-weight: 700;
	font-size: 110%;
	float: left;
}

.search-query {
	color: rgb(0, 111, 183);
  max-width: 500px;
  overflow: hidden;
  text-transform: capitalize;
  float: left;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

#search-results .video {
  cursor: pointer;
  margin-bottom: 10px;
}

#search-results .video > a {
  text-decoration: none;
  color: #000;
}

#search-results .video-img-holder {
	position: relative;
	overflow: hidden;
}

#search-results .video-img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 56.25%;
	height: 0;
}

#search-results .video-img-overlay {
	background-color: rgba(0, 0, 0, 0.35);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

#search-results .inactive .video-img-overlay {
	display: none;
}

#search-results .hovered .video-img-overlay {
	display: block;
}

#search-results .video-title {
  padding: 10px 0;
  line-height: 1.5;
}

#search-results .video-duration {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 5px 7px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 2px;
	border: 1px solid #555;
}

#search-results .inactive .video-duration {
}

#search-results .hovered .video-duration {
	display: block;
}

#search-results .video-play-label {
	position: absolute;
	padding: 5px 7px;
	color: #fff;
	font-weight: 700;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	height: 25px;
	font-size: 110%;
	margin-top: 35%;
}

#search-results .inactive .video-play-label {
	display: none;
}

#search-results .hovered .video-play-label {
	display: block;
}

.null-results-notice, .searching-notice{
  margin: 30px 0;
  text-align: center;
}