'<div id="widget-title" class="inline-title"></div>' +
'<div id="skeleton" class="skeleton">' +
  '<div class="player-holder">' +
    '<div></div>' +
  '</div>' +
  '<div class="products-holder">' +
    '<div></div>' +
  '</div>' +
  '<div class="videos-holder">' +
      '<div></div>' +
  '</div>' +
'</div>' +
'<div id="inline">' +
  '<h1 id="widget-title"></h1>' +
  '<div class="row">' +
    '<div id="player" class="hide">' +
      '<div class="player-holder">' +
        '<div id="player-el"></div>' +
      '</div>' +
    '</div>' +
    '<div class="products-holder">' +
      '<div id="products" class="hide"></div>' +
    '</div>' +
    '<div class="videos-holder">' +
      '<div id="videos" class="hide"></div>' +
    '</div>' +
  '</div>' +
'</div>'