<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Carousel Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<h1>{{.Title}}</h1>

<!--The placeholder-->
<div class="tvpwidget"></div>
<!--The placeholder-->

<!--The placeholder-->
<div class="tvpwidget"></div>
<!--The placeholder-->

<!--The placeholder-->
<div class="tvpwidget"></div>
<!--The placeholder-->

<!--The code snippet-->
<script type="text/javascript">
  window.__TVPage__ = window.__TVPage__ || {};
  __TVPage__.config = __TVPage__.config || [];
  __TVPage__.config.push(
    {
      slidesToShow: 3,
      attributes: {
        category: [{
          value: "1838",
          label: "Tea-Coffe"
        }]
      }
    },
    {
      slidesToShow: 4,
      attributes: {
        category: [{
          value: "1383",
          label: "More-Coffe"
        }]
      }
    },
    {
      slidesToShow: 2,
      attributes: {
        category: [{
          value: "1338",
          label: "Coffe"
        }]
      }
    }
  );
  (function(d) {
    var s = d.createElement('script');
    s.src = '//localhost:1313/carousel/dist/js-lib.js';
    d.body.appendChild(s);
  })(document);
</script>
<!--The code snippet-->

</body>
</html>