<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Carousel Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- placeholder -->
<div id="tvpwidget-0001-name"></div>
<!-- placeholder -->

<!-- code snippet -->
<script type="text/javascript">
  window.__TVPage__ = window.__TVPage__ || {};
  __TVPage__.config = __TVPage__.config || [];
  __TVPage__.config.push(
    {
      id: "tvpwidget-0001-name",
      attributes: {
        category: [{
          value: "### REPLACE WITH CATEGORY ID ###",
          label: "### REPLACE WITH CATEGORY NAME ###"
        }]
      }
    }
  );
  (function(d) {
    var s = d.createElement('script');
    s.src = '//localhost:1313/carousel/lib.min.js';
    d.body.appendChild(s);
  })(document);
</script>
<!-- code snippet -->

</body>
</html>