{{ $config := .Params.config }}
{{ $channel := index $.Site.Data.channels (printf "x%s" ($config.channelId)) }}
{{ $.Scratch.Add "channel" $channel }}

<style>{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div id="{{ $config.sliderId }}">
{{ range $index, $video := (index $.Site.Data.channelVideos (printf "x%s_page_1" $channel.id) "data") }}
	<div>
		<div data-tvp-video-id="{{.id}}" data-index="3" class="tvp-video col-3">
 			<div class="tvp-video-image" style="background-image:url('{{ .asset.thumbnailUrl }}'); ">
				<div class="video-overlay"></div>
				<div class="tvp-video-play-button"></div>
			</div>
			<p><span class="tittle">{{.title}}</span></p>
		</div>
	</div>
{{ end }}
</div>

<!-- widget js -->
<script type="text/javascript">
console.log( JSON.parse({{ $config | jsonify }}) );
console.log( JSON.parse({{ $channel | jsonify }}) );
</script>