'<div data-id="{id}" class="carousel-item clickable">' +

  '<a class="product d-block text-center" href="{linkUrl}" class="product-item" data-id="{id}">' +
    '<div class="skeleton-bg w-65 mx-auto my-3">' +
      '<div class="product-image bg-default fluid-y" style="background-image:url({imageUrl});"></div>' +
    '</div>' +
    '<p class="product-title ready">{title}</p>' +
    '<p class="product-price ready">{price}</p>' +
    '<button type="button" class="btn-lg btn-primary mx-auto d-block clickable product-cta">{actionText}</button>' +
  '</a>' +

'</div>'