'<div class="video{className} col-6 sidebar-item clickable" data-id="{id}">' +
  '<div class="video-image bg-default" style="background-image:url({asset.thumbnailUrl})">' +
    '<div class="video-image-icon abs-center p-1">' +
      '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
        '<path d="M8 5v14l11-7z"/>' +
        '<path d="M0 0h24v24H0z" fill="none"/>' +
      '</svg>' +
    '</div>' +
    '<div class="video-image-overlay abs-center"></div>' +
  '</div>' +
  '<p class="video-title m-0 ready">{title}</p>' +
'</div>'