/* image aspect ratios & shapes */
.video-image {
  background-size: cover;
  padding-bottom: 56.25%;
}

.product-image {
  padding-bottom: 100%;
  background-size: cover;
}

/* skeleton */
.skeleton .widget-title:not(.ready) {
  background-color: #efefef;
}

.skeleton .widget-title:not(.ready):before {
  content: "...";
  color: transparent;
}

/*player*/
.player-holder {
  padding-bottom: 56.25%;
}

.skeleton .player-holder {
  background-color: #efefef;
}

.featured-product-holder {
  padding-bottom: 112.25%;
}

.skeleton .featured-product-holder {
  background-color: #efefef;
}

.products-holder {
  padding-bottom: 112.25%;
}

.skeleton .products-holder {
  background-color: #efefef;
}

.videos-holder {
  padding-bottom: 19.25%;
}

.skeleton .video-title:not(.ready) {
  background-color: #efefef;
}

.skeleton .video-title:not(.ready):before {
  content: "...";
  color: transparent;
}

.skeleton .product-title:not(.ready) {
  background-color: #efefef;
}

.skeleton .product-title:not(.ready):before {
  content: "...";
  color: transparent;
}

.skeleton .product-price:not(.ready) {
  background-color: #efefef;
}

.skeleton .product-price:not(.ready):before {
  content: "...";
  color: transparent;
}

/* implementation specific */
.video-image-overlay {
  transition: all .2s ease;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.2);
}

.video-image-icon {
  cursor: pointer;
  z-index: 1000;
  background-color: #1a1a1a;
  width: 45px;
  height: 45px;
  color:white
}

:not(.mobile) .video:hover .video-image-overlay {
  opacity: 1;
  visibility: visible;
}

:not(.mobile) .video:hover .video-image-icon {
  background-color: #000000;
}

.video-image-icon > i {
  width: 34px;
  height: 34px;
  font-size: 34px;
}

.mobile .product{
  min-height: 85px;
}

.products-carousel-dots{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 12px;
}

@media screen and (min-width: 768px) {

  .m0-md{
    margin: 0 !important;
  }
  
}