
<link rel="stylesheet" href="/css/index.css">
<script type="text/javascript" src="//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-1.8.4-min.js"></script>


<div id="tvp-gallery">
  <div id="videos"></div>
  <div id="lightbox"></div>
</div>

<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/iscroll-min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/config.js"></script>




<!-- (function(root){

  
  var idCSS = 'tvplb-css';
  if (!$('#'+idCSS).length){
      var link = document.createElement('link');
      link.id = 'tvp';
      link.rel = 'stylesheet';
      link.href = '/css/index.css';
      document.head.appendChild(link);
  }

  var idPlayer = 'tvplb-player';
  if (!$('#'+idPlayer).length){
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = '//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-1.8.4-min.js';
      document.head.appendChild(script);
  }

  appendScript = function(){

    var scr = document.createElement('script');
    scr.src = '/js/vendor/jquery.min.js';
    document.body.appendChild(scr);

    var scr = document.createElement('script');
    scr.src = '/js/vendor/iscroll-min.js';
    document.body.appendChild(scr);

    var scr = document.createElement('script');
    scr.src = '/js/main.js';
    document.body.appendChild(scr);

    var scr = document.createElement('script');
    scr.src = '/js/config.js';
    document.body.appendChild(scr);

  };

   appendScript();

}(window)); -->