{{- $type := .Type -}}
{{- range (getJSON (printf "themes/tvpage/defaults/%s.json" $type)).option -}}
{{- $.Scratch.SetInMap "settings" .code .value -}}
{{- end -}}
1
{{- range readDir "/" -}}
2
	{{- if eq .Name "defaults" -}}
	3
		{{- if (where (readDir "defaults/") "Name" (printf "%s.json" $type)) -}}
		4
			{{- range (getJSON (printf "defaults/%s.json" $type)).option -}}
			{{- $.Scratch.SetInMap "settings" .code .value -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- range $i, $param := .Params -}}
{{- $.Scratch.SetInMap "settings" $i . -}}
{{- end -}}
{{- $isWidget := (eq .Section "tvpwidget") -}}
{{- range $i, $param := .Site.Params -}}
{{- if eq $i "tvppages" -}}
	{{- if not $isWidget -}}
		{{- $.Scratch.SetInMap "settings" $i . -}}
	{{- end -}}
{{- else -}}
	{{- $.Scratch.SetInMap "settings" $i . -}}
{{- end -}}
{{- end -}}