<!DOCTYPE html>
<html>
  
  {% block title %}
  	<title>{{home.title}}</title>
  {% endblock %}
  
  {% block canonical %}
  	<link rel="canonical" href="http://{{domain}}/"/>
  {% endblock %}
  
  {% block meta %}
  	{% include 'meta.twig' %}
  {% endblock %}

  {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% endblock %}
  
  <body class="{% block theme %}default{% endblock %}">
    <div class="container">
      {% block main %}{% endblock %}
    </div>
  </body>
  
  {% block javascripts %}
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  	<script src="//dev1.tvpage.com/tvsite/tvpage/tvpage-js"></script>
  {% endblock %}

</html>