{% extends 'base.twig' %}

{# 16px over 1.6 line height (24px) #}
{% block main %}
	<h1>Heading</h1>
	<h2>Heading</h2>
	<h3>Heading</h3>
	<h4>Heading</h4>
	<h5>Heading</h5>
	<h6>Heading</h6>
	<p>Paragraph</p>

	<a>Anchor</a><br>
	<em>Emphasis</em><br>
	<small>Small</small><br>
	<strong>Strong</strong><br>
	<u>Underline</u>

{% endblock %}