'<span class="tvp-featured-image" style="background-image: url({imageUrl})" ></span>'
+'<span class="tvp-featured-info">'
	+'<span class="tvp-featured-info-title">{trimTitle}</span>'
	+'<span class="tvp-featured-info-gender">{gender}</span>'
	+'<span class="tvp-featured-info-price">${price}</span>'
	+'<span class="tvp-featured-info-rating-count">{rating_count}</span>'
	+ '<ul class="tvp-product-rating">'
		+ '<li class="tvp-rate">'
			+ '<svg fill="#000000" height="{{- ($.Scratch.Get "settings").product_rating_size -}}" viewBox="0 0 24 24" width="{{- ($.Scratch.Get "settings").product_rating_size -}}" xmlns="http://www.w3.org/2000/svg">'
				+ '<defs>'
			        + '<path d="M0 0h24v24H0V0z" id="a"/>'
			    + '</defs>'
			    + '<clipPath id="b">'
			        + '<use overflow="visible" xlink:href="#a"/>'
			    + '</clipPath>'			    
				+ '<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>'
				+ '<path clip-path="url(#b)" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'
			    + '<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'			    
    			+ '<path d="M0 0h24v24H0z" fill="none"/>'
			+ '</svg>'
		+'</li>'
		+ '<li class="tvp-rate">'
			+ '<svg fill="#000000" height="{{- ($.Scratch.Get "settings").product_rating_size -}}" viewBox="0 0 24 24" width="{{- ($.Scratch.Get "settings").product_rating_size -}}" xmlns="http://www.w3.org/2000/svg">'
				+ '<defs>'
			        + '<path d="M0 0h24v24H0V0z" id="a"/>'
			    + '</defs>'
			    + '<clipPath id="b">'
			        + '<use overflow="visible" xlink:href="#a"/>'
			    + '</clipPath>'			    
				+ '<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>'
				+ '<path clip-path="url(#b)" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'
			    + '<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'			    
    			+ '<path d="M0 0h24v24H0z" fill="none"/>'
			+ '</svg>'
		+'</li>'
		+ '<li class="tvp-rate">'
			+ '<svg fill="#000000" height="{{- ($.Scratch.Get "settings").product_rating_size -}}" viewBox="0 0 24 24" width="{{- ($.Scratch.Get "settings").product_rating_size -}}" xmlns="http://www.w3.org/2000/svg">'
				+ '<defs>'
			        + '<path d="M0 0h24v24H0V0z" id="a"/>'
			    + '</defs>'
			    + '<clipPath id="b">'
			        + '<use overflow="visible" xlink:href="#a"/>'
			    + '</clipPath>'			    
				+ '<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>'
				+ '<path clip-path="url(#b)" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'
			    + '<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'			    
    			+ '<path d="M0 0h24v24H0z" fill="none"/>'
			+ '</svg>'
		+'</li>'
		+ '<li class="tvp-rate">'
			+ '<svg fill="#000000" height="{{- ($.Scratch.Get "settings").product_rating_size -}}" viewBox="0 0 24 24" width="{{- ($.Scratch.Get "settings").product_rating_size -}}" xmlns="http://www.w3.org/2000/svg">'
				+ '<defs>'
			        + '<path d="M0 0h24v24H0V0z" id="a"/>'
			    + '</defs>'
			    + '<clipPath id="b">'
			        + '<use overflow="visible" xlink:href="#a"/>'
			    + '</clipPath>'			    
				+ '<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>'
				+ '<path clip-path="url(#b)" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'
			    + '<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'			    
    			+ '<path d="M0 0h24v24H0z" fill="none"/>'
			+ '</svg>'
		+'</li>'
		+ '<li class="tvp-rate">'
			+ '<svg fill="#000000" height="{{- ($.Scratch.Get "settings").product_rating_size -}}" viewBox="0 0 24 24" width="{{- ($.Scratch.Get "settings").product_rating_size -}}" xmlns="http://www.w3.org/2000/svg">'
				+ '<defs>'
			        + '<path d="M0 0h24v24H0V0z" id="a"/>'
			    + '</defs>'
			    + '<clipPath id="b">'
			        + '<use overflow="visible" xlink:href="#a"/>'
			    + '</clipPath>'			    
				+ '<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>'
				+ '<path clip-path="url(#b)" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'
			    + '<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>'			    
    			+ '<path d="M0 0h24v24H0z" fill="none"/>'
			+ '</svg>'
		+'</li>'
	+ '</ul>'
	+'<div class="tvp-featured-info-view-details-container">'
	+'<button class="tvp-featured-info-view-details-btn">VIEW DETAILS</button>'
	+'</div>'
+'</span>'