{
   'content':'<div class="tvp-content">' +
   '<div class="tvp-row-titles">' +
      '<div class="tvp-row-player-title">' +
         '<h1 id="videoTitle"></h1>' +
      '</div>' +
      '<div class="tvp-row-featured-title">' +
         '<h2>{{- ($.Scratch.Get "settings").product_header_title_text -}}</h2>' +
      '</div>' +
      '<div class="clear"></div>' +
   '</div>' +
   '<div class="tvp-player-product-section">' +
      '<div class="tvp-content">' +
         '<div class="tvp-player" id="tvpPlayerView">' +
            '<div class="tvp-content">' +
               '<div id="tvp-player">'+
                  '<div class="tvp_player_dummy_overlay"><div style="background-image: url({asset.thumbnailUrl})"><div id="tvplayer-playbutton" class="tvplayer-playbutton" style="pointer-events: none;opacity: 0.5;background-color: transparent; height: 59px; width: 59px;"><div id="tvplayer-playbutton-icon" class="tvplayer-playbutton-icon" style="border-left-color: rgb(255, 255, 255);"></div></div></div></div>'+
               '</div>' +
               '<div id="tvp-controls" class="tvp-not-active"> ' +
                  '<span class="tvp-icon tvp-icon-play"></span> <span class="tvp-icon tvp-icon-play anim"></span>' +
               '</div>' +
            '</div>' +
         '</div>' +
         '<div class="tvp-featured" id="tvpFeaturedProduct">' +
         '</div>' +
         '<div class="tvp-mobile-product-title">' +
            '<h2>Products</h2>' +
         '</div>' +
         '<div class="tvp-products-scroller" id="tvpProductsView">'+

         '</div>' +
         '<div class="tvp-clear"></div>' +
      '</div>' +
   '</div>' +
   '<div class="tvp-videos-container">' +
      '<div class="tvp-videos-container-arrows tvp-videos-arrow-next">' +   
      '</div>' +
      '<div class="tvp-videos-container-arrows tvp-videos-arrow-prev">' +
      '</div>' +
      '<div class="tvp-videos-scroller" id="tvpVideoScroller">' +
      '</div>' +
   '</div>' +
'</div>',
'loader': '<div id="tvp_widget_loader">'+
   '<div class="tvp-loader-wrapper">'+
    '<div class="tvp-dummy-wrapper">'+
      '<div class="tvp-dummy-title"></div>'+
      '<div class="tvp-dummy-filler filler-title"></div>'+
      '<div class="tvp-dummy-product-header"></div>'+
      '<div class="tvp-dummy-filler filler-prodcut-header"></div>'+
    '</div>'+
   '</div>'+
   '<div class="tvp-dummy-filler filler-1"></div>'+
   '<div class="tvp-loader-wrapper1">'+
    '<div class="tvp-dummy-wrapper">'+
      '<div class="tvp-dummy-player"></div>'+
      '<div class="tvp-dummy-filler filler-2"></div>'+
      '<div class="tvp-dummy-featured"></div>'+
      '<div class="tvp-dummy-filler filler-3"></div>'+
      '<div class="tvp-dummy-products"></div>'+
    '</div>'+
   '</div>'+
   '<div class="tvp-dummy-filler filler-4"></div>'+
   '<div class="tvp-loader-wrapper2">'+
    '<div class="tvp-dummy-slider">'+
    '</div>'+
   '</div>'+
   '</div>'
}