'<div class="tvp-content">' +
   '<div class="tvp-row-titles">' +
      '<div class="tvp-row-player-title">' +
         '<h1 id="videoTitle"></h1>' +
      '</div>' +
      '<div class="tvp-row-featured-title">' +
         '<h2>Featured Products</h2>' +
      '</div>' +
      '<div class="clear"></div>' +
   '</div>' +
   '<div class="tvp-row">' +
      '<div class="tvp-content">' +
         '<div class="tvp-player" id="tvpPlayerView">' +
            '<div class="tvp-content">' +
               '<div id="tvp-player"></div>' +
               '<div id="tvp-controls" class="tvp-not-active"> ' +
                  '<span class="tvp-icon tvp-icon-play"></span> <span class="tvp-icon tvp-icon-play anim"></span>' +
               '</div>' +
            '</div>' +
         '</div>' +
         '<div class="tvp-featured" id="tvpFeaturedProduct">' +
            '<h2>Featured Products</h2>' +
         '</div>' +
         '<div class="tvp-mobile-product-title">' +
            '<h2>Products</h2>' +
         '</div>' +
         '<div class="tvp-products-scroller" id="tvpProductsView">'+

         '</div>' +
         '<div class="tvp-clear"></div>' +
      '</div>' +
   '</div>' +
   '<div class="tvp-videos-container">' +
'<div class="tvp-videos-arrows tvp-videos-arrow-next tvp-icon tvp-icon-arrow-next">' +   
'</div>' +
'<div class="tvp-videos-arrows tvp-videos-arrow-prev">' +
'</div>' +
      '<div class="tvp-videos-scroller" id="tvpVideoScroller">' +
      '</div>' +
   '</div>' +
'</div>'