{{ define "main" }}
  <div class="container">
    {{ range $i, $p := (where .Data.Pages "Section" "channel") }}
      <div class="col-md-6">
        {{ partial (printf "%s/li-channel.html" .Site.Params.style) . }}
      </div>
      {{ if eq (mod (add $i 1) 2) 0 }}<div class="col-sm-12"></div>{{ end }}
      {{ end }}
  </div>
  <div class="container">
    {{ range $i, $p := (where .Data.Pages "Section" "playback") }}
      <div class="col-md-4">
        {{ partial (printf "%s/li-playback.html" .Site.Params.style) . }}
      </div>
          {{ if eq (mod (add $i 1) 3) 0 }}<div class="col-sm-12"></div>{{ end }}
      {{ end }}
  </div>
{{ end }}