{{ partial (printf "%s/dochead.html" .Type) . }}
{{ partial (printf "%s/header.html" .Type) . }}
{{ partial (printf "%s/main_video.html" .Type) . }}
{{ $video := index $.Site.Data.videos (printf "x%s" .Params.videoid ) }}
<script type='text/javascript'>
  TVSite = window.TVSite || {};
  TVSite.channelVideosData = {};
  TVSite.channelVideosData.video = {{ $video | jsonify | safeJS }};
</script>
<script type="text/javascript" src='//cdnjs.tvpage.com/tvplayer/tvp-{{ ($.Scratch.Get "settings").player_version }}.min.js'></script>
{{ partial (printf "%s/scripts.html" .Type) . }}
{{ partial (printf "%s/footer.html" .Type) . }}