<nav class="breadcrumb-navigation">
	<ul class="breadcrumb">
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a itemprop="url" href="/">
				<i class="fa fa-home" aria-hidden="true"></i>
				<span itemprop="title">Home</span>
			</a>
		</li>
		{{ if not (eq .Layout "home") }}
			{{ if eq .Layout "channel" }}
				<li id="breadcrumb-1" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active">
					<a itemprop="url" href="{{ .Permalink }}">
						<span itemprop="title">{{ .Title }}</span>
					</a>
				</li>
			{{ else }}
				{{ $channel := index $.Site.Data.channels (printf "x%s" .Params.channelid ) }}
				<li id="breadcrumb-1" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href='{{ print "/c/" $channel.titleTextEncoded "/" $channel.id "/" }}' itemprop="url"><span itemprop="title">{{ $channel.title }}</span></a></li>
			{{ end }}
			{{ if eq .Layout "channelVideo" }}
				<li id="breadcrumb-2" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"class="active">
					<a itemprop="url" href="{{ .Permalink }}">
						<span itemprop="title">{{ .Title }}</span>
					</a>
				</li>
			{{ end }}
		{{ end }}
	</ul>
</nav>