{{ range $i, $def := (getJSON (printf "themes/tvpage/defaults/%s.json" .Type)).option }}
{{ $.Scratch.SetInMap "settings" .code .value }}
{{ end }}
{{ range $i, $param := .Params }}
{{ $.Scratch.SetInMap "settings" $i . }}
{{ end }}
{{ if isset .Site.Params "tvppages" }}
{{ range $i, $opt := (where (.Param "tvppages") "for" "styles") }}
{{ $.Scratch.SetInMap "settings" .code .value }}
{{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    {{ partial (printf "%s/meta.html" .Type) . }}
    <link href='{{ ($.Scratch.Get "settings").googlefont }}' rel="stylesheet">
    <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
    {{ block "meta" . }}{{ end }}
    <link rel="apple-touch-icon" href="{{ $.Site.BaseURL }}{{ .Type }}/images/logo.png">
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ .Type }}/css/styles.css">
    <style>{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
  </head>
  <body>