<header>
  <a class="logo" href="{{ .Site.BaseURL }}" title="Return to homepage">
    <img class="img-responsive" src='{{ $.Site.BaseURL }}{{ .Type }}/images/logo.png' alt="The good looking bean logo" />
  </a>
  <nav>
    <ul class="nav nav-justified">
      {{ range .Site.Menus.top }}
        <li><a href="{{.URL}}">{{ .Name }}</li></a>
      {{ end }}
    </ul>
  </nav>
  <nav>
    <ul class="nav nav-justified">
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}">{{ .Name }}</li></a>
      {{ end }}
    </ul>
  </nav>
</header>