<header>
  <a class="logo" href="{{ .Site.BaseURL }}" title="Return to homepage">
    <img class="img-responsive" src='{{ $.Site.BaseURL }}{{ .Type }}/images/logo.png' alt="{{ .Site.Title }}" />
  </a>
  <nav>
    <ul class="nav nav-justified">
      {{ with .Site.Menus.top }}
      {{ range . }}
        <li><a href="{{.URL}}">{{ .Name }}</li></a>
      {{ end }}
      {{ else }}
        No navigation
      {{ end }}
    </ul>
  </nav>
  <nav>
    <ul class="nav nav-justified">
      {{ with .Site.Menus.main }}
      {{ range . }}
        <li><a href="{{.URL}}">{{ .Name }}</li></a>
      {{ end }}
      {{ else }}
        No navigation
      {{ end }}
    </ul>
  </nav>
</header>