<main id="search-content" class="main-content">
	<section class="search-header container">
		<h1 class="search-header-count"><span class="search-count">-</span> RESULTS FOUND FOR: </h1> 
		<h2 class="search-header-query">search query</h2>
	</section>
	<section class="container">
		<div id="tvp-video-container" class="row">
		</div>
		<div class="row container btn-more search-more">
              <div class="btn-more-line"></div>
                <div class="btn-more-btn-container">
                  <button type="button" class="btn btn-primary btn-more-button">LOAD MORE</button>
                </div>
            </div>
        </div>
	</section>
</main>