<main id="main-content" class="main-content">
  <div class="container">
   <div class="row">
      {{ partial (printf "%s/breadcrumbs.html" .Type) . }}
    </div>

    <!-- <div class="row">
      <div id="tvpwidget-2"></div>
    </div> -->

    <div class="row">
      {{ range where .Site.Pages "Layout" "channel" }}
        {{ if in "66133905,66133904,66133907,66133906" .Params.channelid }}
        <div class="col-xs-12 col-sm-6 col-md-6">
          <article>
            <a href="{{ .Permalink }}" class="thumb" style='background-image: url({{ $.Site.BaseURL }}{{ .Type }}/images/defaults/asset.png);'>
            </a>
          </article>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <div class="row slider">
      {{ range where .Site.Pages "Layout" "channel" }}
        {{ if in "83096270,83093931,83093937,83093935" .Params.channelid }}
        <div class="col-xs-12 col-sm-3 col-md-3">
          <article>
            <a href="{{ .Permalink }}" class="thumb" style='background-image: url({{ $.Site.BaseURL }}{{ .Type }}/images/defaults/asset.png);'>
            </a>
          </article>
        </div>
        {{ end }}
      {{ end }}
    </div>

    <div class="row">
      {{ $page := index $.Site.Data.channelVideos (printf "x%s_page_1" "66133905") }}
      {{ with $page.data }}
        {{ $i := 0 }}
        {{ range first 6 $page.data }}
          <div class="col-sm-6 col-md-4">
            <article>
              <a href="{{ .url }}" class="thumb"
                {{with .asset.thumbnailUrl}} style="background-image: url({{ . }});"{{else}}
                style='background-image: url({{ $.Site.BaseURL }}{{ .Type }}{{ .Param "thumbdefault" }});'{{end}}>
              </a>
            </article>
          </div>
          {{ if eq (mod (add $i 2) 3) 0 }}<div class="col-sm-12"></div>{{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</main>