<main id="main-content" class="main-content">
	<div class="container">
		
	
		<!-- <section class="container section"> -->
			<div class="row">
				{{ partial (printf "%s/breadcrumbs.html" .Type) . }}
			</div>
		<!-- </section> -->
		<!-- <section class="container section"> -->
		<!-- </section> -->

		<!-- <section class="container section"> -->
			<div class="row">
					{{ $channelsPages := split ($.Scratch.Get "settings").channelgalleryids "," }}
					{{ $allChannelPages := (where .Site.Pages "Layout" "channel")}}
					{{ $type := .Type }}
					{{ range $channelsPages }}
						{{ $currentChannelId := . }}
						{{ $currentPage := index $.Site.Data.channels (printf "x%s" . ) }}
						{{ if $currentPage }}
							{{ range where $allChannelPages "Title" $currentPage.title }}
							<div class="col-xs-12 col-sm-6 col-md-6 featured-channel">
								<article >
									<a href="{{ .Permalink }}" class="thumb" style='background-image: url(/{{ $type }}/images/channel/{{$currentChannelId}}.jpg);'>
										<span class="featured-channel-container">
										<span class="featured-channel-title">{{ $currentPage.title }}</span>					
									</span>
									</a>
								</article>
							</div>
							{{ end }}
						{{ end }}
					{{ end }}
			</div>
		<!-- </section> -->


		<!-- <section class="container section"> -->
		<h2 class="section-header">BRANDS</h2>
		<div class="row slider">
			{{ range where .Site.Pages "Layout" "channel" }}
				{{ if in ($.Scratch.Get "settings").channelsliderids .Params.channelid }}
				<div class="brand-item">
          			<img src="/{{ .Type }}/images/{{.Params.channelid}}-logo.png">
				</div>
				{{ end }}
			{{ end }}   
		</div>
		<!-- </section>	 -->

		<!-- <section class="container section"> -->			
			<h2 class="section-header">LATEST VIDEOS</h2>
			<div class="row">
				{{ $page := index $.Site.Data.channelVideos (printf "x%s_page_1" ($.Scratch.Get "settings").homechannelid) }}
				{{ with $page.data }}
					{{ $i := 0 }}
					{{ range first 6 $page.data }}						
						{{ partial (printf "%s/video_thumbnail.html" $.Type) . }}
						{{ if eq (mod (add $i 2) 3) 0 }}<div class="col-sm-12"></div>{{ end }}
					{{ end }}
				{{ end }}
			</div>
			<div class="row container btn-more load-more">
          		<div class="btn-more-line"></div>
            		<div class="btn-more-btn-container">
              		<button type="button" class="btn btn-primary btn-more-button">LOAD MORE</button>
            		</div>
        		</div>
    		
		<!-- </section> -->
	</div>

</main>