<main id="main-content" class="main-content">
	<section class="container section">
		<div class="row">
			{{ partial (printf "%s/breadcrumbs.html" .Type) . }}
		</div>
	</section>

	<section class="container section">
		<div class="row">
			{{ range where .Site.Pages "Layout" "channel" }}
					{{ if in ($.Scratch.Get "settings").channelgalleryids .Params.channelid }}
					<div class="col-xs-12 col-sm-6 col-md-6 featured-channel">
						<article>
							<a href="{{ .Permalink }}" class="thumb" style='background-image: url(/{{ .Type }}/images/channel/{{.Params.channelid}}.jpg);'></a>
              <span class="featured-channel-title">{{ .Title }}</span>
						</article>
					</div>
					{{ end }}
				{{ end }}
		</div>
	</section>

	<section class="container section">
		<h2 class="section-header">BRANDS</h2>
		<div class="row slider">
			{{ range where .Site.Pages "Layout" "channel" }}
				{{ if in ($.Scratch.Get "settings").channelsliderids .Params.channelid }}
				<div class="brand-item">
						<a href="{{ .Permalink }}" class="thumb" style='background-image: url(/{{ .Type }}/images/defaults/asset.png);'>
						</a>
				</div>
				{{ end }}
			{{ end }}   
		</div>
	</section>	

	<section class="container section">
		<h2 class="section-header">LATEST VIDEOS</h2>
		<div class="row">
			{{ $page := index $.Site.Data.channelVideos (printf "x%s_page_1" ($.Scratch.Get "settings").homechannelid) }}
			{{ with $page.data }}
				{{ $i := 0 }}
				{{ range first 6 $page.data }}
					<div class="col-sm-6 col-md-4">
            <article class="video">
							<a href="{{ .url }}" class="thumb"
								{{with .asset.thumbnailUrl}} style="background-image: url({{ . }});"{{else}}
								style='background-image: url(/{{ .Type }}{{ .Param "thumbdefault" }});'{{end}}>
							</a>
							<p class="latest-videos-title">{{ .title }}</p>
						</article>
          </div>
					{{ if eq (mod (add $i 2) 3) 0 }}<div class="col-sm-12"></div>{{ end }}
				{{ end }}
			{{ end }}
		</div>
	</section>
</main>