<main id="main-content" class="main-content">
<div class="main-center tvp-404" >
	<img class="tvp-404-img" src="{{.Site.BaseURL}}{{.Type}}/images/404.png">
</div>
<div class="main-center" style="height: 2px;">
	<div class="main-center tvp-404-line">
	</div>	
</div>
<div class="main-center tvp-404-sorry">
	SORRY
</div>
<div class="tvp-404-message-main">
	<div class="main-center tvp-404-message">The page you're looking for</div>
	<div class="main-center tvp-404-message">can't be found.</div>
</div>
<div class="main-center container tvp-404-homepage">
	<a href="{{- .Site.BaseURL -}}tv" class="btn btn-primary btn-more-button">HOMEPAGE</a>
</div>

</main>