{{- $channel := index $.Site.Data.channels (printf "x%s" .Params.channelid ) -}}
{{- if $channel -}}
  {{- $.Scratch.SetInMap "settings" "channelData" $channel -}}
{{- end -}}
{{- $qty := (len $.Site.Data.channelVideos) -}}
{{- $numbers := (seq 0 $qty ) -}}
{{- range $numbers -}}
  {{- $working := . -}}
  {{- $page := index $.Site.Data.channelVideos (printf "x%s_page_%d" $channel.id $working  ) -}}
  {{- if (isset $page "data") -}}
    {{- $.Scratch.Add "total" (len $page.data ) -}}
  {{ end }}
{{- end -}}
{{- $channelVideosQty := $.Scratch.Get "total" -}}
{{- $baseUrl := .Site.BaseURL -}}
{{- $directory := (printf "themes/tvpage/static/%s/images/channel/" .Type) -}}
{{- $fileDesktop := (printf "%s-banner.jpg" .Params.channelid ) -}}
{{- $fileMobile := (printf "%s.jpg" .Params.channelid ) -}}
<main id="main-content" class="main-content">
    <section class="channel-page-banner">      
      <div class="channel-page-banner-desktop">
        {{- if (where (readDir $directory) "Name" $fileDesktop) -}}
          <img class="lazyImg" data-original='{{$baseUrl}}/{{.Type}}/images/channel/{{.Params.channelid}}-banner.jpg' alt="">
        {{- else -}}
          <img class="lazyImg" data-original='{{$baseUrl}}/{{.Type}}/images/defaults/channel-banner.jpg' alt="">
        {{- end -}}
      </div>
      <div class="channel-page-banner-mobile">
        {{- if (where (readDir $directory) "Name" $fileMobile) -}}
          <img class="lazyImg" data-original='{{$baseUrl}}/{{.Type}}/images/channel/{{.Params.channelid}}.jpg' alt="">
        {{- else -}}
          <img class="lazyImg" data-original='{{$baseUrl}}/{{.Type}}/images/defaults/channel-banner-mobile.jpg' alt="">
        {{- end -}}
      </div>
      <div class="main-channel-banner">
        <div class="main-channel-banner-title">
          {{- $channel.title -}}
        </div>
        <div class="main-channel-banner-total-videos">
          {{- $channelVideosQty -}}&nbsp;videos
        </div>
        <div class="main-channel-banner-subscribe">
          <a id="subscribe-channel" href="#" data-channelid="{{ .Params.channelid }}" class="subscribe-btn">subscribe to channel</a>
        </div>
      </div>
    </section>
    <section class="filter-menu main-start cross-center">
      <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="selected">Product Category</span> <span class="caret"></span>
              </button>
              <ul id="product_category" class="dropdown-menu">
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="selected">Type of Video</span> <span class="caret"></span>
              </button>
              <ul id="video_type" class="dropdown-menu">
              </ul>
            </div>
            <span class="tvp-filter-reset">reset</span>
        </div>
    </section>
    <div class="container">
        <div class="row">
          {{- partial (printf "%s/breadcrumbs.html" .Type) . -}}
        </div>
        <div class="row container section">
            <h2 class="section-header channel-latest-videos-header">LATEST VIDEOS</h2>
        </div>
        <div id="tvp-video-container" class="row video-row">
        {{- $channelid := .Params.channelid -}}
        {{- $page := index $.Site.Data.channelVideos (printf "x%s_page_0" $channelid) -}}        
        {{- with $page.data -}}
          {{- range $i, $p := first 6 $page.data -}}
            <div class="col-sm-4 col-md-4 latest-video-container">
            <a href="{{$baseUrl}}/{{slicestr .url 1}}/" class="latest-video" data-id="{{.id}}">
            <div class="latest-video-thumbnail">    
              <div class="content">
                  <img class="lazyImg" {{with .asset.thumbnailUrl}} data-original="{{ . }}"{{else}} src='{{$baseUrl}}{{ .Type }}/images/defaults/asset.png'{{end}}
                      alt="{{- .title -}}">
                    <div class="latest-video-hover">              
                  <div class="play-icon"></div>
                </div>
                </div>
            </div>
            <p class="latest-video-title">
              <span>
              {{- .title -}}
              </span>
            </p>
            </a>
          </div>
            {{ if eq (mod (add $i 1) 3) 0 }}<div class="col-sm-12"></div>{{ end }}
          {{ end }}
        {{- end -}}
        </div>
        <div class="row container btn-more load-more">
              <div class="btn-more-line"></div>
                <div class="btn-more-btn-container">
                  <button type="button" class="btn btn-primary btn-more-button">LOAD MORE</button>
                </div>
            </div>
        </div>
    </div>
</main>