<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script type="text/javascript">
	$('.slider').slick({
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1
    });
</script>
<!--The code snippet-->
<script type="text/javascript">
  window.__TVPage__ = window.__TVPage__ || {};
  window.__TVPage__.config = __TVPage__.config || {};
  window.__TVPage__.config['tvpwidget-2'] = {
   attributes: {
      category: [{
        value: "1338",
        label: "Blenders"
      }]
   }
 };
  (function(d) {
    var s = d.createElement('script');
    s.src = '//localhost:35831/solo/dist/js-lib.js';
    d.body.appendChild(s);
  })(document);
</script>
<!-- The code snippet-->