<div class="modal fade subcribeModal" id="subcribeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="subscribe-header">
	        <div class="modal-title" id="myModalLabel">
	        	SUBSCRIBE TO        	
	        </div>
	        <img class="logo" src='/{{ .Type }}/images/logo.png' alt="{{ .Site.Title }}" />
		</div>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="NAME">
        <input type="text" placeholder="EMAIL">	
      </div>
      <div class="modal-footer">
        <button type="button" class="pull-left subscribe-button">SUBSCRIBE</button>
      </div>
    </div>
  </div>
</div>