<div class="modal fade subcribeModal" id="subcribeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">          
        </button>
        <div class="subscribe-header">
	        <div class="modal-title" id="myModalLabel">
	        	SUBSCRIBE TO        	
	        </div>
	        <img class="logo" src='/{{ .Type }}/images/logo.png' alt="{{ .Site.Title }}" />
		</div>
      </div>
      <div class="modal-body subscribe-body">
        <input type="text" placeholder="NAME">
        <input type="text" placeholder="EMAIL">	
        <button type="button" class="pull-left subscribe-button">SUBSCRIBE</button>
      </div>
      <div class="modal-body subscribed-body" style="display: none">
        <p class="text-center subscribed-title">THANKS FOR SUBSCRIBING</p>
        <p class="text-center subscribed-message">You are now subscribed to receive updates when we add new videos.</p>
        <div class="text-center">
          <button data-dismiss="modal" type="button" class="subscribe-button">CLOSE</button>
        </div>
      </div>
    </div>
  </div>
</div>