<!doctype html>
<html class="no-js" lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Newegg TV</title>
      <meta name="description" content="Providing computer parts and hardware, hard drives, cameras and software as well as electronics, tools, appliances, sporting goods, jewelry, watches, gaming, and much more.  With fast-shipping!  Once you know, you Newegg TV!">
      <meta name="keywords" content="computer components, parts, LCD Monitors, Video Cards, Processors and CPUs, Memory, RAM, Digital Cameras, Printers, Notebook, Newegg, Tv, Newegg TV"/>
      <meta name="google-site-verification" content="IFwv1Tz9t36ddNPl0qCBDbk-hMj2zPzV8sD5YCj99l8" />
      <meta property="og:title" content="Newegg TV"/>
      <meta property="og:url" content="http://www.newegg.tv" />
      <meta property="og:type" content="website"/>
      <meta property="og:description" content=""/>
      <meta property="og:image" content="http://do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/landing.jpg"/>
      <meta property="twitter:card" content="summary"/>
      <meta property="twitter:title" content="Newegg TV"/>
      <meta property="twitter:description" content=""/>
      <meta property="twitter:url" content="http://www.newegg.tv"/>
      <meta property="twitter:image" content="http://do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/landing.jpg"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="canonical" href="http://www.newegg.tv/"/>
      <link rel="stylesheet" href="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/css/style.css">
      <link rel="icon" type="image/png" href="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/favicon.png">
      <script type='text/javascript'>
         if ( typeof TVSite == 'undefined' ) {
           TVSite = {};
         }
         
         TVSite.config = {"typeId":1,"DOTGZ":"","debug":true,"domain":"www.newegg.tv","domainAlias":false,"subfolder":"","loginId":"1758381","siteId":"65","siteTitle":"Newegg TV","TVP_CDN_TVSITE":"\/\/do0631budpzeh.cloudfront.net\/live\/tvsite\/1758381\/www.newegg.tv\/4820cfcdd2334fda8252fea358364177","TVP_CDN_PLAYER":"\/\/d2kmhr1caomykv.cloudfront.net\/player\/assets\/tvp\/tvp-1.8.2-min.js","tvpaSettings":{},"publish":{"target":"netlify:\/\/%NETLIFY_APIKEY%@www-newegg-tv","createChannelPages":true,"createVideoPages":false},"pageId":"180","pageTitle":"Home","pageIdString":"home","baseUrl":"","apiUrl":"\/\/app.tvpage.com"};
      </script>
      <script type="text/javascript" src="//assets.adobedtm.com/d2f967b83a0c92b19d9b572545fdbdc3d591f6f5/satelliteLib-389760a7bc4573d6b081d36f6782b59f3c8ffb54.js" async></script>
      <script type='text/javascript' src='//ads.servebom.com/tmnhead.js' async></script>
      <script type='text/javascript'>if(window.tmntag){try{tmntag.placement('2530');tmntag.start();}catch(err){console.log(err);}}</script>
   </head>
   <body class="home-page">
      <nav id="navigation" class="lyt-navigation">
         <a href="/" class="logo"></a>
         <div class="navigation-items">
            <div id="navigation-menu" class="navigation-menu">
               <button id="menu-trigger" class="menu-trigger"></button>
               <div class="navigation-menu-content">
                  <ul class="navigation-menu-list">
                     <li>
                        <a title="DIY Garage" class="menu-link" href="/c/DIY-Garage/65648623--">DIY Garage</a>
                     </li>
                     <li>
                        <a title="Interviews" class="menu-link" href="/c/Interviews/65648628--">Interviews</a>
                     </li>
                     <li>
                        <a title="Events" class="menu-link" href="/c/Events/65648627--">Events</a>
                     </li>
                     <li>
                        <a title="GameCrate" class="menu-link" href="/c/GameCrate/65648630--">GameCrate</a>
                     </li>
                     <li>
                        <a title="Products" class="menu-link" href="/c/Products/65705815--">Products</a>
                     </li>
                  </ul>
                  <ul class="navigation-menu-list">
                     <li>
                        <a title="Builds" class="menu-link" href="/c/Builds/65648625--">Builds</a>
                     </li>
                     <li>
                        <a title="What The Tech?" class="menu-link" href="/c/What-The-Tech/65648624--">What The Tech?</a>
                     </li>
                     <li>
                        <a title="Tech Life" class="menu-link" href="/c/Tech-Life/65648629--">Tech Life</a>
                     </li>
                     <li>
                        <a title="Recently Uploaded" class="menu-link" href="/c/Recently-Uploaded/66743495--">Recently Uploaded</a>
                     </li>
                  </ul>
               </div>
            </div>
            <a href="/search" class="go-search">
               <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="go-search-icon">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
               </svg>
               <span class="go-search-text">Search</span>
            </a>
            <a  id="cart" href="https://secure.newegg.com/Shopping/ShoppingCart.aspx" class="go-cart" target="_blank">
            <span class="go-cart-icon"></span>
            <span class="go-cart-bubble"></span>
            </a>
         </div>
      </nav>
      <h1 style="display: none">NewEgg TV</h1>
      <section id="main-content" class="lyt-main-content">
         <div id="channels-header" class="lyt-channels-header">
            <div class="row">
               <div id="channels-carousel" class="channels-carousel">
                  <div class="carousel">
                     <div class="carousel-item">
                        <a href="http://www.newegg.tv/DIY-Garage/Newegg-DIY-Garage-MSI-Aegis-Barebone-System/65648623--66436763">
                           <div class="mq1433">
                              <img class="banner-image" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/NETV_1433.jpg" alt="msi-aegis-final-cut-2">
                           </div>
                           <div class="mq850">
                              <img class="banner-image" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/NETV_850.jpg" alt="msi-aegis-final-cut-2">
                           </div>
                           <div class="mq500">
                              <img class="banner-image" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/NETV_500.jpg" alt="msi-aegis-final-cut-2">
                           </div>
                           <div class="mq355">
                              <img class="banner-image" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/NETV_355.jpg" alt="msi-aegis-final-cut-2">
                           </div>
                        </a>
                     </div>
                     <div class="carousel-item">
                        <a href="http://www.newegg.tv/c/DIY-Garage/65648623--">
                           <div class="mq1433">
                              <img class="banner-image" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/banner_2_1433.jpg" alt="DIY-Garage-by-date">
                           </div>
                           <div class="mq850">
                              <img class="banner-image" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/banner_2_850.jpg" alt="DIY-Garage-by-date">
                           </div>
                           <div class="mq500">
                              <img class="banner-image" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/banner_2_500.jpg" alt="DIY-Garage-by-date">
                           </div>
                           <div class="mq355">
                              <img class="banner-image" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/banner_2_355.jpg" alt="DIY-Garage-by-date">
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="left-arrow"></div>
                  <div class="right-arrow"></div>
               </div>
               <div class="channels-ad">
                  <div class="container desktop">
                     <script type='text/javascript'>if(window.tmntag){try{tmntag.adTag('purch_Y_R_1_1');}catch(err){console.log(err);}}</script>
                  </div>
               </div>
            </div>
         </div>
         <div class="channels lyt-channels">
            <div class="row">
               <h2 style="display:none">DIY Garage</h2>
               <a title="DIY Garage" href="/c/DIY-Garage/65648623--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/diy-garage.jpg');"></div>
               </a>
               <h2 style="display:none">Interviews</h2>
               <a title="Interviews" href="/c/Interviews/65648628--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/interviews.jpg');"></div>
               </a>
               <h2 style="display:none">Recently Uploaded</h2>
               <a title="Recently Uploaded" href="/c/Recently-Uploaded/66743495--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/recently-uploaded.jpg');"></div>
               </a>
            </div>
            <div class="row">
               <h2 style="display:none">GameCrate</h2>
               <a title="GameCrate" href="/c/GameCrate/65648630--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/game-crate.jpg');"></div>
               </a>
               <h2 style="display:none">Products</h2>
               <a title="Products" href="/c/Products/65705815--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/products.jpg');"></div>
               </a>
               <h2 style="display:none">Builds</h2>
               <a title="Builds" href="/c/Builds/65648625--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/builds.jpg');"></div>
               </a>
            </div>
            <div class="row">
               <h2 style="display:none">What The Tech?</h2>
               <a title="What The Tech?" href="/c/What-The-Tech/65648624--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/top-tech.jpg');"></div>
               </a>
               <h2 style="display:none">Tech Life</h2>
               <a title="Tech Life" href="/c/Tech-Life/65648629--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/digital-lifestyle.jpg');"></div>
               </a>
               <h2 style="display:none">Events</h2>
               <a title="Events" href="/c/Events/65648627--" class="channel">
                  <div class="poster-cover channel-img" style="background-image:url('//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/dist/img/channels/events.jpg');"></div>
               </a>
            </div>
         </div>
      </section>
      <div class="popup-overlay">
         <div class="popup">
            <div class="popup-overlay-popup-content" style="">
               <iframe frameborder="0" allowfullscreen="true" width="100%" height="100%" src=""></iframe>
            </div>
            <div class="popup-close"></div>
         </div>
      </div>
      <script type="text/javascript">
         (function() {
           var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
           ga.src = ("https:"== document.location.protocol ? "https" : "http") + "://a.tvpage.com/tvpa.min.js";
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
      </script>
      <script type="text/javascript">
         var _tvpa = _tvpa || [];
         _tvpa.push(["config", {"li":1758381,"gaDomain":"www.newegg.tv","logUrl":"\/\/api.tvpage.com\/v1\/__tvpa.gif"}]);
         _tvpa.push(["track","ci",{ li:1758381}]);
      </script>
      <script src="//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-1.8.2-min.js"></script>
      <script>
         TVSite['site-channels'] = '65648623,65648628,65648627,65648630,65705815,65648625,65648624,65648629';
         var debug = false,
             require = {
             baseUrl: function(){
               var path = '//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177' + '/';
               path += (debug ? 'src/js' : 'dist/js');
               return path;
             }()
           };
      </script>
      <script data-main="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/src/js/config.js" src="//do0631budpzeh.cloudfront.net/live/tvsite/1758381/www.newegg.tv/4820cfcdd2334fda8252fea358364177/src/js/libs/require/require.js"></script>
      <script>
         require(['lib-bootstrap'],function(){
           require([
             'owl',
             'velocity',
             'jquery.lazyload',
             'jquery.succinct',
             'jquery.tap'
           ],function(){
             window.Events = _.extend({}, Backbone.Events);
             if (window.TVSite && TVSite.config) {
               var t = TVSite.config.typeId,pt,pc,conf = TVSite.config;
               if (1 == t){pt = 'home'; pc = '{}';}
               if (2 == t){pt = 'playback'; pc = '{"products-1": 541,"videos-1": 543}';}
               if (3 == t){pt = 'search'; pc = '{"search-1":"552"}';}
               if (8 == t){pt = 'channel';pc = '{"search-1": 552,"videos-1": 543}';}
               if (6 == t){pt = 'not-found';pc = '{}';}
               require(['pages/'+pt],function(Page){ 
                 if (Page) new Page((JSON.parse(pc + ''))); 
               });
             }
           });
         });
      </script>
   </body>
</html>