{
  iframe: '<iframe src="about:blank" allowfullscreen frameborder="0" scrolling="no" gesture="media"></iframe>',
  base: {{- (partial (printf "%s/templates/base.html" .Type) .) -}},
  products: {
    featured: {{- (partial (printf "%s/templates/products/featured.html" .Type) .) -}},
    list: {{- (partial (printf "%s/templates/products/list.html" .Type) .) -}},
    item: {{- (partial (printf "%s/templates/products/item.html" .Type) .) -}}
  },
  videos: {
    list: {{- (partial (printf "%s/templates/videos/list.html" .Type) .) -}},
    item: {{- (partial (printf "%s/templates/videos/item.html" .Type) .) -}}
  },
  mobile: {
    iframe: '<iframe src="about:blank" allowfullscreen frameborder="0" scrolling="no" gesture="media"></iframe>',
    base: {{- (partial (printf "%s/mobile/templates/base.html" .Type) .) -}},
    products: {
      list: {{- (partial (printf "%s/mobile/templates/products/list.html" .Type) .) -}},
      item: {{- (partial (printf "%s/mobile/templates/products/item.html" .Type) .) -}}
    },
    videos: {
      list: {{- (partial (printf "%s/mobile/templates/videos/list.html" .Type) .) -}},
      item: {{- (partial (printf "%s/mobile/templates/videos/item.html" .Type) .) -}}
    }
  }
}