<div id="brands">
        <div class="row">
            <h2 class="latest-videos-header">
      <span class="channel-slider-header-link" href="#">Brands</span>
      <span class="latest-videos-browse-link">
      </span>
    </h2>
        </div>
        <div class="row">
            <div id="brands-logo-slider">
                <div>
                    <a href="/Canon/3827207--" class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/canon.svg');"></div>
                    </a>
                </div>
                <div>
                    <a href="/Zoom-TV/67168399--" class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/zoom.svg');"></div>
                    </a>
                </div>
                <div>
                    <a href="/Seagate-TV/68963355--" class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/seagate.svg');"></div>
                    </a>
                </div>
                <div>
                    <a href="/Wacom-TV/68963353--" class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/wacom.svg');"></div>
                    </a>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/nikon.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/jbl.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/pioneer.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/go-pro.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/bose.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/shure.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/sennheiser.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/plantronics.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/yamaha.jpg');"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url('/bandh/img/brands-logos/belkin.jpg');"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>