<div id="brands">
        <div class="row">
            <h2 class="latest-videos-header">
      <span class="channel-slider-header-link" href="#">Brands</span>
      <span class="latest-videos-browse-link">
      </span>
    </h2>
        </div>
        <div class="row">
            <div id="brands-logo-slider">
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/canon.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/zoom.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/nikon.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/jbl.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/pioneer.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/go-pro.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/bose.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/shure.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/sennheiser.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/plantronics.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/yamaha.jpg);"></div>
                    </div>
                </div>
                <div>
                    <div class="brand-logo" title="">
                        <div class="brand-logo-img" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/preview.bandh.tv/a8740e03d09531bb96c194335ddcbdd8/img/brands-logos/belkin.jpg);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>