<div class="row clearfix">
    <a class="ad-logo" href="/c/Zoom-TV/67168399--" title="Zoom TV">
        <div class="ad-logo-img-desktop" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/www.bandh.tv/cb94d44a0921cbffe86a1d724c0639f5/img/channels-poster/Pro-Audio-adImage.jpg);"></div>
        <div class="ad-logo-img-mobile" style="background-image:url(//do0631budpzeh.cloudfront.net/live/tvsite/1758169/www.bandh.tv/cb94d44a0921cbffe86a1d724c0639f5/img/channels-poster/Pro-Audio-adImage-mobile.jpg);"></div>
    </a>
</div>