/* arrows */
.slick-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  color: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #1a1a1a;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.slick-arrow > svg {
  fill: white;
}

.arrows-ready .slick-arrow {
  opacity: 1;
  visibility: visible;
}

.slick-arrow > i {
  width: 24px;
  height: 24px;
}

.slick-arrow.slick-disabled {
  opacity: 0.6 !important;
}

.slick-arrow:hover,
.slick-arrow:focus {
  outline: none;
}

.slick-arrow:not(.slick-disabled):hover {
  background-color: black;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0;
}

.carousel-arrows{
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*dots*/
.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.dots-center .slick-dots {
  text-align: center;
}

.carousel-dot:hover,
.carousel-dot:focus {
  outline: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li {
  margin-right: 5px; 
}

.slick-dots li:last-child {
  margin-right: 0;
}

.dots-center .slick-dots {
  text-align: center;
}

.no-dots .dots-target,
.no-dots .slick-dots {
  display: none;
}

.slick-dots li button {
  opacity: 0.5;
  width: 10px;
  height: 10px;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button:hover {
  opacity: 1;
}

.slick-dots li.slick-active button {
  opacity: 1;
}