* {
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
}

body  {
  margin: 0;
  height: 100%;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

header > h2 {
  margin: 0;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

footer {
  position: relative;
}

.tvp-clearfix:before, 
.tvp-clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

.tvp-sidebar-title {
  margin: 0;
  padding: 0 5px 10px 5px;
  font-weight: normal;
}

.loading .tvp-cover {
  display: block;
}

.tvp-cover {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: white;
  margin: auto;
  opacity: 0.70;
}

.tvp-video {
  cursor: pointer;
  padding: 0 5px;
  margin: 0 auto;
}

.tvp-video-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  pointer-events: none;
}

.tvp-video-image:before {
 display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.tvp-video-play {
  background-color: #fff;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
}

.tvp-video-play > polygon {
  pointer-events: none;
  fill: black;
}

.tvp-video-title {
  height: 30px;
  overflow: hidden;
  font-size: 12px;
  color: #333333;
  margin: 5px 0;
  line-height: 15px;
}

.tvp-play {
  background-color: #fff;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0.95;
  cursor: pointer;
  border-radius: 1px;
  border: 2px solid black;
}

.tvp-play > polygon {
  pointer-events: none;
}

.tvp-play-button-outer {
    position: absolute;
    margin: 25% auto;
    background-color: #00DBC0;
    cursor: pointer;
    border-radius: 80px;
    width: 37px;
    height: 37px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.tvp-play-button {
    margin: 0px 11px;
    top: 8px;
    position: relative;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #FFFFFF;
    opacity: .75; 
}

.tvp-video:hover .tvp-play-button-outer{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/**
             * (optional) define here the style definitions which should be applied on the slider container
             * e.g. width including further controls like arrows etc.
             */
.slider {
  position: relative;
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.frame {
  position: relative;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.slides {
  display: inline-block;
}

li {
  width:100%;
  position: relative;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  height: 130px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  background: #2E435A;
  color: #fff;
}

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next svg, .prev svg {
  width: 25px;
}