.show-on-hover .video-image-icon {
  opacity: 0;
  visibility: hidden;
}

.video-image-icon > polygon {
  pointer-events: none;
  transition: all .05s ease-in-out;
}

.video:hover .video-image-overlay {
  opacity: 1;
  visibility: visible;
}

.carousel-content {
  width: 1px;
  min-width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.carousel-content.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.mobile .tvp-carousel-arrow {
  display: none;
}

.tvp-carousel-arrow {
  transition: top .05s ease-in-out;
  position: absolute;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}

.tvp-carousel-arrow:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.tvp-carousel-arrow > svg {
  transition: all .05s ease-in-out;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.tvp-carousel-arrow > svg > path {
  pointer-events: none;
}

.video-metadata {
  display: none;
}

.metadata .video-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-metadata > div:last-child {
  text-align: right;
}