<div id="mobile-products-holder" class="mobile-products-holder">
    <div id="mobile-products" class="mobile-products clearfix">
        <div id="mobile-products-wrapper" class="mobile-products-wrapper"></div>
    </div>
</div>
<div id="desktop-products-holder" class="desktop-products-holder">
    <div id="desktop-products-scroller-holder" class="desktop-products-scroller-holder">
        <div id="desktop-products" class="desktop-products clearfix">
            <div id="desktop-products-wrapper" class="desktop-products-wrapper"></div>
        </div>
    </div>
    <div id="desktop-products-pop-ups" class="desktop-products-pop-ups"></div>
</div>