'<div id="skeleton" class="skeleton ready">' +
  
    '<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">' +
        '<div class="modal-dialog modal-lg" role="document">' +
            '<div class="modal-content">' +
              '<div class="modal-header widget-modal-header">' +
                '<h5 class="modal-title widget-modal-title" id="modalTitle">{title}</h5>' +
                '<button type="button" class="close clickable modal-close widget-modal-close" data-dismiss="modal" aria-label="Close">' +
                  '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="abs-center">'+
                    '<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>'+
                    '<path d="M0 0h24v24H0z" fill="none"/>'+
                  '</svg>'+
                '</button>' +
              '</div>' +
              '<div class="modal-body widget-modal-body">' +

                '<div class="row">' +
                  '<div class="col-10">'+
                    '<div class="player-holder fluid-y" rail-ref>'+
                      '<div id="player-el"></div>' +
                    '</div>' +
                  '</div>' +
                  '<div class="pl-0 col-2 o-hidden products-skel-delete">' +
                    {{ range seq 2 }}
                      '<div class="row">' +
                        '<div class="col-12 mb-2">' +
                          '<div class="product-image fluid-y skeleton-bg"></div>' +
                        '</div>' +
                      '</div>' +
                    {{ end }}
                  '</div>' +

                  '<div id="products" class="px-0 col-2" style="position: relative;"></div>' +
                  
                '</div>' +

              '</div>' +
            '</div>' +
        '</div>' +
    '</div>' +
  
'</div>'