div[class^="tvp-"] {
  box-sizing: border-box;
}

.tvp-iframe-holder {
  height: 0;
  position: relative;
  transition: height ease-out 0.0001s;
}

.tvp-iframe-holder.solo-append {
  padding-top: 56.25%;
  background-color: black;
}

.tvp-iframe-holder.inline {
  padding-top: 0;
}

.tvp-iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}