<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Solo Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section>
	<h2>Flavor A</h2>
	<iframe src="http://localhost:1313/tvpwidget/XXXXXX-solo/"></iframe>
</section>

<!-- <section>
	<h2>Flavor B</h2>
</section> -->

<section>
	<h2>Flavor C</h2>
	<iframe src="http://localhost:1313/tvpwidget/YYYYYY-solo/"></iframe>
</section>

<!-- <section>
	<h2>Flavor D</h2>
</section> -->

</body>
</html>