<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Solo Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>

<!-- placeholder -->
<div id="tvpembed-83094487"></div>
<!-- <div id="tvpembed-1"></div> -->
<!-- placeholder -->

<!-- code snippet -->
<script type="text/javascript">
  (function(d) {
    var s = d.createElement('script');
    s.src = '//localhost:1313/solo/lib.min.js';
    d.body.appendChild(s);
  })(document);
</script>
<!-- code snippet -->

</body>
</html>