{{- partial "settings.html" . -}}
<style>{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css-base.css" .Type ) .)) | safeCSS }}</style>
<div class="tvp-player">
<div id="tvp-player-el"></div>
<svg class="tvp-play" viewBox="0 0 200 200" alt="Play video"><polygon points="70, 55 70, 145 145, 100" fill="#e57211"></polygon></svg>
</div>
{{ with $.Scratch.Get "settings"}}
<div id="settings" data-settings='{{ . | jsonify }}'></div>
{{ end }}
{{if (isset ($.Scratch.Get "settings") "videoid") }}
<div id="video" data-video='{{ (index $.Site.Data.videos (printf "x%s" ($.Scratch.Get "settings").videoid)) | jsonify }}'></div>
{{end}}