{{- partial "settings.html" . -}}
{{ $id := ($.Scratch.Get "settings").name }}
<div id='{{ $id }}-holder' class="tvp-solo-holder">
    <iframe class="tvp-iframe" src="about:blank" allowfullscreen frameborder="0" scrolling="no"></iframe>
    <script id="{{ $id }}-script">(function(){

        var widgetId = "{{ $id }}";

        var isset = function(o,p){
            var val = o;
            if (p) val = o[p];
            return 'undefined' !== typeof val;
        };

        var extend = function(o) {
            o = o || {};
            for (var i = 1; i < arguments.length; i++) {
                if (!arguments[i])
                    continue;
                for (var key in arguments[i]) {
                    if (arguments[i].hasOwnProperty(key))
                        o[key] = arguments[i][key];
                }
            }
            return o;
        };

        //Dynamically creates an iframe & appends it's required CSS & JS libraries.
        var getIframeHtml = function(options) {
            var html = '<head><base target="_blank" /></head><body class="' + (options.className || '') + '" data-domain="' +
                (options.domain || '') + '" data-id="' + (options.id || '') + '" onload="' +
                'var d = document, head = d.getElementsByTagName(\'head\')[0],' +
                'addJS = function(u){ var s = d.createElement(\'script\');s.src=u;d.body.appendChild(s);},' +
                'addCSS = function(h){ var l = d.createElement(\'link\');l.type=\'text/css\';l.rel=\'stylesheet\';l.href=h;head.appendChild(l);};' +
                'window.TVP_DEBUG=' + config.debug + ';';

            var js = options.js || [];
            if ('function' === typeof js) {
                js = js();
            }

            js = js.filter(Boolean);

            for (var i = 0; i < js.length; i++) {
                html += 'addJS(\'' + js[i] + '\');';
            }

            var css = options.css || [];
            if ('function' === typeof css) {
                css = css();
            }

            css = css.filter(Boolean);
            for (var i = 0; i < css.length; i++) {
                html += 'addCSS(\'' + css[i] + '\');';
            }

            html += '"><style>' + (options.style || '') + '</style>';
            var content = options.html || '';
            if ('function' === typeof content) {
                html += content();
            } else if (content.trim().length) {
                html += content;
            }

            return html;
        };

        window.__TVPage__ = window.__TVPage__ || {};
        __TVPage__.config = __TVPage__.config || {};
        __TVPage__.config[widgetId] = extend({{ $.Scratch.Get "settings" }}, __TVPage__.config[widgetId]);

        var holder = document.getElementById(widgetId + "-holder");
        var iframe = holder.querySelector(".tvp-iframe");

        var config = __TVPage__.config[widgetId];
        config.widgetId = widgetId;
        config.debug = Number('{{ getenv "HUGO_DEBUG" }}') || 0;
        config.staticPath = "{{ .Type | absURL }}";
        config.cssPath = config.staticPath + (config.debug ? '/' : '/dist/') + 'css/';

        var linkId = "tvp-solo-host-css";
        if (!document.getElementById(linkId)) {
            var link = document.createElement("link");
            link.rel = "stylesheet";
            link.id = linkId;
            link.href = config.cssPath + "host" + (config.debug ? ".css" : ".min.css");
            document.getElementsByTagName("head")[0].appendChild(link);
        }

        var dataMethod = "static";
        if (isset(config, "channel") && isset(config.channel, "id")) {
            dataMethod = "dynamic"
        }

        if (/iPad|iPhone|iPod|iPhone Simulator|iPad Simulator/.test(navigator.userAgent) && !window.MSStream) {
            var onOrientationChange = function () {
                iframe.contentWindow.window.postMessage({
                    event: 'tvp_' + widgetId + ':holder_resize',
                    size: [holder.offsetWidth, Math.floor(holder.offsetWidth * (9 / 16))]
                },'*');
            };
            var orientationChangeEvent = 'onorientationchange' in window ? 'orientationchange' : 'resize';
            window.removeEventListener(orientationChangeEvent,onOrientationChange, false);
            window.addEventListener(orientationChangeEvent,onOrientationChange, false);
        }

        if ("dynamic" === dataMethod) {
            var iframeDoc = iframe.contentWindow.document;
            iframeDoc.open().write(getIframeHtml({
                style: '{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/options.css" .Type ) .)) | safeCSS }}',
                js: [
                    '//a.tvpage.com/tvpa.min.js',
                    'https://cdnjs.tvpage.com/tvplayer/tvp-'+config.player_version+'.min.js',
                    TVP_DEBUG ? staticPath + '/js/vendor/simple-scrollbar.min.js' : '',
                    TVP_DEBUG ? staticPath + '/js/libs/utils.js' : '',
                    TVP_DEBUG ? staticPath + '/js/libs/analytics.js' : '',
                    TVP_DEBUG ? staticPath + '/js/libs/player.js' : '',
                    TVP_DEBUG ? staticPath + '/js/menu.js' : '',
                    TVP_DEBUG ? staticPath + '/js/index.js' : '',
                    TVP_DEBUG ? '' : staticPath + '/dist/js/scripts.min.js'
                ],
                css: [
                    config.staticPath + '/css/styles.css'
                ],
                id: widgetId,
                className: dataMethod,
                domain: "{{ .Site.BaseURL }}"
            }));
            iframeDoc.close();
        } else {
            var spot = document.getElementById(widgetId);
            var url = spot ? spot.href : "";
            (-1 === navigator.userAgent.indexOf("MSIE")) ? iframe.src = url: iframe.location = url;
        }

}());</script>
</div>