{{- range $i, $def := (getJSON (printf "themes/tvpage/defaults/%s.json" .Type)).option -}}
{{- $.Scratch.SetInMap "settings" .code .value -}}
{{- end -}}
{{- range $i, $param := .Params -}}
{{- $.Scratch.SetInMap "settings" $i . -}}
{{- end -}}

<style type="text/css">{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div class="tvpplayer">
  <div id="tvpplayer-target"></div>
  <div id="tvpplayer-play"></div>
</div>
<script src="//a.tvpage.com/tvpa.min.js"></script>
<script src="//appcdn.tvpage.com/player/assets/tvp/tvp-{{ ($.Scratch.Get "settings").version }}-min.js"></script>
<script>;(function(root,d){
var mobile = /Mobi/.test(navigator.userAgent),
  redefine = function(o, pr){return 'undefined' !== typeof o[pr];},
  getAsset = function(vd){
    if (!vd || !vd.asset) return;
    var a = vd.asset;
    a.analyticsObj = {vd:vd.id,li:vd.loginId,pg:vd.parentId?vd.parentId:0};
    if (!a.sources) a.sources = [{ file: a.videoId }];
    a.type = a.type || 'youtube'; return a;
  },
  handlePlayButton = function(a,inst){
    var playButton = document.getElementById("tvpplayer-play");
    if (a.type == 'mp4'){
      playButton.style["display"] = "block";
      playButton.addEventListener('click', function(){
        this.style["display"] = "none";
        if(inst) inst.play();
      },false);
    }else{
      playButton.style["display"] = "none";
    }
  };

root.addEventListener('message',function(e) {
  var hostdomain = location.protocol + "//" + {{$.Param "hostdomain"}};
  if (!e || !redefine(e,'origin') || hostdomain !== e.origin || !redefine(e,'data')) return;
  var checks = 0,videos = e.data, index=0;
  (function libsPoller() {
    var deferred = setTimeout(function() {
      if ( !redefine(root,'_tvpa') || !redefine(root,'TVPage')) {
        if (++checks < 10) {
          libsPoller();
        } else { 
          console.log("reached checks limit"); 
        }
      } else {
        var lid = '{{.Param "loginid"}}';
        _tvpa.push(['config', {li:lid,gaDomain:'www.tvpage.tv','logUrl': '\/\/api.tvpage.com\/v1\/__tvpa.gif'}]);
        _tvpa.push(['track','ci',{li:lid}]);
        var instance, el;
        new TVPage.player({
          divId: "tvpplayer-target",
          controls: {
            active: true,
            floater: { removeControls: {{ ($.Scratch.Get "settings").removecontrols }}, transcript: {{ ($.Scratch.Get "settings").transcript }} }
          },
          poster: true,
          techOrder: 'html5,flash',
          analytics: { tvpa: {{ ($.Scratch.Get "settings").tvpa }} },
          apiBaseUrl: '//api.tvpage.com/v1',
          swf: '//appcdn.tvpage.com/player/assets/tvp/tvp-{{ ($.Scratch.Get "settings").version }}-flash.swf',
          onReady: function(e, player){
            instance = player;
            if (redefine(instance,'options') && redefine(instance.options,'DOMContainer')) {
              el = instance.options.DOMContainer;
            }
            var resize = function(){instance.resize(el.clientWidth, el.clientHeight);};
            resize();
            root.onresize = resize;
            el.getElementsByClassName('tvp-progress-bar')[0].style["background-color"] = {{($.Scratch.Get "settings").progresscolor}};
            if(mobile || !{{ ($.Scratch.Get "settings").autoplay }}){
              instance.cueVideo(getAsset(videos[index]));
              handlePlayButton(getAsset(videos[index]),instance);
            }else{
              instance.loadVideo(getAsset(videos[index]));
            } 
          },
          onStateChange: function(e){
            if (e && 'tvp:media:videoended' !== e) return;
            index = (index == videos.length - 1) ? 0 : index + 1;
            if(mobile || !{{ ($.Scratch.Get "settings").autonext }}){
              instance.cueVideo(getAsset(videos[index]));
              handlePlayButton(getAsset(videos[index]),instance);
            }else{
              instance.loadVideo(getAsset(videos[index]));
            } 
          }
        });
      }
    }, 180);
  })();

},false);

}(window,document));</script>