{{- range $i, $def := (getJSON (printf "themes/tvpage/defaults/%s.json" .Type)).option -}}
{{- $.Scratch.SetInMap "settings" .code .value -}}
{{- end -}}
{{- range $i, $param := .Params -}}
{{- $.Scratch.SetInMap "settings" $i . -}}
{{- end -}}

<style type="text/css">{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div class="tvpplayer">
  <div id="tvpplayer-target"></div>
  <div id="tvpplayer-play"></div>
</div>
<script src="//a.tvpage.com/tvpa.min.js"></script>
<script src="//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-{{ ($.Scratch.Get "settings").version }}-min.js"></script>
<script>;(function(){
  var mobile = /Mobi/.test(navigator.userAgent),
  redefine = function(o, pr){return 'undefined' !== typeof o[pr];},
  index = 0,
  getAsset = function(video){
    if (!video || !video.asset) return console.log("no asset");
    var asset = video.asset;
    asset.analyticsObj = { vd: video.id, li: video.loginId, pg: video.parentId ? video.parentId : 0 };
    if (!asset.sources) asset.sources = [{ file: asset.videoId }];
    asset.type = asset.type || 'youtube';
    return asset;
  },
  handlePlayButton = function(a,inst){
    var playButton = document.getElementById("tvpplayer-play");
    if (a.type == 'mp4'){
      playButton.style["display"] = "block";
      playButton.addEventListener('click', function(){
        this.style["display"] = "none";
        if(inst) inst.play();
      },false);
    }else{
      playButton.style["display"] = "none";
    }
  },
  checks = 0;
  (function libsPoller() {
    var deferred = setTimeout(function() {
      if (!redefine(window,'_tvpa') || !redefine(window,'TVPage')) {
        if (++checks < 10) {
          libsPoller();
        } else { 
          console.log("reached checks limit"); 
        }
      } else {
        _tvpa.push(["config", { li: '{{ .Param "loginid" }}', gaDomain:"www.tvpage.tv", "logUrl": "\/\/api.tvpage.com\/v1\/__tvpa.gif"}]);
        _tvpa.push(["track","ci",{ li: '{{ .Param "loginid" }}'}]);
        var instance, videos = [];
        new TVPage.player({
          divId: "tvpplayer-target",
          controls: {
            active: true,
            seekBar: { progressColor: {{ ($.Scratch.Get "settings").progresscolor }} },
            floater: { removeControls: {{ ($.Scratch.Get "settings").removecontrols }}, transcript: {{ ($.Scratch.Get "settings").transcript }} }
          },
          poster: true,
          techOrder: 'html5,flash',
          analytics: { tvpa: {{ ($.Scratch.Get "settings").tvpa }} },
          apiBaseUrl: '//app.tvpage.com',
          swf: '//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-{{ ($.Scratch.Get "settings").version }}-flash.swf',
          onReady: function(e, player){
            instance = player;
            var resize = function(){instance.resize(instance.options.DOMContainer.clientWidth, instance.options.DOMContainer.clientHeight);};
            resize();
            window.onresize = resize;
            instance.options.DOMContainer.getElementsByClassName('tvp-progress-bar')[0].style["background-color"] = instance.options.controls.seekBar.progressColor;

            var videoid;
            {{ with .Params.videoid }} videoid = {{ . }};{{ end }}
            var channelid;
            {{ with .Params.channelid }} channelid = {{ . }};{{ end }}

            if (!videoid && channelid) {
              var channelVideos = {{ index $.Site.Data.channelVideos (printf "x%s_page_1" .Params.channelid) }};
              videos = channelVideos.data;
            } else{
              videos.push({{ index $.Site.Data.videos (printf "x%s" .Params.videoid) }});
            }

            if(mobile || !{{ ($.Scratch.Get "settings").autoplay }}){
              instance.cueVideo(getAsset(videos[index]));
              handlePlayButton(getAsset(videos[index]),instance);
            }else{
              instance.loadVideo(getAsset(videos[index]));
            } 
          },
          onStateChange: function(e){
            if("undefined" !== typeof e && "tvp:media:videoended" == e){
              index = (index == videos.length - 1) ? 0 : index + 1;
              if(mobile || !{{ ($.Scratch.Get "settings").autonext }}){
                instance.cueVideo(getAsset(videos[index]));
                handlePlayButton(getAsset(videos[index]),instance);
              }else{
                instance.loadVideo(getAsset(videos[index]));
              }   
            }
          }
        });
      }
    }, 300);
  })();

}());</script>