{{ range $i, $def := (getJSON (printf "themes/tvpage/defaults/%s.json" .Type)).option }}
{{ $.Scratch.SetInMap "settings" .code .value }}
{{ end }}
{{ range $i, $param := .Params }}
{{ $.Scratch.SetInMap "settings" $i . }}
{{ end }}
{{ with .Param (.File.BaseFileName) }}
{{ range $i, $opt := . }}
{{ $.Scratch.SetInMap "settings" .code .value }}
{{ end }}
{{ end }}

<style type="text/css">{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div id="tvpembed-{{ .File.BaseFileName }}">
  <div class="tvpplayer">
    <div id="tvpembed-{{ .File.BaseFileName }}-target" class="tvpplayer-target"></div>
  </div>
</div>

<!-- tvpage analytics -->
<script>(function(d,t,id) {
  var s, as = d.getElementsByTagName(t)[0];
  if (d.getElementById(id)) return;
  s = d.createElement(t); s.id = id;
  s.src = "//a.tvpage.com/tvpa.min.js";
  as.parentNode.insertBefore(s, as);
}(document, 'script', 'tvpage-analytics'));</script>

<!-- tvpage library -->
<script>(function(d,t,id) {
  var s, as = d.getElementsByTagName(t)[0];
  if (d.getElementById(id)) return;
  s = d.createElement(t); s.id = id;
  s.src = '//appcdn.tvpage.com/player/assets/tvp/tvp-{{ ($.Scratch.Get "settings").version }}-min.js';
  as.parentNode.insertBefore(s, as);
}(document, 'script', 'tvpage-player'));</script>

<script type="text/javascript">
  window.__TVPage__ = window.__TVPage__ || {};
  __TVPage__.config = __TVPage__.config || [];
  __TVPage__.config.push(
    {
      loginid: {{ .Site.Params.loginid }},
      id: "tvpembed-{{ .File.BaseFileName }}",
      settings: {{ $.Scratch.Get "settings" }},
      attributes: {
        referenceIds: ["02","01"],
        category: [{
          value: "coffee",
          label: "main_category"
        }]
      }
    }
  );
  (function(d) {
    var s = d.createElement('script');
    s.src = '//localhost:1313/solo/lib.min.js';
    d.body.appendChild(s);
  })(document);
</script>