{{ range $i, $def := (getJSON (printf "themes/tvpage/defaults/%s.json" .Type)).option }}
{{ $.Scratch.SetInMap "settings" .code .value }}
{{ end }}
{{ range $i, $param := .Params }}
{{ $.Scratch.SetInMap "settings" $i . }}
{{ end }}
{{ range $i, $opt := (where (.Param (.File.BaseFileName)) "for" "player") }}
{{ $.Scratch.SetInMap "settings" .code .value }}
{{ end }}

<style type="text/css">{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div id="{{ .File.BaseFileName }}">
  <div class="tvpplayer">
  	<div id="{{ .File.BaseFileName }}-target"></div>
  </div>
</div>

<!-- tvpage analytics -->
<script>(function(d,t,id) {
  var s, as = d.getElementsByTagName(t)[0];
  if (d.getElementById(id)) return;
  s = d.createElement(t); s.id = id;
  s.src = "//a.tvpage.com/tvpa.min.js";
  as.parentNode.insertBefore(s, as);
}(document, 'script', 'tvpage-analytics'));</script>

<!-- tvpage library -->
<script>(function(d,t,id) {
  var s, as = d.getElementsByTagName(t)[0];
  if (d.getElementById(id)) return;
  s = d.createElement(t); s.id = id;
  //s.src = "//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-1.8.3-min.js";
  s.src = "localhost:1313/solo/player-debug-lib.js";
  as.parentNode.insertBefore(s, as);
}(document, 'script', 'tvpage-player'));</script>

<script>
var process = function(video) {
  if (!video || !video.asset) return console.log("no asset");
  var asset = video.asset;
  asset.analyticsObj = { vd: video.id, li: video.loginId, pg: video.parentId ? video.parentId : 0 };
  if (!asset.sources) asset.sources = [{ file: asset.videoId }];
  asset.type = asset.type || 'youtube';
  return asset;
};

var checks = 0;
(function libsPoller() {
  var deferred = setTimeout(function() {
    if ("undefined" === typeof window._tvpa || "undefined" === typeof window.TVPage) {
      if (++checks < 10) {
        libsPoller();
      } else { console.log("reached checks limit"); }
    } else {
      _tvpa.push(["config", { li: '{{ .Param "loginid" }}', gaDomain:"www.tvpage.tv", "logUrl": "\/\/api.tvpage.com\/v1\/__tvpa.gif"}]);
      _tvpa.push(["track","ci",{ li: '{{ .Param "loginid" }}'}]);

      new TVPage.player({
        divId: "{{ .File.BaseFileName }}-target",
        controls: {
          active: true,
          seekBar: { progressColor: '#273691' },
          floater: { removeControls: ['tvplogo', 'hd'], transcript: false }
        },
        poster: true,
        techOrder: 'html5,flash',
        analytics: { tvpa: false },
        apiBaseUrl: '//app.tvpage.com',
        swf: "//d2kmhr1caomykv.cloudfront.net/player/assets/tvp/tvp-1.8.3-flash.swf",
        onReady: function(e, pl){
          pl.resize(640, 380);
          pl.loadVideo(process( {{ index $.Site.Data.videos (printf "x%s" .Params.videoid) }}  ));
        }
      });
    }
  }, 300);
})();

</script>