{{ $config := .Params.config }}
{{ $videos := (index $.Site.Data.videos (printf "x%s" $config.videoId)) }}
<style>{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div id="tvplayerholder"></div>

<script type="text/javascript">
window.__TVPage__ = window.__TVPage__ || {};
window.__TVPage__.config = __TVPage__.config || {};
window.__TVPage__.config.data = {
  video: JSON.parse({{ $videos | jsonify }})
};

{{ if isset .Params.config "autoplay" }}
window.__TVPage__.config.data.autoplay = {{ .Params.config.autoplay }};
{{end}}

{{ if isset .Params.config "autoReplay" }}
window.__TVPage__.config.data.autoReplay = {{ .Params.config.autoReplay }};
{{end}}

</script>