{{ $config := .Params.config }}
{{ $videos := (index $.Site.Data.videos (printf "x%s" $config.videoId)) }}
{{ $autoplay := $config.autoplay }}
{{ $autoReplay := $config.autoReplay }}
<style>{{ replaceRE " +" " " (replaceRE "\n" "" (partial (printf "%s/css.html" .Type ) .)) | safeCSS }}</style>
<div id="tvplayerholder"></div>

<script type="text/javascript">
window.__TVPage__ = window.__TVPage__ || {};
window.__TVPage__.config = __TVPage__.config || {};
window.__TVPage__.config.data = {
	video: JSON.parse({{ $videos | jsonify }}),
	autoplay: {{ $autoplay }},
	autoReplay: {{ $autoReplay }}
};
</script>