  <div id="tvpchg-slider" class="slick-initialized slick-slider" role="toolbar"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
    <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3402px; left: -729px;" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 243px;">
      <div data-tvp-video-id="6286093" data-index="5" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/cKJSvg3OJOQ/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">5-Speed Hand Blender | KitchenAid</span>
        </p>
      </div>
    </div><div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 243px;">
      <div data-tvp-video-id="6286092" data-index="6" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/WixCXDshYkI/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">5 Speed Blender | KitchenAid</span>
        </p>
      </div>
    </div><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 243px;">
      <div data-tvp-video-id="6286103" data-index="7" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/

             /hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">In the Chef’s Corner: Hand Blender | KitchenAid</span>
        </p>
      </div>
    </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 243px;">
      <div data-tvp-video-id="80590166" data-index="0" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/hZaL1aJEKkw/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">the Breville  Boss To Go Personal Blender 30 sec TVC</span>
        </p>
      </div>
    </div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 243px;">
      <div data-tvp-video-id="6660581" data-index="1" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/R0iTVBQWMsA/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">Homemade Peanut Butter Recipe</span>
        </p>
      </div>
    </div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 243px;">
      <div data-tvp-video-id="67505886" data-index="2" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/7veaH1pi1b4/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">Iced Chai Tea using the Compact Portable Blending/Chopping System</span>
        </p>
      </div>
    </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 243px;">
      <div data-tvp-video-id="67505887" data-index="3" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/I2QZy4tF998/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">Breakfast Shake using the Compact Portable Blending/Chopping System</span>
        </p>
      </div>
    </div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 243px;">
      <div data-tvp-video-id="6410577" data-index="4" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/bOq_iZfIBRo/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">The KitchenAid® 2-Speed Hand Blender</span>
        </p>
      </div>
    </div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width: 243px;">
      <div data-tvp-video-id="6286093" data-index="5" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/cKJSvg3OJOQ/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">5-Speed Hand Blender | KitchenAid</span>
        </p>
      </div>
    </div><div class="slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide06" style="width: 243px;">
      <div data-tvp-video-id="6286092" data-index="6" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/WixCXDshYkI/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">5 Speed Blender | KitchenAid</span>
        </p>
      </div>
    </div><div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide07" style="width: 243px;">
      <div data-tvp-video-id="6286103" data-index="7" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/AceQ0Sdshwc/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">In the Chef’s Corner: Hand Blender | KitchenAid</span>
        </p>
      </div>
    </div><div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 243px;">
      <div data-tvp-video-id="80590166" data-index="0" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/hZaL1aJEKkw/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">the Breville  Boss To Go Personal Blender 30 sec TVC</span>
        </p>
      </div>
    </div><div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 243px;">
      <div data-tvp-video-id="6660581" data-index="1" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/R0iTVBQWMsA/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">Homemade Peanut Butter Recipe</span>
        </p>
      </div>
    </div><div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1" style="width: 243px;">
      <div data-tvp-video-id="67505886" data-index="2" class="tvp-video col-3">
        <div class="tvp-video-image" style="background-image:url('https://i.ytimg.com/vi/7veaH1pi1b4/hqdefault.jpg'); ">
          <div class="video-overlay"></div>
          <div class="tvp-video-play-button"></div>
        </div>
        <p><span class="tittle">Iced Chai Tea using the Compact Portable Blending/Chopping System</span>
        </p>
      </div>
    </div></div></div>
    <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li></ul>
  <div class="tvpchg-slider-shield"></div>
  </div>