.tvpframeloader {
  box-sizing: border-box;
}

.tvpframeloader:before,
.tvpframeloader:after{
  display: table;
  content: " ";
  clear: both;
  box-sizing: border-box;
}

.tvpframeloader-item {
  float: left;
 box-sizing: border-box;
 width: 32%;
 margin-right:2%;
}

.tvpframeloader-item:last-child {
 margin-right:0;
}

.tvpframeloader-item-img {
    box-sizing: border-box;
    background-color: #f7f7f7;
    padding-top: 56.25%;
    border: 1px solid #e8e8e8;
}

.tvpframeloader-item-txt {
  box-sizing: border-box;
  height: 9px;
  background-color: #f7f7f7;
  margin-top: 10px;
  border: 1px solid #e8e8e8;
}

.tvpframeloader-item-txt-half {
    box-sizing: border-box;
    height: 9px;
    background-color: #f7f7f7;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
    width: 40%;
}