.tvp-carousel-title {
    padding: {{ ($.Scratch.Get "settings").title_padding }};
    color: {{ ($.Scratch.Get "settings").title_color }};
    font-size: {{ ($.Scratch.Get "settings").title_font_size }};
    background: {{ ($.Scratch.Get "settings").title_background }};
    text-align: {{ ($.Scratch.Get "settings").title_text_align }};
}

.tvp-video {
    padding-left: {{ ($.Scratch.Get "settings").item_padding_left }};
    padding-right: {{ ($.Scratch.Get "settings").item_padding_right }};
}

.tvp-video-play {
    background-color: {{ ($.Scratch.Get "settings").item_play_button_background_color }};
    width: {{ ($.Scratch.Get "settings").item_play_button_width }};
    height: {{ ($.Scratch.Get "settings").item_play_button_height }};
    border-radius: {{ ($.Scratch.Get "settings").item_play_button_border_radius }};
}

.tvp-video-play > polygon {
    fill: {{ ($.Scratch.Get "settings").item_play_button_icon_color }};
}

.tvp-video-title {
    font-size: {{ ($.Scratch.Get "settings").item_title_font_size }};
    text-align: {{ ($.Scratch.Get "settings").item_title_text_align }};
    color: {{ ($.Scratch.Get "settings").item_title_font_color }};
    margin: {{ ($.Scratch.Get "settings").item_title_margin }};
    padding: {{ ($.Scratch.Get "settings").item_title_padding }};
}

.tvp-video-metadata {
    font-size: {{ ($.Scratch.Get "settings").item_metadata_font_size }};
    color: {{ ($.Scratch.Get "settings").item_metadata_font_color }};
}

.tvp-video-metadata > div {
    padding: {{ ($.Scratch.Get "settings").item_metadata_padding }};
}

.tvp-video-image-overlay {
    background: {{ ($.Scratch.Get "settings").item_image_overlay_color }};
}

@media (min-width: 768px) {
    .tvp-video:hover .tvp-video-play {
        background-color: {{ ($.Scratch.Get "settings").item_play_button_hover_color }};
    }

    .tvp-video:hover .tvp-video-play > polygon {
        fill: {{ ($.Scratch.Get "settings").item_play_button_icon_hover_color }};
    }
}

.tvp-carousel-content {
    background: {{ ($.Scratch.Get "settings").content_background }};
    border: {{ ($.Scratch.Get "settings").content_border }};
}

.tvp-carousel-arrow {
    top: {{ ($.Scratch.Get "settings").arrow_top }};
    width: {{ ($.Scratch.Get "settings").arrow_size }};
    border: {{ ($.Scratch.Get "settings").arrow_border }};
}

@media (min-width: 480px) {
    .tvp-carousel-arrow {
        width: {{ ($.Scratch.Get "settings").arrow_size_480 }};
    }
}

.tvp-carousel-arrow > svg {
    background: {{ ($.Scratch.Get "settings").arrow_background_color }};
    fill: {{ ($.Scratch.Get "settings").arrow_icon_color }};
}

.tvp-carousel-arrow:hover > svg {
    background: {{ ($.Scratch.Get "settings").arrow_background_color_hover }};
    fill: {{ ($.Scratch.Get "settings").arrow_icon_color_hover }};
}

.tvp-carousel-arrow.prev {
    fill: {{ ($.Scratch.Get "settings").arrow_icon_color }};
}

.tvp-carousel-arrow.prev {
    left: {{ ($.Scratch.Get "settings").arrow_prev_left }};
}

.tvp-carousel-arrow.next {
    right: {{ ($.Scratch.Get "settings").arrow_next_right }};
}

.tvp-play {
    width: {{ ($.Scratch.Get "settings").play_button_width }};
    height: {{ ($.Scratch.Get "settings").play_button_height }};
    background-color: {{ ($.Scratch.Get "settings").play_button_background_color }};
    border: {{ ($.Scratch.Get "settings").play_button_border }};
    border-radius: {{ ($.Scratch.Get "settings").play_button_border_radius }};
}

.tvp-play > polygon {
    fill: {{ ($.Scratch.Get "settings").play_button_icon_color }};
}

.tvp-product {
    border: {{ ($.Scratch.Get "settings").product_thumbnail_border }};
}

.tvp-product-image-overlay {
    background-color: {{ ($.Scratch.Get "settings").product_thumbnail_image_overlay_color }};
}

.tvp-product-popup {
    width: {{ ($.Scratch.Get "settings").product_popup_width }};
    background: {{ ($.Scratch.Get "settings").product_popup_background }};
    padding: {{ ($.Scratch.Get "settings").product_popup_padding }};
    border: {{ ($.Scratch.Get "settings").product_popup_border }};
}

.tvp-product-cta {
    background: {{ ($.Scratch.Get "settings").product_popup_cta_background }};
    border: {{ ($.Scratch.Get "settings").product_popup_cta_border }};
    color: {{ ($.Scratch.Get "settings").product_popup_cta_font_color }};
    text-transform: {{ ($.Scratch.Get "settings").product_popup_cta_text_transform }};
    font-size: {{ ($.Scratch.Get "settings").product_popup_cta_font_size }};
    padding: {{ ($.Scratch.Get "settings").product_popup_cta_padding }};
}

.tvp-product-cta:hover {
    background: {{ ($.Scratch.Get "settings").product_popup_cta_background_hover }};
}