'<div class="carousel-title">{title_text}</div>' +
'<div id="skeleton" class="skeleton">' +
  {{ range (seq ($.Scratch.Get "settings").items_per_page) }}
    '<div class="video video-{{ . }}">' +
      '<div class="video-image">' +
      '<svg class="video-image-icon" viewBox="0 0 200 200" alt="Play video">' +
        '<polygon points="70, 55 70, 145 145, 100"></polygon>' +
      '</svg>' +
      '</div>' +
      '<p class="video-title"></p>' +
    '</div>' +
  {{ end }}
'</div>' +
'<div id="carousel" class="hide">' +
  '<div class="carousel-content"></div>' +
  '<div class="tvp-carousel-arrow prev hide">' +
    '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
      '<path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z" />' +
      '<path d="M0-.5h24v24H0z" fill="none" />' +
    '</svg>' +
  '</div>' +
  '<div class="tvp-carousel-arrow next hide">' +
    '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
      '<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />' +
      '<path d="M0-.25h24v24H0z" fill="none" />' +
    '</svg>' +
  '</div>' +
'</div>'